Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

Update 11.2.10.1
  debian/changelog
Due: none

change REPO_URL so we can use it for all YNH projects, logc doesn't exist
  maintenance/make_changelog.sh
Due: none

helpers: ynh_remove_systemd_config: Also remove the systemd service from YunoHost.
  helpers/systemd
Due: test-helpers

Add main domain into hosts file
  hooks/conf_regen/43-dnsmasq
Due: none

Add autoupdate.version_regex to the doc
  src/utils/resources.py
Due: test-app-resources

update actions/checkout & peter-evans/create-pull-request to nodejs20
  .github/workflows/codeql.yml
  .github/workflows/n_updater.yml
Due: none

add xz decompression for sources
  helpers/utils
Due: test-helpers

Upgrade n to v
  helpers/vendor/n/n
Due: none

Fix readonly questions (display_text, etc): the code did not handle them anymore on the app side
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Fix logs directories access
  helpers/logrotate
Due: test-helpers

[fix] List root ssh keys
  src/ssh.py
Due: test-i18n-keys

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Avoid to override new settings
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Add generales var in config panel like domain, path, etc
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Use signe quote to return value to config panel
  helpers/config
Due: test-helpers

Translations update from Weblate (#1782)
  locales/de.json
Due: autofix-translated-strings

Update make_changelog.sh
  maintenance/make_changelog.sh
Due: none

Update 11.2.10.2
  debian/changelog
Due: none

11.2.10.3
  debian/changelog
Due: none

remove "co-authored" lines
  maintenance/make_changelog.sh
Due: none

[CI] Format code with Black
  src/utils/resources.py
Due: test-app-resources

break line
  src/utils/resources.py
Due: test-app-resources

dog generation: fix markdown
  doc/generate_resource_doc.py
  doc/helper_doc_template.md
  src/utils/resources.py
Due: test-app-resources

Fix _app_upgradable() for legacy/old apps: settings was not set
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Change some app_corrupt_source words to be more explicit
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/ko.json
  locales/sk.json
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings
