Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

__init__.py: init_logging: Simplify logic of code
  src/__init__.py
Due: test-i18n-keys

typing: Remove useless type: ignore comments
  src/permission.py
  src/utils/configpanel.py
  src/utils/udisks2_interfaces.py
Due: test-i18n-keys

typing: ignore some difficult typing corner cases for now
  src/utils/configpanel.py
Due: none

__init__.py: Add typing to functions
  src/__init__.py
Due: test-i18n-keys

permission: import APPS_CATALOG_LOGOS from apps_catalog, not apps
  src/permission.py
Due: test-i18n-keys

typing: Add typing and some docstrings to __init__, app_catalog, utils.error, utils.i18n
  src/__init__.py
  src/app_catalog.py
  src/utils/error.py
  src/utils/i18n.py
Due: test-i18n-keys

Fix documentation for ynh_redis_remove_db (#2135)
  helpers/helpers.v2.1.d/redis
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Apply suggestions from code review
  locales/fr.json
Due: autofix-translated-strings

Translations update from Weblate (#2133)
  locales/fr.json
Due: autofix-translated-strings

document supported CPU archs (#2127)
  src/utils/resources.py
Due: none

Fix mypy issues
  locales/ar.json
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/nb_NO.json
  locales/oc.json
  locales/pt.json
  locales/uk.json
  locales/zh_Hans.json
  src/user.py
Due: autofix-translated-strings, test-i18n-keys

quality: moar typing for app.py
  src/app.py
Due: test-i18n-keys

apps: further refactor app_list / app_info / list_upgradable_apps and the app_upgradable stuff to add a mechanism to use a custom branch as upgrade source
  share/actionsmap.yml
  src/app.py
  src/tools.py
Due: test-i18n-keys

apps: propagate upgradability changes to app_upgrade logic
  src/app.py
Due: test-i18n-keys

apps: be able to call get_manifest_of_app with an app id instead of a path because it feels more intuitive in many situation and should reduce complexity a bit
  src/app.py
Due: test-i18n-keys

apps: propagate upgradabily changes to config panel logic
  locales/en.json
  share/config_app.toml
  src/app.py
Due: autofix-translated-strings, test-i18n-keys

apps: simplify the way we handle app requirement test results, not sure why we wanted to keep only the i18n key and dict instead of the actual message right away...
  locales/en.json
  src/app.py
Due: autofix-translated-strings, test-i18n-keys

apps: misc cleanups
  src/app.py
  src/diagnosers/80-apps.py
Due: test-i18n-keys

apps: hmmmm change again the way we compute upgrade infos, generate the messages directly instead of expecting the 'front' part to do it, to simplify stuff
  src/app.py
Due: test-i18n-keys

apps: trash the 'operation' part of the app config panel which is too convoluted, we'll handle directly in the front
  locales/en.json
  share/config_app.toml
  src/app.py
Due: autofix-translated-strings, test-i18n-keys

update: group system packages per category to try to improve UI/UX ? (avoid having an epic list of random packages, have something a bit more semantic and understandable idk)
  src/tools.py
  src/utils/system.py
Due: test-i18n-keys

upgrades: Iterate on the 'package grouping' mechanism
  src/utils/system.py
Due: none

tools/update: add an independent route for the web API to list available updates without refreshing the apt cache or catalog, useful for the web admin UI/UX
  share/actionsmap.yml
  src/tools.py
Due: test-i18n-keys

apps/update: gracefully handle lack on internet connectivity when checking for app's pre-upgrade notifications?
  src/tools.py
Due: test-i18n-keys

i18n: tweak / improve en and fr strings
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

tools/update: returns since when the last apt / catalog update happened, useful for the web admin UI/UX
  src/tools.py
Due: test-i18n-keys

Unused i18n string
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

apps: tweak again the collapse/title for main permission in config panel
  src/app.py
Due: test-i18n-keys

Fix flake8 errors
  src/tools.py
Due: test-i18n-keys

apps: fix a small inconcistency when checking requirements for multi-instance apps
  src/app.py
Due: test-i18n-keys

i18n: misc tweaks in french translation
  locales/fr.json
Due: autofix-translated-strings

apps: tweak again the way we fetch the pre-upgrade notification to match the API/webadmin needs + add a cache mechanism for _git_clone_light
  share/actionsmap.yml
  src/app.py
  src/tools.py
Due: test-i18n-keys

Repropagate the changes about relative imports
  src/tools.py
Due: test-i18n-keys

apps: fix test, bit of simplification / clarification for app_upgrade code
  src/app.py
  tests/test_apps.py
Due: test-i18n-keys

Moar linter / typing fixes
  src/app.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
