Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Add migration for ldap maildrop field
  src/migrations/m0039_migrate_ldap_maildrop_filed.py
Due: none

Add missing locale
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

use single quote to fix syntax error in f-string with python 3.11
  src/utils/resources.py
Due: none

test optional gpg key for apt extra repo
  tests/test_app_resources.py
Due: none

Add missing user mapping in dovecot
  conf/dovecot/dovecot.conf.j2
Due: none

fix(dyndns): update conditions in case of single dns_exposure
  src/dyndns.py
Due: test-i18n-keys

enh(dyndns): conditional infra and dns calls
  src/dyndns.py
Due: test-i18n-keys

enh(apt): prevent php-litespeed installation
  debian/control
Due: none

Fix migration conflict
  locales/en.json
  src/migrations/m0040_migrate_ldap_maildrop_filed.py
Due: autofix-translated-strings, test-i18n-keys

fix(disks): unmask and start udisks2 service
  src/service.py
  src/tools.py
Due: test-i18n-keys

pyvenv migration: use `python -m venv --upgrade`
  src/migrations/python.py
Due: none

pyvenv migration: remove pip freeze backup during trixie migration
  src/migrations/m0036_migrate_to_trixie.py
Due: none

pyvenv migration: install using --no-build-isolation
  src/migrations/python.py
Due: none

pyvenv migration: run pip freeze with --path and install the result
  locales/en.json
  src/migrations/python.py
Due: autofix-translated-strings, test-i18n-keys

pyvenv migration: Separate installation of dependencies and editables
  src/migrations/python.py
Due: none

pyvenv migration: Fix pip version detection
  src/migrations/python.py
Due: none

pyvenv migration: Add debug log indicating whether pip is upgraded or not
  src/migrations/python.py
Due: none

pyvenv migration: Few fixes
  src/migrations/python.py
Due: none

pyvenv migration: support for include_system_site_packages
  locales/en.json
  src/migrations/python.py
Due: autofix-translated-strings, test-i18n-keys

pyvenv migration: Fix typos in variables name related to pyvenv
  src/migrations/python.py
Due: none

pyvenv migration: take advantage of the packaging lib, much simpler
  src/migrations/python.py
Due: none

pyvenv migration: preserve ownership of the venv
  src/migrations/python.py
Due: none

pyvenv migration: When installing deps fails for an app, continue
  src/migrations/python.py
Due: none

pyvenv migration: Allow to rerun the migration
  src/migrations/python.py
Due: none

Pyvenv migration: don't cleanup when including system site packages
  src/migrations/python.py
Due: none

pyvenv migration: use capture group when extracting the version
  src/migrations/python.py
Due: none

pyvenv migration: skip when upgrade when not necessary
  src/migrations/python.py
Due: none

pyvenv migration: remove pip freeze backup during trixie migration
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

migrations: Add --skip-postmigrations option
  locales/en.json
  share/actionsmap.yml
  src/migrations/0036_migrate_to_trixie.py.disabled
  src/tools.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Remove writable permissions on various paths
  locales/en.json
  src/migrations/0037_fix_bad_permissions.py
Due: autofix-translated-strings, test-i18n-keys

[enh] Instruction already done in finally part
  src/utils/file_utils.py
Due: none

[fix] Snapshots not prune from permission migration
  src/migrations/0037_fix_bad_permissions.py
Due: none

[fix][i18n] Typo
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

dns: push: Join TXT chunks split by registrars before comparing (#2342)
  src/dns.py
  tests/test_dns.py
Due: test-i18n-keys

Fix yunohost-diagnosis.service security restrictions in LXC context
  conf/yunohost/yunohost-diagnosis.service
Due: none

Add one more check to ensure that no app is declaring postgresql in the app resource
  src/migrations/postgresql.py
Due: none

Normalize casing of `--force` shorthand in `app` cli
  share/actionsmap.yml
Due: none

[fix] Ensure default umask 0o022 is set before running request
  src/__init__.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
