Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Fix apps tests?
  tests/test_apps.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app.py
  src/certificate.py
  src/diagnosers/80-apps.py
  src/dns.py
  src/domain.py
  src/permission.py
  src/regenconf.py
  src/tools.py
  src/user.py
  src/utils/form.py
  src/utils/ldap.py
  src/utils/system.py
  tests/test_apps.py
Due: test-i18n-keys

Update translation files
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/hu.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/te.json
  locales/tr.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings

Update certificate.py
  src/certificate.py
Due: test-i18n-keys

refactor: split low-level app utils from app.py to a new utils/app_utils.py
  src/app.py
  src/app_catalog.py
  src/backup.py
  src/domain.py
  src/migrations/0027_migrate_to_bookworm.py
  src/permission.py
  src/tools.py
  src/utils/app_utils.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app.py
  src/backup.py
  src/utils/app_utils.py
Due: test-i18n-keys

app_utils: use Path() for _parse_app_doc_and_notifications
  src/app.py
  src/utils/app_utils.py
Due: test-i18n-keys

perf: cache the results of _get_manifest_of_app ?
  src/utils/app_utils.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/app_utils.py
Due: none

Unecessary typing imports
  src/utils/udisks2_interfaces.py
Due: none

Fix plenty of typing issues, followup of moving the moulinette utils etc
  src/app.py
  src/app_catalog.py
  src/authenticators/ldap_ynhuser.py
  src/certificate.py
  src/dns.py
  src/domain.py
  src/hook.py
  src/permission.py
  src/portal.py
  src/regenconf.py
  src/tools.py
  src/utils/app_utils.py
  src/utils/configpanel.py
  src/utils/file_utils.py
  src/utils/form.py
  src/utils/process.py
  src/utils/system.py
  src/utils/yunopaste.py
Due: test-i18n-keys

Add new test files from moulinette to test.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Disable nonworking coverage test
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Forgot to propagate import changes to tests/
  tests/test_app_catalog.py
  tests/test_app_config.py
  tests/test_app_resources.py
  tests/test_apps.py
  tests/test_backuprestore.py
  tests/test_dns.py
Due: none

Typoz etc
  src/backup.py
  src/domain.py
  src/user.py
  src/utils/app_utils.py
  tests/conftest.py
  tests/test_apps.py
  tests/test_appurl.py
  tests/test_dns.py
Due: test-i18n-keys

Moaaar fixes
  tests/test_apps.py
  tests/test_file_utils.py
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app.py
  src/app_catalog.py
  src/domain.py
  src/firewall.py
  src/utils/file_utils.py
  src/utils/logging.py
  src/utils/misc.py
  src/utils/process.py
  src/utils/system.py
  src/utils/udisks2_interfaces.py
  tests/conftest.py
  tests/test_apps.py
  tests/test_file_utils.py
Due: test-i18n-keys

maintenance: update license/copyright headers
  src/utils/file_utils.py
  src/utils/logging.py
  src/utils/misc.py
  src/utils/process.py
Due: none

Update changelog for 12.1.7
  debian/changelog
Due: none

fix/tools_update: return upgradable apps, not all apps
  src/tools.py
Due: test-i18n-keys

Fix remaining typing issues
  src/domain.py
  src/tools.py
  src/user.py
  src/utils/configpanel.py
  src/utils/error.py
  src/utils/form.py
  src/utils/process.py
  src/utils/sse.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/domain.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-i18n-keys

Fix remaining typing issues²
  pyproject.toml
  src/utils/process.py
  src/utils/sse.py
Due: none

Fix remaining typing issues³
  src/domain.py
Due: test-i18n-keys

Fix remaining linter issues⁴
  src/utils/dns.py
Due: none

packagingv3: factorize/generalize _run_script from appresource to be able to run app scripts snippets, in particular the future v3 app functions build/init etc
  src/utils/app_utils.py
  src/utils/resources.py
Due: none

packagingv3: fix the way we run script as non-root in hook_exec_bash
  src/hook.py
Due: test-i18n-keys

packagingv3: tweaks to be able to run composer as non-root
  helpers/helpers.v2.1.d/composer
  helpers/helpers.v2.1.d/sources
  src/utils/resources.py
Due: none

packagingv3: Basis for new declarative configuration mechanism
  locales/en.json
  src/utils/app_utils.py
  src/utils/configurations.py
Due: autofix-translated-strings, test-i18n-keys

packagingv3: Further implement the packagingv3 install flow
  src/app.py
Due: test-i18n-keys

packagingv3: add tests for new app configuration / regenconf mechanism
  .gitlab/ci/test.gitlab-ci.yml
  tests/test_app_configpanel.py
  tests/test_app_regenconf.py
Due: none

packagingv3: add new 'yunohost app regenconf' command
  share/actionsmap.yml
  src/app.py
Due: test-i18n-keys

Generator -> Iterator for clarity
  src/utils/configurations.py
Due: none

packagingv3: implement logic and test for nginx conf management
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
