Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

fix confirmation during postinstall
  src/tools.py
Due: test-i18n-keys

Update domain.py: fix TOS confirmation during domain add with dyndns
  src/domain.py
Due: test-i18n-keys

Apply suggestions from code review
  src/authenticators/ldap_ynhuser.py
Due: none

fstrings ftw
  src/authenticators/ldap_ynhuser.py
Due: none

cosmetics
  src/authenticators/ldap_ynhuser.py
Due: none

helpers/nginx: yoloremove the REMOTE_USER lines from app's conf because it's already provided by /etc/nginx/fastcgi_params + make sure it is mapped to the YNH_USER from SSOwat rather than $remote_user
  helpers/helpers.v1.d/nginx
  helpers/helpers.v2.1.d/nginx
  hooks/conf_regen/15-nginx
Due: none

configpanel: better error message when uploading a file from unsupported mimetype
  src/utils/form.py
Due: none

Annnd forgot the -i
  hooks/conf_regen/15-nginx
Due: none

portal: add multiple tiling themes
  share/config_domain.toml
  src/domain.py
  src/portal.py
Due: test-i18n-keys

fix(portal): portal_tile_theme not optional
  share/config_domain.toml
Due: none

fix(domain): allow custom css removal
  src/domain.py
Due: test-i18n-keys

i18n(portal): add portal_tile_theme translation key
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

migrate-to-bookworm: improve disclaimer
  locales/en.json
  locales/fr.json
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: autofix-translated-strings, test-i18n-keys

Update changelog for 11.2.32
  debian/changelog
Due: none

Enable migration to bookworm
  src/migrations/0027_migrate_to_bookworm.py
Due: none

Release YunoHost 11.3 that enables migration to 12
  debian/changelog
Due: none

Update changelog for 12.0.5
  debian/changelog
Due: none

lol
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

Update changelog for 12.0.5.1
  debian/changelog
Due: none

lol²
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

Update changelog for 12.0.5.2
  debian/changelog
Due: none

typo in generate-helpers-doc
  .gitlab/ci/bot.gitlab-ci.yml
Due: none

migrate-to-bookworm: fix confusion between ternary operator and concat
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

migrate-to-bookworm: turns out markdown rendering works in webadmin for links and bold, but it keeps the raw \n somehow so let's rework the formatting again
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Turkish)
  locales/tr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Update changelog for 12.0.5.3
  debian/changelog
Due: none

Update changelog for 11.3.0
  debian/changelog
Due: none

Update changelog for 11.3.0.1
  debian/changelog
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/migrations/0027_migrate_to_bookworm.py
Due: none

Fix migration by early-importing _ldap
  src/migrations/0027_migrate_to_bookworm.py
Due: none

Update changelog for 11.3.0.2
  debian/changelog
Due: none

Update changelog for 12.0.6
  debian/changelog
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v1.d/mysql
  helpers/helpers.v1.d/php
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/03-ssh
  hooks/conf_regen/10-apt
  hooks/conf_regen/15-nginx
  hooks/conf_regen/25-dovecot
  maintenance/missing_i18n_keys.py
  src/app.py
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
  src/certificate.py
  src/dns.py
  src/domain.py
  src/log.py
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
  src/migrations/0031_terms_of_services.py
  src/portal.py
  src/tests/conftest.py
  src/tests/test_app_resources.py
  src/tests/test_backuprestore.py
  src/tests/test_permission.py
  src/tests/test_sso_and_portalapi.py
  src/tools.py
  src/user.py
  src/utils/form.py
  src/utils/ldap.py
  src/utils/password.py
  src/utils/resources.py
  src/utils/system.py
Due: test-i18n-keys

Update translation files
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/hu.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/te.json
  locales/tr.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/el.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/hu.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/kab.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/te.json
  locales/tr.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
