Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

[enh] Indicate in conf which ssh mode is selected
  conf/ssh/sshd_config
Due: none

[fix] Improve ssh mode (replace strange intermediate config)
  conf/ssh/sshd_config
  locales/en.json
  share/config_global.toml
Due: autofix-translated-strings, test-i18n-keys

[fix] ynh_write_var_in_file with an ending space
  helpers/helpers.v2.1.d/templating
Due: none

[enh] Add a test for ynh_write_var_in_file with an ending space
  tests/test_helpers.v2.1.d/ynhtest_config.sh
Due: none

migrations: Split PostgreSQL migration into postgresql.py
  src/migrations/0029_postgresql_13_to_15.py
  src/migrations/postgresql.py
Due: none

migrations: PostgreSQL: rename message IDs for translation to generic ones
  locales/ca.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/pt_BR.json
  locales/ru.json
  locales/uk.json
  locales/zh_Hans.json
  src/migrations/postgresql.py
Due: autofix-translated-strings, test-i18n-keys

migrations: Split Python migration into python.py
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
  src/migrations/python.py
Due: none

migrations: Python: rename message IDs for translation to generic ones
  locales/ca.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/pt_BR.json
  locales/ru.json
  locales/uk.json
  locales/zh_Hans.json
  src/migrations/python.py
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

bin/*: Apply better formatting (run ruff strict)
  bin/yunohost
  bin/yunohost-api
  bin/yunohost-portal-api
  bin/yunomdns
  bin/yunopaste
Due: none

doc, maintenance: Modernizing python
  doc/generate_api_doc.py
  doc/generate_bash_completion.py
  doc/generate_manpages.py
  maintenance/autofix_locale_format.py
  maintenance/missing_i18n_keys.py
Due: none

Add cast to str to silent linter
  bin/yunomdns
Due: none

doc: generate_zsh_completion: Fix linter
  doc/generate_zsh_completion.py
Due: none

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

[FIXME] conf: apt: Enable yunohost testing until trixie is released as stable
  conf/apt/sources.list.d/yunohost.sources
Due: none

Update regenconf.py
  src/regenconf.py
Due: test-i18n-keys

Fix #2751 : Update udisks2_interfaces.py
  src/utils/udisks2_interfaces.py
Due: none

hooks: Rename conf_regen directory to regen_conf
  hooks/regen_conf/01-yunohost
  hooks/regen_conf/02-ssl
  hooks/regen_conf/03-ssh
  hooks/regen_conf/06-slapd
  hooks/regen_conf/09-nss
  hooks/regen_conf/10-apt
  hooks/regen_conf/15-nginx
  hooks/regen_conf/19-postfix
  hooks/regen_conf/25-dovecot
  hooks/regen_conf/30-opendkim
  hooks/regen_conf/34-mysql
  hooks/regen_conf/35-postgresql
  hooks/regen_conf/37-mdns
  hooks/regen_conf/40-nftables
  hooks/regen_conf/43-dnsmasq
  hooks/regen_conf/52-fail2ban
Due: none

src, conf: Rename all references to conf_regen to regen_conf
  conf/slapd/config.ldif
  debian/postinst
  share/actionsmap.yml
  src/app.py
  src/migrations/m0033_rework_permission_infos.py
  src/migrations/m0036_migrate_to_trixie.py.disabled
  src/regenconf.py
Due: test-i18n-keys

hooks: support legacy conf_regen hooks
  src/hook.py
Due: test-i18n-keys

yunohost-renew-certs: Remove some systemd protections
  conf/yunohost/yunohost-renew-certs.service
Due: none

[fix] trixie-security instead of trixie #2719
  src/migrations/m0036_migrate_to_trixie.py.disabled
Due: none

debug test_process
  tests/test_process.py
Due: none

Update systemd
  helpers/helpers.v2.1.d/systemd
Due: none

fix mount config remove stop
  helpers/helpers.v2.1.d/systemd
Due: none

typo
  helpers/helpers.v2.1.d/systemd
Due: none

add other systemd units support to service.py
  src/service.py
Due: test-i18n-keys

misc: When calling apt update, use --error-on=any to have a valid returncode
  helpers/helpers.v1.d/apt
  helpers/helpers.v2.1.d/apt
  src/tools.py
Due: test-i18n-keys

migrations: trixie: Remove legacy apt list files if they still exist after apt upgrade
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

sssd: set enumerate=true for ldap
  conf/sssd/sssd.conf
Due: none

dyndns: Add a todo about the dynette changes
  src/dyndns.py
Due: test-i18n-keys

security: restrict permissions on /var/log/nginx/*.log
  hooks/conf_regen/15-nginx
Due: none

extend support to all expected contexts
  src/app.py
  src/backup.py
Due: test-i18n-keys

use mise to ease helpers
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/mise
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/python
  helpers/helpers.v2.1.d/ruby
Due: none

port resource: take secondary ports into account
  src/utils/resources.py
Due: none

fix lint and bad copy/paste for legacy nodejs
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/ruby
Due: none

fix linter again for nodejs
  helpers/helpers.v2.1.d/nodejs
Due: none

remove unused versions on upgrade as well + some fixes
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/mise
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/python
  helpers/helpers.v2.1.d/ruby
Due: none

Fix SSE during upgrade, sometimes we only see the backup logs but not the upgrade ones
  src/app.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
