Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

Translated using Weblate (Occitan)
  locales/oc.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

tests: questions: Disable failing tests since forms code modification
  tests/test_questions.py
Due: none

conf: dovecot: Fix user quota
  conf/dovecot/dovecot.conf.j2
Due: none

conf: dovecot: remove legacy doveco-ldap.conf
  conf/dovecot/dovecot-ldap.conf
  hooks/conf_regen/25-dovecot
Due: none

migrations: Add migration for ldap maildrop field
  locales/en.json
  src/migrations/m0040_migrate_ldap_maildrop_filed.py
Due: autofix-translated-strings, test-i18n-keys

conf: dovecot: Fix pop3 support
  conf/dovecot/dovecot.conf.j2
  debian/control
Due: none

conf: dovecot: Add missing user mapping in dovecot
  conf/dovecot/dovecot.conf.j2
Due: none

conf: dovecot: Cleanup debugging value in config file
  conf/dovecot/dovecot.conf.j2
Due: none

migrations, portal, user: Add workaround for maildrop field used as email in nextcloud
  src/migrations/m0040_migrate_ldap_maildrop_filed.py
  src/portal.py
  src/user.py
Due: test-i18n-keys

portal, user: maildrop should be an email
  src/portal.py
  src/user.py
Due: test-i18n-keys

conf: postfix: Use the maildrop attribute
  conf/postfix/plain/ldap-groups.cf
Due: none

conf: postfix: Remove legacy ldap-domains.cf
  conf/postfix/plain/ldap-domains.cf
  hooks/conf_regen/19-postfix
Due: none

conf: nginx: Indicate email address as default identifier in mail autoconfig
  conf/nginx/autoconfig.xml.j2
Due: none

conf: dovecot: Be able to login with any email alias
  conf/dovecot/dovecot-ldap.conf
  conf/dovecot/dovecot.conf.j2
Due: none

Content-Security-Policy modularity (#2354)
  conf/nginx/security.conf.inc.j2
  debian/control
Due: none

migration(trixie): cleanup test conditions for public key permissions
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

Rename m0040_migrate_ldap_maildrop_filed.py to m0040_migrate_ldap_maildrop_field.py
  src/migrations/m0040_migrate_ldap_maildrop_field.py
Due: none

fix: rename locale after migration renaming
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Update changelog for 13.0.8
  debian/changelog
Due: none

Deactivate fail2ban v1 helper
  helpers/helpers.v1.d/fail2ban
Due: none

Split allowlist by comma
  conf/reaction/patterns.jsonnet
Due: none

Add PAM auth stream+filter
  conf/reaction/stream-sshd.jsonnet
Due: none

Merge nginx things
  conf/reaction/filter-yunohost.jsonnet
  conf/reaction/stream-nginx.jsonnet
Due: none

YOLO edits to the reaction helper
  helpers/helpers.v2.1.d/reaction
Due: none

Use the virtual plugin instead of custom file based stream.
  conf/reaction/_recidive.jsonnet
  conf/reaction/plugin-virtual.jsonnet
  conf/reaction/stream-recidive.jsonnet
Due: none

Merge mail streams. More regexes
  conf/reaction/stream-mail.jsonnet
  conf/reaction/stream-postfix.jsonnet
Due: none

variablize ssh_port in reaction
  conf/reaction/startstop-nftables.jsonnet
Due: none

Add postfix-sasl filter
  conf/reaction/stream-postfix.jsonnet
Due: none

WIP reaction configuration
  conf/reaction/_ban.jsonnet
  conf/reaction/filter-yunohost.jsonnet
  conf/reaction/reaction.service
  conf/reaction/startstop-nftables.jsonnet
  conf/reaction/stream-nginx.jsonnet
  conf/reaction/stream-sshd.jsonnet
Due: none

Add global setting to ignore IPs from reaction
  conf/reaction/patterns.jsonnet
  share/config_global.toml
Due: none

Add a one-week ban for recidive
  conf/reaction/stream-recidive.jsonnet
Due: none

Add basic l18n strings
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Add recidive stream
  conf/reaction/_ban.jsonnet
  conf/reaction/_recidive.jsonnet
  conf/reaction/filter-yunohost.jsonnet
  conf/reaction/stream-recidive.jsonnet
  conf/reaction/stream-sshd.jsonnet
Due: none

Name the ip pattern HOST for retrocompability with fail2ban
  conf/reaction/patterns.jsonnet
Due: none

First draft of a reaction helper
  helpers/helpers.v2.1.d/reaction
Due: none

Rewrite the fail2ban helper for reaction
  helpers/helpers.v2.1.d/fail2ban
Due: none

Ban command more readable
  conf/reaction/_ban.jsonnet
Due: none

Add ip pattern configuration
  conf/reaction/pattern-ip.jsonnet
Due: none
