Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Apply suggestions from code review
  locales/fr.json
Due: autofix-translated-strings

Update changelog for 12.1.10.1
  debian/changelog
Due: none

nodejs: in version migration, skip app for which no matching version is found
  src/migrations/0035_fix_apps_nodejs_version.py
Due: none

tools_update: don't list apps that are up to date
  src/tools.py
Due: test-i18n-keys

Update changelog for 12.1.10.2
  debian/changelog
Due: none

removing unnecessary grub update
  src/tools.py
Due: test-i18n-keys

adding conditions and prints in case no kernel to remove is found
  src/tools.py
Due: test-i18n-keys

checking for running kernel
  src/tools.py
Due: test-i18n-keys

printing more info about running kernel
  src/tools.py
Due: test-i18n-keys

app: in the app permission config panel, absolute url containing '//' in some cases
  src/app.py
Due: test-i18n-keys

user: user create/delete should regen the ssowat conf
  src/user.py
Due: test-i18n-keys

permissions: automatically remove user/group that dont exist from app perms
  src/permission.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app.py
  src/permission.py
  src/user.py
Due: test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Unused imports
  src/permission.py
Due: test-i18n-keys

i18n: fix all value -> content in dns-related diagnosis strings
  locales/ca.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/oc.json
  locales/pl.json
  locales/sk.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings

Update changelog for 12.1.11
  debian/changelog
Due: none

apps: add tmp debug info/exception to hunt bug with workdir disappearing ?
  src/app.py
  src/utils/app_utils.py
Due: test-i18n-keys

Update changelog for 12.1.12
  debian/changelog
Due: none

apps: fix manifest cache not properly invalidating
  src/utils/app_utils.py
Due: none

Update changelog for 12.1.12.1
  debian/changelog
Due: none

nodejs migration: fix list of file just containing empty string ['']
  src/migrations/0035_fix_apps_nodejs_version.py
Due: none

ldap: prevent stupid issue where trailing space make LDAP explode because ????
  src/utils/ldap.py
Due: none

firewall: fix case where no udp port is open, nftable doesnt like empty list/sets
  conf/nftables/nftables.d/yunohost-firewall.tpl.conf
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/migrations/0035_fix_apps_nodejs_version.py
Due: none

Update changelog for 12.1.13
  debian/changelog
Due: none

Typo T_T
  src/migrations/0035_fix_apps_nodejs_version.py
Due: none

Update changelog for 12.1.13.1
  debian/changelog
Due: none

Revert "apps: add tmp debug info/exception to hunt bug with workdir disappearing ?"
  src/app.py
  src/utils/app_utils.py
Due: test-i18n-keys

apps: fix tmp workdir for upgrade being rm'ed during the safety backup, because mtime / ctime confusion, inheriting metadata from the original source or whatev
  src/utils/app_utils.py
Due: none

Update changelog for 12.1.14
  debian/changelog
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/app_utils.py
Due: none

Upgrade helper version for hook in version 2.1
  helpers/helpers.v2.1.d/templating
  hooks/backup/05-conf_ldap
  hooks/backup/17-data_home
  hooks/backup/18-data_multimedia
  hooks/backup/20-conf_ynh_settings
  hooks/backup/21-conf_ynh_certs
  hooks/backup/23-data_mail
  hooks/backup/50-conf_manually_modified_files
  hooks/conf_regen/03-ssh
  hooks/conf_regen/15-nginx
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/34-mysql
  hooks/conf_regen/35-postgresql
  hooks/conf_regen/40-nftables
  hooks/conf_regen/43-dnsmasq
  hooks/conf_regen/52-fail2ban
  hooks/restore/18-data_multimedia
  hooks/restore/50-conf_manually_modified_files
Due: none

Fix shellcheck
  hooks/backup/05-conf_ldap
  hooks/backup/17-data_home
  hooks/backup/18-data_multimedia
  hooks/backup/20-conf_ynh_settings
  hooks/backup/21-conf_ynh_certs
  hooks/backup/23-data_mail
  hooks/backup/50-conf_manually_modified_files
  hooks/conf_regen/03-ssh
  hooks/conf_regen/15-nginx
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/34-mysql
  hooks/conf_regen/35-postgresql
  hooks/conf_regen/40-nftables
  hooks/conf_regen/43-dnsmasq
  hooks/conf_regen/52-fail2ban
  hooks/restore/18-data_multimedia
  hooks/restore/50-conf_manually_modified_files
Due: none

Fix bash linter
  helpers/helpers.v2.1.d/templating
Due: none

apps: Yolodrop support for packaging v1
  helpers/helpers.v1.d/composer
  helpers/helpers.v1.d/mysql
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/permission
  helpers/helpers.v1.d/php
  helpers/helpers.v1.d/ruby
  helpers/helpers.v1.d/sources
  helpers/helpers.v1.d/templating
  helpers/helpers.v1.d/utils
  src/app.py
  src/backup.py
  src/utils/app_utils.py
  src/utils/legacy.py
  src/utils/resources.py
Due: test-i18n-keys

Update 0033_rework_permission_infos.py: actually skip apps that do not exist
  src/migrations/0033_rework_permission_infos.py
Due: none

Migration: add typing to Migration class
  src/migrations/0028_delete_legacy_xmpp_permission.py
  src/migrations/0033_rework_permission_infos.py
  src/tools.py
Due: test-i18n-keys

ssh.py: Add typing and TypedDict
  src/ssh.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
