Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Remove unnecessary arg
  helpers/helpers.v2.1.d/sources
Due: none

redis-app-resource: Store app name in provision key + more tests
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

RedisDatabaseAppResource: alternative implementation
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

udisks classes: pass instead of ...
  src/utils/udisks2_interfaces.py
Due: none

Ignore mypy weird warnings
  src/permission.py
  src/utils/resources.py
Due: test-i18n-keys

Add python linting like on gitlab but on github actions
  .github/workflows/lint.yml
Due: none

Fix mypy issues
  src/permission.py
  src/utils/form.py
Due: test-i18n-keys

Add missing translations
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Fix linter issues
  src/utils/udisks2_interfaces.py
Due: none

Potential fix for code scanning alert no. 693: Potentially uninitialized local variable
  src/permission.py
Due: test-i18n-keys

Translated using Weblate (Dutch)
  locales/nl.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Kabyle)
  locales/kab.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/cs.json
  locales/de.json
  locales/en.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/nl.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
Due: autofix-translated-strings, test-i18n-keys

[CI] Reformat / remove stale translated strings (#2126)
  locales/cs.json
  locales/de.json
  locales/en.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/nl.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
Due: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
