Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

fix: no has_default for inner types when multiple=True
  src/utils/form.py
Due: none

refactor(GroupOption): update with `get_annotation()`
  src/utils/form.py
Due: none

refactor(form): add multiple prop to Options + annotation generator fn depending on optional + multiple
  src/utils/form.py
Due: none

refactor(form): add list type to default attr for options that handle `multiple`
  src/utils/form.py
  src/utils/validation.py
Due: none

refactor(validation): make constraints inherit from base constraints to handle common parsing/serializing
  src/utils/form.py
  src/utils/validation.py
Due: none

refactor(form): reorder Options attributes
  src/utils/form.py
Due: none

refactor(SelectOption): allow only string choices
  src/tests/test_questions.py
  src/utils/form.py
Due: none

test(options): add new test for option with 'multiple: true'
  src/tests/test_questions.py
Due: none

feat(validation): add 'strip_whitespace' attr to StringConstraints and do not strip text and password option
  src/tests/test_questions.py
  src/utils/form.py
  src/utils/validation.py
Due: none

fix(Options): override custom default value for 'user' | 'app' | 'group' | 'domain'
  src/tests/test_questions.py
  src/utils/form.py
Due: none

refactor(form): no longer need to normalize before validation
  src/utils/form.py
Due: none

fix: normalize none values handling
  src/tests/test_questions.py
  src/utils/form.py
  src/utils/validation.py
Due: none

fix(tests): option's prefill value properly validated
  src/tests/test_questions.py
Due: none

fix(tests): fix calls to option.humanize/normalize
  src/app.py
  src/settings.py
  src/tests/test_questions.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-i18n-keys

refactor(FileOption): add custom humanize override to avoid resaving the file
  src/utils/form.py
Due: none

refactor: rename serialization modes 'r/python/normal' & 'r/bash/string'
  src/utils/form.py
  src/utils/validation.py
Due: none

refactor(Options): remove no longer needed custom humanize/normalise methods
  src/utils/form.py
Due: none

refactor(InputOption): rework humanize/normalize methods
  src/utils/form.py
Due: none

feat(validations): add new mode "human"
  src/utils/validation.py
Due: none

chore: remove some tests FIXMEs
  src/tests/test_questions.py
Due: none

refactor(Options): make 'id' optional
  src/utils/form.py
Due: none

fix(BooleanConstraints): also strip input
  src/utils/validation.py
Due: none

refactor(ColorOption): remove custom humanize/normalize and add custom serializer
  src/utils/form.py
Due: none

fix nodejs helper.v1
  helpers/helpers.v1.d/nodejs
Due: none

fix ynh_apt_install_dependencies_from_extra_repository
  helpers/helpers.v2.1.d/apt
Due: none

Fix flake8 issues on dev branch
  src/app.py
  src/log.py
  src/utils/ldap.py
Due: test-i18n-keys

Replace spwd with direct call to passwd.
  src/tools.py
Due: test-i18n-keys

tools: passwd now accepts --stdin
  src/tools.py
Due: test-i18n-keys

Remove non existing udisks2 modules
  debian/control
Due: none

pydantic: Url can't be imported directly from pydantic.network
  src/utils/form.py
Due: none

packagingv3: Basis for new declarative configuration mechanism
  locales/en.json
  src/app.py
  src/utils/configurations.py
Due: autofix-translated-strings, test-i18n-keys

packagingv3: Further implement the packagingv3 install flow
  src/app.py
Due: test-i18n-keys

Translated using Weblate (Czech)
  locales/cs.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
