Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

Update changelog for 12.1.6.1
  debian/changelog
Due: none

fix upnp open only when open and upnp are enabled in conf
  src/firewall.py
Due: test-i18n-keys

helpers: fix POST arg syntax in ynh_local_curl
  helpers/helpers.v2.1.d/0-utils
Due: none

Resolve logger warnings
  src/tools.py
Due: test-i18n-keys

Resolve logger warnings (#2114)
  src/tools.py
Due: test-i18n-keys

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Update n to 10.2.0
  helpers/vendor/n/n
Due: none

logging: Ignore boring 'Not building database; man-db/auto-update is not 'true'.' related to the fact that we don't have mandb in CI
  src/hook.py
Due: test-i18n-keys

logging: small tweak to ignore boring symlink creation during apt installs, trixie now has a quote around the path
  src/hook.py
Due: test-i18n-keys

Make basic-space-cleanup delete YunoHost logs too
  share/actionsmap.yml
  src/tools.py
Due: test-i18n-keys

small debian/control modification to reduce the diff with dev branch
  debian/control
Due: none

Remove dependency on dovecot-antispam, not present on trixie and unmaintained
  debian/control
Due: none

[fix] Remove unavailable dns resolvers
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

Add support for (plain) XZ and ZST source archives
  debian/control
  helpers/helpers.v2.1.d/sources
Due: none

Update helpers/helpers.v2.1.d/sources
  helpers/helpers.v2.1.d/sources
Due: none

Removed copied over comment
  helpers/helpers.v2.1.d/sources
Due: none

Fix comma-seperated list of TLS-passthrough configurations
  share/config_global.toml
Due: none

Fix comma-seperated list of TLS-passthrough configurations (#2119)
  share/config_global.toml
Due: none

Implement RedisAppResource (WIP)
  src/utils/resources.py
Due: none

Add missing translations
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Fix linter issues
  src/utils/udisks2_interfaces.py
Due: none

Fix mypy issues
  src/permission.py
  src/utils/form.py
Due: test-i18n-keys

redis-app-resource: Write tests
  src/tests/test_app_resources.py
Due: none

Fix syntax error
  src/utils/resources.py
Due: none

Fixup type detection + place ZSTD artifact where requested x_x
  helpers/helpers.v2.1.d/sources
Due: none

Fixes
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

Potential fix for code scanning alert no. 693: Potentially uninitialized local variable
  src/permission.py
Due: test-i18n-keys

Tests are working!
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

No rename support
  helpers/helpers.v2.1.d/sources
Due: none
