Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

:art: Format Python code with Black
  src/diagnosers/00-basesystem.py
Due: test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/en.json
  locales/eu.json
Due: autofix-translated-strings, test-i18n-keys

More sanity in free memory calculation
  helpers/helpers.v1.d/hardware
Due: none

portal: fix extra app tiles not being displayed, gotta use the perm id as key, not just the app id (credit rodinux)
  src/app.py
Due: test-i18n-keys

portal/sso: with the public app page, fix the root of the domain not redirecting to /yunohost/sso
  src/app.py
Due: test-i18n-keys

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/eu.json
  locales/fr.json
Due: autofix-translated-strings

ci: try to fix the full test not working because i removed the pytest install @_@
  .gitlab/ci/test.gitlab-ci.yml
Due: none

portal: allow to configure custom CSS from the domain config panel
  conf/nginx/yunohost_sso.conf.inc
  share/config_domain.toml
  src/domain.py
Due: test-i18n-keys

trigger hooks when adding or removing user into group
  src/user.py
Due: test-i18n-keys

:art: Format Python code with Black
  src/user.py
Due: test-i18n-keys

portal: add proper i18n string + help for new settings
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

domain: reorder config panel sections
  share/config_domain.toml
Due: none

Update config_domain.toml: propagate change in theme list from yunohost-portal
  share/config_domain.toml
Due: none

i18n: add i18n for domain and global config panel and sections
  locales/en.json
  maintenance/missing_i18n_keys.py
  share/config_domain.toml
  share/config_global.toml
  src/domain.py
  src/utils/configpanel.py
Due: autofix-translated-strings, test-i18n-keys

quality/typing: missing type import
  src/domain.py
Due: test-i18n-keys

apps: in apt resource, fix empty string in packages_from_raw_bash breaking dpkg-build
  src/utils/resources.py
Due: none

Update changelog for 11.2.28
  debian/changelog
Due: none

apps: generalize replacing __INSTALL_DIR__ and __APP__ in config panel 'bind' statement to any setting
  helpers/helpers.v1.d/config
  helpers/helpers.v2.1.d/config
  src/app.py
Due: test-i18n-keys

perf: add cache for _get_app_settings()
  src/app.py
Due: test-i18n-keys

quality: use _assert_is_installed for consistency instead of if not _is_intalled(app): raise
  src/app.py
Due: test-i18n-keys

:art: Format Python code with Black
  src/app.py
Due: test-i18n-keys

perf: hmmm try to fix race condition in previous cache system ?
  src/app.py
Due: test-i18n-keys

apps/config panels: move the computation of the actual 'bind' value to core to avoid having an epic python snippets in the bash code..
  helpers/helpers.v1.d/config
  helpers/helpers.v2.1.d/config
  src/app.py
Due: test-i18n-keys

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Greek)
  locales/el.json
Due: autofix-translated-strings

quality: fix typing issue
  src/app.py
Due: test-i18n-keys

Update changelog for 11.2.29
  debian/changelog
Due: none

zblerg
  debian/changelog
Due: none
