Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

fix identation
  conf/nginx/tls_passthrough.conf
Due: none

Update conf/nginx/server.tpl.conf
  conf/nginx/server.tpl.conf
Due: none

fix (nftables): drop policy and allow icmpv6
  conf/nftables/nftables.d/yunohost-firewall.tpl.conf
Due: none

reload nftables when trusted proxy added
  src/settings.py
Due: test-i18n-keys

fix(nginx): remove deprecated OCSP
  conf/nginx/server.tpl.conf
Due: none

Update 12.1.16
  debian/changelog
Due: none

fix wedos references
  share/registrar_list.toml
Due: none

tools_update: remove passed requirements because it's hella confusing in CLI output
  src/tools.py
Due: test-i18n-keys

app upgrade infos: fix display values when current_version == new_version
  src/app.py
Due: test-i18n-keys

fix(settings): add post_change_hook for email settings
  src/settings.py
Due: test-i18n-keys

fix(settings): make sure portal email settings are set
  src/app.py
Due: test-i18n-keys

user: when updating admins group mail aliases, don't try to add aliases that are already there because LDAP is dumdum. (In particular for migration 0034)
  src/user.py
Due: test-i18n-keys

portal api: fix allow_edit_email vs portal_allow_edit_email confusion
  src/portal.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/portal.py
Due: test-i18n-keys

aaaaaaaaaaaaaaaaaaaaaaaaaaaand typo
  src/user.py
Due: test-i18n-keys

Update changelog for 12.1.17
  debian/changelog
Due: none

fix: portal domain conf not properly updated with the portal_allow_mail_edit settings (#2167)
  src/app.py
Due: test-i18n-keys

Update changelog for 12.1.17.1
  debian/changelog
Due: none

Update src/tools.py
  src/tools.py
Due: test-i18n-keys

Translated using Weblate (Chinese (Simplified))
  locales/zh_Hans.json
Due: autofix-translated-strings

implementing suggestions + cleaing up the conditions
  src/tools.py
Due: test-i18n-keys

refactoring the actual kernel removal
  src/tools.py
Due: test-i18n-keys

updating actionmap.yml for old kernels removal command
  share/actionsmap.yml
Due: none

Translated using Weblate (Chinese (Simplified)) (#2168)
  locales/zh_Hans.json
Due: autofix-translated-strings

perf: prevent domain list --features from taking ages because it fetches DNS infos and app upgradability even though it doesnt matter in that context
  src/domain.py
  src/utils/form.py
Due: test-i18n-keys

perf: implement cache for load_apps_catalog because parsing 50 times the same 700kBish json in a single command is probably not a very efficient way to use CPU and IO bruh
  src/app_catalog.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app_catalog.py
Due: test-i18n-keys

Hmmmm fix tests?
  src/app_catalog.py
  tests/test_questions.py
Due: test-i18n-keys

Add a new /dash route meant for the API to get quick infos to display on the home page
  share/actionsmap.yml
  src/tools.py
Due: test-i18n-keys

Add utils/cache.py with a simple implementation of CacheFile
  src/utils/cache.py
Due: none

[enh] Suggest that some apps could not be installed on the same instance
  helpers/helpers.v2.1.d/apt
Due: none

[enh] Use find instead of a temporary file
  helpers/helpers.v2.1.d/apt
Due: none

[fix] Missing minus
  helpers/helpers.v2.1.d/apt
Due: none

Update helpers/helpers.v2.1.d/apt
  helpers/helpers.v2.1.d/apt
Due: none

helpers2.1: skip apt update when cache was already updated less than 30 minutes ago (#2147)
  helpers/helpers.v2.1.d/apt
Due: none
