Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

ssh: Rework/update ciphers and algorithms (Mozilla recommendations are too outdated) (#2268)
  conf/ssh/sshd_config
  locales/en.json
  share/config_global.toml
Due: autofix-translated-strings, test-i18n-keys

[fix] Dead code (#2318)
  src/app_catalog.py
Due: test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

configpanel: fix broken OptionType comparisons (is -> ==)
  src/utils/configpanel.py
Due: none

fix(helpers): app_shell parsing Environment options
  helpers/helpers.v1.d/apps
  helpers/helpers.v2.1.d/0-utils
Due: none

backup: Factorize archive extension resolution helper in backup.py
  src/backup.py
Due: test-i18n-keys

backup: Read tar archives in a single sequential stream pass
  src/backup.py
Due: test-i18n-keys

backup: Compress tar.gz archives with pigz to use all cores
  debian/control
  src/backup.py
Due: test-i18n-keys

fix(helpers): do not use eval for app_shell
  helpers/helpers.v1.d/apps
  helpers/helpers.v2.1.d/0-utils
Due: none

fix(helpers): typo in app_shell
  helpers/helpers.v1.d/apps
  helpers/helpers.v2.1.d/0-utils
Due: none

Another way to fix the sse, keep only one socket for all operations, no need to open and close it everytime
  src/utils/sse.py
Due: none

sse: share a single zmq context across clients instead of one per connection
  src/utils/sse.py
Due: none

functools.cache instead of global variable, reconnect the socket if needed
  src/utils/sse.py
Due: none

backup: Drop custom tarfile bufsize
  src/backup.py
Due: test-i18n-keys

backup: Add zstd as a backup compression option
  share/config_global.toml
  src/backup.py
Due: test-i18n-keys

backup: Add a zstd_small compression level for smaller archives
  locales/en.json
  share/config_global.toml
  src/backup.py
Due: autofix-translated-strings, test-i18n-keys

backup: Add setting migration and tests for compressed backups
  src/migrations/0038_backup_compression_setting.py
  tests/test_backuprestore.py
Due: none

fix command in permissions helpers documentation
  helpers/helpers.v2.1.d/permission
Due: none

also fix typo in helpers v1 actually
  helpers/helpers.v1.d/permission
Due: none

fix permission_update typo
  helpers/helpers.v1.d/utils
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

fix(helpers): missing fi for app_shell
  helpers/helpers.v1.d/apps
Due: none

fix: typo unecessary -> unnecessary
  src/log.py
Due: test-i18n-keys

Fix typo in permissions helpers documentation (#2323)
  helpers/helpers.v1.d/permission
  helpers/helpers.v1.d/utils
  helpers/helpers.v2.1.d/permission
Due: none

[fix] exclude second port used by app
  src/utils/resources.py
Due: none

Fix typo: unecessary -> unnecessary (1 occurrence) in comments/docstrings
  src/log.py
Due: test-i18n-keys

consistency typo
  helpers/helpers.v1.d/utils
Due: none

fix: consistent usage of --foo=bar (instead of --foo bar) when calling ynh_permission_update inside ynh_local_curl (#2327)
  helpers/helpers.v1.d/utils
Due: none

[fix] option.type is no a string
  src/utils/configpanel.py
Due: none

Handle decoding errors in subprocess output
  src/utils/process.py
Due: none

Adapt sources for src/yunohost
  .github/workflows/auto-lint.yml
  .gitlab/ci/test.gitlab-ci.yml
  debian/install
  maintenance/missing_i18n_keys.py
  maintenance/update_copyright_headers.sh
  pyproject.toml
  src/yunohost/migrations/m0036_migrate_to_trixie.py.disabled
Due: none

Replace tab indentation with spaces
  helpers/helpers.v2.1.d/0-utils
Due: none

[enh] Refuse registration made in less than 10s to avoid some bots
  locales/en.json
  src/portal.py
Due: autofix-translated-strings, test-i18n-keys

[enh] Generate random ascii between a-zA-Z0-9 instead of a-f0-9
  src/utils/misc.py
Due: none

Linter
  src/utils/misc.py
Due: none
