Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Avoid to override new settings
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Add generales var in config panel like domain, path, etc
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

ci(autoblacks): switch from using gitlab CI to github actions for autoblacking code
  .github/workflows/autoblack.yml
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

Add images alt text, fix some links and some markdown formating
  README.md
Due: none

Meh, fix badges
  README.md
Due: none

fix(regen_conf/ldap): sometime those directories permissions changes and it breaks ldap
  hooks/conf_regen/06-slapd
Due: none

add bz2 and gzip source decompression
  helpers/utils
Due: test-helpers

add documentation for gz/bz2/xz
  helpers/utils
Due: test-helpers

apps: simplify env creation for config panel script, _make_environment_for_app_script already handles everything..
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

ci: autoblack is now a github workflow
  .gitlab/ci/bot.gitlab-ci.yml
Due: none

add documentation in resources.py
  src/utils/resources.py
Due: test-app-resources

Update debian/control: add explicit dependencies for compression tools
  debian/control
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Update locales/fr.json
  locales/fr.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/de.json
  locales/eu.json
  locales/fr.json
Due: autofix-translated-strings

helpers/configpanel: fix assumption claquée au sol that $install_dir and $final_path always exist
  helpers/config
Due: test-helpers

error if X in last-X is too big
  src/log.py
Due: test-i18n-keys

reword actionsmap help for log show
  share/actionsmap.yml
Due: test-actionmap

show_log: support names 'last' and 'last-x' in path
  share/actionsmap.yml
  src/log.py
Due: test-actionmap, test-i18n-keys

typo
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (Portuguese)
  locales/pt.json
Due: autofix-translated-strings

Translated using Weblate (Persian)
  locales/fa.json
Due: autofix-translated-strings

Translated using Weblate (Hindi)
  locales/hi.json
Due: autofix-translated-strings

Update translation files
  locales/oc.json
Due: autofix-translated-strings

Translated using Weblate (Occitan)
  locales/oc.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (Catalan)
  locales/ca.json
Due: autofix-translated-strings

Translated using Weblate (Chinese (Simplified))
  locales/zh_Hans.json
Due: autofix-translated-strings

Translated using Weblate (Japanese)
  locales/ja.json
Due: autofix-translated-strings
