Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

Update log.py: log_file -> log_md_fullpath (otherwise it feel like log_file refers to the .log)
  src/log.py
Due: test-i18n-keys

Update log.py: remove debug statement
  src/log.py
Due: test-i18n-keys

Update log.py: revert unecessary if change
  src/log.py
Due: test-i18n-keys

Fix "log list" : use root_dir for iglob / make sure we use absolute paths (#1913)
  src/log.py
Due: test-i18n-keys

mail: Make sure to restart opendkim after regenconf
  hooks/conf_regen/30-opendkim
Due: none

flake8 etc
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

mail: fix opendkim assuming mails arent authenticated because of missing {auth_type} from postfix
  conf/postfix/main.cf
Due: none

Update regenconf.py: cleanup legacy rspamd and metronome hash entries
  src/regenconf.py
Due: test-regenconf, test-i18n-keys

Update changelog for 11.2.22
  debian/changelog
Due: none

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

helpers: force sourcing getopts before the other helpers to prevent stupid issues (in particular when renaming phpversion to php_version in helpers2.1)
  helpers/helpers
Due: test-helpers

[Fix] Make slapd listen also on ipv6
  conf/slapd/slapd.default
Due: none

ci: fallback to bookworm branch for build such that even on PR on top of bookworm the ci should work ...
  .gitlab/ci/build.gitlab-ci.yml
Due: none

fix: Remove SenderScore from the dnsbl_list.yml file
  share/dnsbl_list.yml
Due: none

Update helpers: go home aleks u drunk
  helpers/helpers
Due: test-helpers

appconfig panel: new values were replaced by default values
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

fix permission test
  src/tests/test_permission.py
Due: none

hmpf fix log list again
  src/log.py
Due: test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Update changelog for 11.2.23
  debian/changelog
Due: none

ci: we don't care about mypy in tests/ folder
  tox.ini
Due: none

avoid double commas in control file, crash if there is an issue in the control file
  helpers/helpers.v1.d/apt
Due: none

a better way to avoid the double commas
  helpers/helpers.v1.d/apt
Due: none

fix the v2 too
  helpers/helpers.v1.d/apt
  helpers/helpers.v2.1.d/apt
Due: none

services: redis ain't installed by default anymore on yunohost
  conf/yunohost/services.yml
Due: none

bullseye->bookworm: readd tweak about libluajit2 + be more robust about full-upgrade that may fail if python3.9-venv aint installed
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

apps/ssowat: fix default value for auth_header and protect_against_basic_auth_spoofing
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Update changelog for 11.2.24
  debian/changelog
Due: none
