Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

pydanticv2: fix pydantic i18n error key might not be available
  src/utils/form.py
Due: none

pydanticv2: fix TimeOption, was no longer parsing numbers
  src/tests/test_questions.py
  src/utils/form.py
Due: none

pydanticv2: rework custom validators and extra args
  src/utils/form.py
Due: none

pydanticv2: fix tests boolean handling in string types
  src/tests/test_questions.py
Due: none

pydanticv2: Class Config -> ConfigDict()
  src/utils/configpanel.py
  src/utils/form.py
Due: none

pydanticv2: fix validators return type
  src/utils/form.py
Due: none

pydanticv2: 'ask' as optional
  src/utils/form.py
Due: none

pydanticv2: fix UrlOption tests
  src/tests/test_questions.py
Due: none

pydanticv2: fix SelectOption and other choices options
  src/tests/test_questions.py
  src/utils/form.py
Due: none

pydanticv2: fix EmailOption tests
  src/tests/test_questions.py
Due: none

pydanticv2: Field's allow_mutation -> frozen
  src/utils/form.py
Due: none

pydanticv2: fix missing imports
  src/utils/form.py
Due: none

pydanticv2: root_validator() -> model_validator()
  src/utils/form.py
Due: none

pydanticv2: Class Config.schema_extra() -> __get_pydantic_json_schema__()
  src/utils/configpanel.py
  src/utils/form.py
Due: none

pydanticv2: Model.dict() -> Model.dump_model()
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-i18n-keys

pydanticv2: fix PasswordOption, properly handle forbidden fields
  src/tests/test_questions.py
  src/utils/form.py
Due: none

pydanticv2: Model.__fields__ -> Model.model_fields
  src/utils/configpanel.py
Due: none

pydanticv2: fix missing imports
  src/utils/configpanel.py
  src/utils/form.py
Due: none

Remove migration to bookworm (it's actually failing and putting weird stuff in output...
  src/migrations/0027_migrate_to_bookworm.py
Due: none

Fix migrations after deleting migration to bookworm
  src/migrations/0028_delete_legacy_xmpp_permission.py
  src/migrations/0029_postgresql_13_to_15.py
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
  src/tools.py
Due: test-i18n-keys

Update app.py: add my_webdav to the list of apps that need basic auth header to go through
  src/app.py
Due: test-i18n-keys

Fix postinstall in offline context
  src/app.py
  src/domain.py
  src/tools.py
Due: test-i18n-keys

Translated using Weblate (Catalan)
  locales/ca.json
Due: autofix-translated-strings

Unused import introduced in previous commit
  src/tools.py
Due: test-i18n-keys

backup/restore: typo preventing portal settings to be restored eh ?
  hooks/restore/20-conf_ynh_settings
Due: none

regenconf: don't miserably crash regenconf when setfacl can't be applied due to the FS type
  hooks/conf_regen/01-yunohost
Due: none

bin/yunoprompt: fix bashisms
  bin/yunoprompt
Due: none

bin/: use python typing
  bin/yunohost
  bin/yunohost-api
  bin/yunohost-portal-api
  bin/yunomdns
  bin/yunopaste
Due: none

Run black
  bin/yunohost
  bin/yunopaste
Due: none

POC for new log streaming API using a zero-mq broker
  src/__init__.py
  src/log.py
Due: test-i18n-keys

Unused import
  src/log.py
Due: test-i18n-keys

sse/log stream: also use a 'ref_id' that can be set by the webadmin to makes things easier for the client to associate log entries with an ongoing request
  src/log.py
Due: test-i18n-keys

helpers2.1: automatically add --default-character-set for mysql stuff (in particular for nextcloud)
  helpers/helpers.v2.1.d/mysql
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v2.1.d/mysql
Due: none

logs: also cache the success status of operations for quick access, avoid to load the yml just to get that info..
  src/log.py
Due: test-i18n-keys

log/sse: refactor, move all sse-related code including stuff that was in moulinette in a new utils/sse.py file
  debian/control
  src/__init__.py
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
