Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

Zgrompf
  src/app.py
Due: test-i18n-keys

firewall: Prevent disaster when we can't find any TCP port to open in nftables regenconf
  hooks/conf_regen/40-nftables
Due: none

Fix typing issues
  src/backup.py
  src/utils/app_utils.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/backup.py
Due: test-i18n-keys

Update changelog for 12.1.8
  debian/changelog
Due: none

Merge pull request #2118 from orhtej2/xz_zstd
  debian/control
  helpers/helpers.v2.1.d/sources
Due: none

Update changelog for 12.1.9
  debian/changelog
Due: none

fix upnp open only when open and upnp are enabled in conf (#2112)
  src/firewall.py
Due: test-i18n-keys

dns: fix another value -> content renaming
  src/dns.py
Due: test-i18n-keys

Update certificate.py
  src/certificate.py
Due: test-i18n-keys

Add postfix-sasl filter
  conf/reaction/stream-postfix.jsonnet
Due: none

WIP reaction configuration
  conf/reaction/_ban.jsonnet
  conf/reaction/filter-yunohost.jsonnet
  conf/reaction/reaction.service
  conf/reaction/startstop-nftables.jsonnet
  conf/reaction/stream-nginx.jsonnet
  conf/reaction/stream-sshd.jsonnet
Due: none

Add recidive stream
  conf/reaction/_ban.jsonnet
  conf/reaction/_recidive.jsonnet
  conf/reaction/filter-yunohost.jsonnet
  conf/reaction/stream-recidive.jsonnet
  conf/reaction/stream-sshd.jsonnet
Due: none

Add ip pattern configuration
  conf/reaction/pattern-ip.jsonnet
Due: none

appupgrades: fix bug when computing app upgrade infos
  src/app.py
  src/tools.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app.py
Due: test-i18n-keys

user list: add groups info by default + sort users with admins first followed by other users, sorted alphabetically
  src/user.py
Due: test-i18n-keys

Add a new --with_groups_and_perms to user_info() for the API to also fetch the group and permissions of the user
  share/actionsmap.yml
  src/user.py
Due: test-i18n-keys

increase postgresql version from 15 to 17
  helpers/helpers.v1.d/postgresql
  helpers/helpers.v2.1.d/postgresql
Due: none

trixie: Fix postgresql version
  conf/yunohost/services.yml
  src/hook.py
Due: test-i18n-keys

For some reason dpkg --list | grep doesn't work -______-
  hooks/conf_regen/35-postgresql
Due: none

firewall: Fix YunoFirewall.list, dict key is upnp not forwarded
  src/firewall.py
Due: test-i18n-keys

app.py: Fix typing, add dict annotation
  src/app.py
Due: test-i18n-keys

firewall: Add TypedDicts for settings for prettification
  src/firewall.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/firewall.py
Due: test-i18n-keys

Add documentation to YunoFirewallSettings
  src/firewall.py
Due: test-i18n-keys

firewall: Ensure mypy isn't lost
  src/firewall.py
Due: test-i18n-keys

Fix update user profile and cleanup cookie related code which for portal-api which is not used any more
  locales/en.json
  src/authenticators/ldap_ynhuser.py
  src/portal.py
Due: autofix-translated-strings, test-i18n-keys

adding kernel removal to tools_basic_space_cleanup
  src/tools.py
Due: test-i18n-keys

nodejs: Add a migration to patch app using nodejs such that the nodejs_version setting and the systemd file point to the full X.Y.Z version instead of the major version
  locales/en.json
  src/backup.py
  src/migrations/0033_rework_permission_infos.py
  src/migrations/0035_fix_apps_nodejs_version.py
  src/tools.py
Due: autofix-translated-strings, test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/migrations/0035_fix_apps_nodejs_version.py
  src/tools.py
Due: test-i18n-keys

Yolofix for i18n string inconsistency
  locales/ca.json
Due: autofix-translated-strings

Ignore automatic python commit in make_changelog
  maintenance/make_changelog.sh
Due: none

Update changelog for 12.1.10
  debian/changelog
Due: none

value -> content in dns-diagnosis-related strings
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

Fix nodejs version migration: some nodejs app have legit no service file
  src/migrations/0035_fix_apps_nodejs_version.py
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings
