Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

logs/sse: when initializing the SSE, first send the recent operation history (last 2 days)
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

Allow apps to be installed on / if another app is using /.well-known/
  src/app.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/app.py
Due: test-i18n-keys

Update n to v10.1.0
  helpers/vendor/n/n
Due: none

We are not the authors of acme_tiny ...
  src/vendor/acme_tiny/__init__.py
Due: none

We are not the authors of docker-image-extract ...
  helpers/vendor/docker-image-extract/docker-image-extract
Due: none

Fix global settings, having a visible on an entire section doesn't work ?
  share/config_global.toml
Due: none

Update changelog for 12.0.8
  debian/changelog
Due: none

Fix angry linter
  src/utils/sse.py
Due: none

Trash support for packaging v1
  helpers/helpers.v1.d/composer
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/php
  helpers/helpers.v1.d/ruby
  helpers/helpers.v1.d/sources
  helpers/helpers.v1.d/templating
  helpers/helpers.v1.d/utils
  src/app.py
  src/backup.py
  src/utils/legacy.py
  src/utils/resources.py
Due: test-i18n-keys

Fix PHP sourcing in helpers 2.1
  helpers/helpers.v2.1.d/utils
  src/app.py
Due: test-i18n-keys

Wut?
  src/app.py
Due: test-i18n-keys

shrug
  src/app.py
Due: test-i18n-keys

Typo T_T
  debian/control
Due: none

fix unset variable in helper 2.1 mysql
  helpers/helpers.v2.1.d/mysql
Due: none

fix(sse): message level to lower
  src/utils/sse.py
Due: none

fix(sse): send recent operation from oldest to newest
  src/utils/sse.py
Due: none

helpers: typo T_T
  helpers/helpers.v2.1.d/mysql
Due: none

Update changelog for 12.0.8.1
  debian/changelog
Due: none

Update changelog for 12.0.8.2
  debian/changelog
Due: none

Also fix set +x/-x for 'regular' helpers v2 to prevent yunohost shell from flooding bash debug salad
  helpers/helpers.v1.d/getopts
  helpers/helpers.v1.d/setting
Due: none

Simplify ynh_app_spawn_shell code for helpers 2.1 now that the app's settings are loaded in the context
  helpers/helpers.v2.1.d/utils
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v2.1.d/utils
  src/app.py
Due: test-i18n-keys

helpers2.1: fix patches handling when there's several sources to setup
  helpers/helpers.v2.1.d/sources
Due: none

sse: for the recent operation history, only send the 20 most recent op because 50 is way too much
  src/utils/sse.py
Due: none

sse: add operation description (title) in recent_history and start events
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

sse: add a sse_only mode for operation logger such as we can stream the messages from tools_update and diagnosis_run without actually creating an operation log file
  src/diagnosis.py
  src/log.py
  src/tools.py
Due: test-i18n-keys

sse: add a 'flash' option meant to be used for the webadmin to display 'toasts' for super-quick, simple operations
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

sse: simplify some operation descriptions
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

fix(sse): api header 'ref_id' to 'ref-id'
  src/utils/sse.py
Due: none

lol
  src/log.py
Due: test-i18n-keys

sse: accomodate the log stream cache stuff to the new operations that run with sse_only
  src/utils/sse.py
Due: none

sse: accomodate the log stream cache stuff to the new operations that run with sse_only²
  src/utils/sse.py
Due: none

sse: fix loglevel for flash operations, success is actually before warning x_x
  src/log.py
Due: test-i18n-keys

Fix linter: dots can be next line
  src/utils/form.py
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/utils/form.py
Due: none

Add noqa to false positives for flake8
  src/utils/form.py
Due: none

Omg go home Aleks u drunk x_x
  src/utils/sse.py
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

log: simplify unecessary complexity
  src/log.py
Due: test-i18n-keys
