Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

:art: Format Python code with Black, and Bash code with Shfmt
  src/diagnosers/80-apps.py
Due: test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/oc.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings, test-i18n-keys

Apply suggestions from code review
  share/config_global.toml
Due: none

fix from review
  share/actionsmap-portal.yml
  src/portal.py
Due: test-i18n-keys

typo
  src/hook.py
Due: test-i18n-keys

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Portuguese)
  locales/pt.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Italian)
  locales/it.json
Due: autofix-translated-strings

Translated using Weblate (Persian)
  locales/fa.json
Due: autofix-translated-strings

Delete the empty src/smart.py
  src/smart.py
Due: test-i18n-keys

Translations update from Weblate (#2072)
  locales/de.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/it.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
Due: autofix-translated-strings

Update 12.1.3
  debian/changelog
Due: none

Make sure utils helpers are loaded first
  helpers/helpers
  helpers/helpers.v2.1.d/0-utils
Due: none

There is no quiet option in jq
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/ruby
Due: none

Fix nodejs_version detection
  helpers/helpers.v2.1.d/nodejs
Due: none

Have jq return exit codes in helpers
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/ruby
Due: none

[fix] Let sending mail to external mailbox of a managed domain
  conf/dnsmasq/domain.tpl
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  hooks/conf_regen/43-dnsmasq
Due: none

[fix] Remove unused file ldap-domains.cf
  conf/postfix/plain/ldap-domains.cf
Due: none

[fix] SPF is not related to mail_out perm
  conf/dnsmasq/domain.tpl
  hooks/conf_regen/43-dnsmasq
Due: none

displaying multiline data correctly in _ynh_app_config_show
  helpers/helpers.v2.1.d/config
Due: none

sury now provides trixie repositories
  hooks/conf_regen/10-apt
Due: none

apps: introduce a new security issue list that is fetched alongside the catalog, such that the diagnosis reports a warning/error for older versions of apps vulnerable to known security issues
  locales/en.json
  src/app_catalog.py
  src/diagnosers/80-apps.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Regen dnsmasq if we change mail_in
  src/domain.py
Due: test-i18n-keys

[fix] postfix conf file missing if no domain activate mail_in feature
  hooks/conf_regen/19-postfix
Due: none

[fix] Remove residual ldap-domains.cf
  conf/postfix/plain/ldap-domains.cf
Due: none

[fix] Shellcheck
  hooks/conf_regen/19-postfix
Due: none

[fix] Send mail to external mailbox of a managed domain (#2075)
  conf/dnsmasq/domain.tpl
  conf/postfix/main.cf
  conf/postfix/plain/ldap-domains.cf
  hooks/conf_regen/19-postfix
  hooks/conf_regen/43-dnsmasq
  src/domain.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  hooks/conf_regen/19-postfix
  src/domain.py
Due: test-i18n-keys

regenconf/dnsmasq: optimize the number of time we call 'yunohost domain' for perf + use True/False instead of 1/0
  conf/dnsmasq/domain.tpl
  hooks/conf_regen/43-dnsmasq
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  hooks/conf_regen/43-dnsmasq
Due: none

dnsmasq: properly initialize dnsmasq conf upon installing the yunohost package to prevent dns resolution not working during postinstall and making everything explode
  debian/postinst
  hooks/conf_regen/43-dnsmasq
Due: none

Fix changelog syntax
  debian/changelog
Due: none
