Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Force-overwrite on `unzstd`
  helpers/helpers.v2.1.d/sources
Due: none

Set Python version to 3.13 for Trixie
  .python-version
Due: none

authenticators: use functools.cache for SESSION_SECRET
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
Due: none

authenticators: SESSION_FOLDER: convert to Path
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
  tests/test_sso_and_portalapi.py
Due: none

Add some function type hints
  src/domain.py
  src/utils/network.py
  src/utils/system.py
  src/utils/yunopaste.py
Due: test-i18n-keys

Coding style: use f-strings, rename one-letter variables, split long strings
  src/utils/system.py
  src/utils/yunopaste.py
Due: none

utils.system: Use functools.cache
  src/utils/system.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/yunopaste.py
Due: none

utils.sse: Refacto: add mostly typing, pathlib, use TypedDict for SSE events
  src/utils/sse.py
Due: none

utils.network, password: Add typing
  src/utils/network.py
  src/utils/password.py
Due: none

utils.network: ip4.yunohost.org now exists
  src/utils/network.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/network.py
Due: none

utils.legacy: use TypedDict, set typing
  src/utils/legacy.py
Due: none

utils.legacy: use pathlib, fix typing
  src/utils/legacy.py
Due: none

Fix ruff check issues
  src/utils/legacy.py
  src/utils/system.py
Due: none

IP servers are now ipv4.yunohost.org, ipv6.yunohost.org
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/43-dnsmasq
  src/diagnosers/10-ip.py
  src/dyndns.py
  src/utils/network.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/system.py
Due: none

utils.ldap: use functools.cache
  src/authenticators/ldap_admin.py
  src/utils/ldap.py
Due: none

utils.ldap: typing
  src/utils/ldap.py
Due: none

utils.dns: use functools.cache
  src/utils/dns.py
Due: none

utils.error, utils.dns: typing
  src/utils/dns.py
  src/utils/error.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/dns.py
Due: none

utils.system: python typing
  src/utils/system.py
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

form, configpanel: add typing
  src/utils/configpanel.py
  src/utils/form.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/form.py
Due: none

Fix logos/icons initial fetch
  src/app_catalog.py
Due: test-i18n-keys

Add some more typing
  src/authenticators/ldap_ynhuser.py
  src/certificate.py
  src/dns.py
  src/dyndns.py
  src/hook.py
  src/log.py
  src/permission.py
  src/regenconf.py
  src/service.py
  src/ssh.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/dns.py
  src/regenconf.py
Due: test-i18n-keys

Add some more typing
  src/domain.py
  src/tools.py
  src/user.py
  src/utils/configpanel.py
Due: test-i18n-keys

Formatting via ruff
  src/domain.py
  src/tools.py
Due: test-i18n-keys

typing: Unions with | don't work with string-type-names ?
  src/utils/form.py
Due: none

typing: undefined typed, switch to str-type-name
  src/tools.py
Due: test-i18n-keys

Split app.py low-level functions to utils/app_utils.py ?
  src/app.py
  src/migrations/0027_migrate_to_bookworm.py
  src/utils/app_utils.py
Due: test-i18n-keys

typing: undefined typed, switch to str-type-name
  src/utils/form.py
Due: none

apps: epic refactoring of app_upgrade because holy cow it was a mess ... still pretty complex but urgh the flow should be more modular and less error-prone now...
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/kab.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/uk.json
  locales/zh_Hans.json
  src/app.py
  src/backup.py
Due: autofix-translated-strings, test-i18n-keys

tests: Mokay whatever, fuck coverage, because it's flooding the logs with error when calling subprocesses...
  .gitlab/ci/test.gitlab-ci.yml
Due: none

tests: propagate changes to app tests
  locales/en.json
  pyproject.toml
  src/app.py
  tests/test_apps.py
  tests/test_backuprestore.py
Due: autofix-translated-strings, test-i18n-keys

typing: Unions with | don't work with string-type-names
  src/utils/form.py
Due: none

typing: bunch of typing fixes / improvements
  src/app.py
  src/authenticators/ldap_ynhuser.py
  src/certificate.py
  src/dns.py
  src/domain.py
  src/permission.py
  src/regenconf.py
  src/settings.py
  src/ssh.py
  src/tools.py
  src/user.py
  src/utils/configpanel.py
  src/utils/ldap.py
  src/utils/udisks2_interfaces.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
