Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

ci: propagate misc tweaks for CI speedup made on bookworm
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/doc.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

ci: ignore boring warning 'Could not identify correctly the dns zone for domain sub.domain.tld'
  src/dns.py
Due: test-dns, test-i18n-keys

ci: do not run on black PR
  .gitlab-ci.yml
Due: none

ci: more optimization, lets not install pytest etc because it should already be in the image
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Zblerg
  .gitlab-ci.yml
Due: none

:art: Format Python code with Black
  src/dns.py
Due: test-dns, test-i18n-keys

ci: also get rid of those old temporary nginx restart for debug
  .gitlab/ci/install.gitlab-ci.yml
Due: none

ci: hmmm temporarily(?) enable debug during postinstall to investigate a hook failure
  .gitlab/ci/install.gitlab-ci.yml
Due: none

ci: try to generate partial coverage data arterfact during tests, which we should be able to combine later?
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: merp?
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: force coverage file to have a different name per job ?
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: yoloattempt to combine the coverage reports
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: fix indent?
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: try to fix coverage remembering absolute path instead of relative paths ?
  .coveragerc
Due: none

ci: speedup git clone for test_apps using --depth 1
  src/tests/conftest.py
Due: none

ci: drop unused option --yunodebug in pytest conftest
  src/tests/conftest.py
Due: none

ci: when running pytest, make sure that 'import yunohost' will load the code being tested, not the one from /usr/lib/python3/dist-packages ?
  src/tests/conftest.py
Due: none

ci: remove tmp --debug, issue was due to hideproc failing to enable because the container wasnt running with the proper security options
  .gitlab/ci/install.gitlab-ci.yml
Due: none

ci: moar fixes to get the pytest import right ? x_x
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: fix mypy complains
  src/utils/form.py
Due: none

quality: add type hints to user.py
  share/actionsmap.yml
  src/user.py
  src/utils/form.py
Due: test-actionmap, test-user-group, test-i18n-keys

quality: unused import é_è
  src/user.py
Due: test-user-group, test-i18n-keys

quality: zblerg type must exist in runtime too, but using the classname as string works?
  src/user.py
Due: test-user-group, test-i18n-keys

quality: similar to previous commit...
  src/user.py
Due: test-user-group, test-i18n-keys

Fix weird typing issue breaking runtime ~_~
  src/user.py
Due: test-user-group, test-i18n-keys

quality: fix type confusion + mypy not actually checking the functions because of the is_unit_operation decorator, which requires typing wizardry to understan the signature change
  src/log.py
  src/user.py
Due: test-user-group, test-i18n-keys

tests: moar friskies
  src/tests/test_questions.py
Due: none

Update src/app.py
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

:art: Format Python code with Black
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

[enh] Be able to use postfix as a backup mx hosts
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  locales/en.json
  share/config_global.toml
  src/settings.py
Due: autofix-translated-strings, test-settings, test-i18n-keys

[enh] Conserver group permission
  conf/ssh/sshd_config
Due: none

[CI] Reformat / remove stale translated strings
  locales/en.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/ru.json
  locales/sk.json
  locales/tr.json
Due: autofix-translated-strings, test-i18n-keys

Add diagnoser about rfkill blocking Wi-Fi card (#1841)
  locales/en.json
  locales/fr.json
  src/diagnosers/00-basesystem.py
Due: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
