Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Update go
  helpers/helpers.v1.d/go
Due: none

helpers2.1: force COREPACK_ENABLE_DOWNLOAD_PROMPT=0 when using ynh_exec_as_app
  helpers/helpers.v2.1.d/utils
Due: none

fail2ban helper doesn't have --use_template anymore
  helpers/helpers.v2.1.d/fail2ban
Due: none

fail2ban: logpath isn't always /var/log/$app... Also only apply permissions when it doesn't already exist
  helpers/helpers.v2.1.d/fail2ban
Due: none

Update changelog for 12.0.10
  debian/changelog
Due: none

Moulinette.prompt may raise NotImplementedError exception, but not NotImplemented, which is not an exception
  src/backup.py
  src/tools.py
Due: test-i18n-keys

typo in mkdir argument
  src/backup.py
Due: test-i18n-keys

Update helpers/helpers.v1.d/go
  helpers/helpers.v1.d/go
Due: none

Change default value of show_other_domains_apps to True
  share/config_domain.toml
  src/portal.py
Due: test-i18n-keys

Document that <perm_name>.url can receive a regex as value
  src/utils/resources.py
Due: none

Prevent from removing the last user from admins
  src/tests/test_user-group.py
  src/user.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/tests/test_user-group.py
  src/user.py
Due: test-i18n-keys

Prevent to remove the last admin user
  src/user.py
Due: test-i18n-keys

Update app.py
  src/app.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/app.py
Due: test-i18n-keys

Adds --force to user_delete()
  share/actionsmap.yml
  src/user.py
Due: test-i18n-keys

Add locales
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/user.py
Due: test-i18n-keys

tests: use --force when user_delete zblerg
  src/tests/test_app_config.py
  src/tests/test_backuprestore.py
  src/tests/test_ldapauth.py
  src/tests/test_permission.py
  src/tests/test_sso_and_portalapi.py
  src/tests/test_user-group.py
Due: none

Fix user_delete()
  src/user.py
Due: test-i18n-keys

zblerg
  src/user.py
Due: test-i18n-keys

On CI tests, run apt update before install
  .gitlab/ci/install.gitlab-ci.yml
Due: none

Kill the old 'unprotected/protected/skipped' setting hell
  helpers/helpers.v1.d/setting
  src/app.py
Due: test-i18n-keys

Add autoreleases from tags github actions
  .github/workflows/releases_from_tags.yaml
Due: none

Kill old --package option and .ini for PHP FPM config
  helpers/helpers.v1.d/php
Due: none

mysql: dirty/ugly patch to autoinstall mariadb-server when calling ynhmysql_setup_db when it's not installed
  helpers/helpers.v1.d/mysql
Due: none

improve previous commit, use ynh_apt to have non-interactive apt etc
  helpers/helpers.v1.d/mysql
Due: none

Simplify fpm add config helper (Bookworm) (#1685)
  helpers/helpers.v1.d/php
Due: none

16391d7374def89fbe5fb336bf79b4c184ac3fb1: missing bool monkeypatching.
  helpers/helpers.v1.d/utils
Due: none

helpers: fix pattern to wait for when fail2ban is starting/reloading
  helpers/helpers.v1.d/fail2ban
Due: none

helpers/configpanel: fix assumption claquée au sol that $install_dir and $final_path always exist
  helpers/helpers.v1.d/config
  helpers/helpers.v2.1.d/config
Due: none

helpersv2.1/fail2ban: Fix reload-or-restart match line
  helpers/helpers.v2.1.d/fail2ban
Due: none

helpers/nginx: yoloremove the REMOTE_USER lines from app's conf because it's already provided by /etc/nginx/fastcgi_params + make sure it is mapped to the YNH_USER from SSOwat rather than $remote_user
  helpers/helpers.v1.d/nginx
  helpers/helpers.v2.1.d/nginx
  hooks/conf_regen/15-nginx
Due: none

Update n to v10.1.0
  helpers/vendor/n/n
Due: none

helpers2.1: fix is_data definition in ynh_restore (same as b516c14 but applied to ynh_restore)
  helpers/helpers.v2.1.d/backup
Due: none

helpers2.1: automatically add --default-character-set for mysql stuff (in particular for nextcloud)
  helpers/helpers.v2.1.d/mysql
Due: none

We are not the authors of docker-image-extract ...
  helpers/vendor/docker-image-extract/docker-image-extract
Due: none

fix unset variable in helper 2.1 mysql
  helpers/helpers.v2.1.d/mysql
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
