Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Update changelog for 11.2.8
  debian/changelog
Due: none

[CI] Format code with Black
  src/domain.py
Due: test-domains, test-i18n-keys

tests:backuprestore: let hooks gracefully fake exec except 'restore'
  src/tests/test_backuprestore.py
Due: none

i18n: rename pydantic errors + register in form file
  locales/en.json
  src/utils/form.py
Due: autofix-translated-strings, test-i18n-keys

i18n: add domain configpanel help keys in expected keys + add/remove some keys
  locales/en.json
  maintenance/missing_i18n_keys.py
  src/utils/configpanel.py
Due: autofix-translated-strings, test-i18n-keys

ci: yolotry to add more info to debug issue with sso check
  src/tests/test_permission.py
Due: none

tests: more debug attempt + remove the boring 'other_domain' for many test where we don't really care about second domain yet this slow things stuff ...
  src/tests/test_permission.py
Due: none

tests: fix boring warning about domain_a.dev/domain_b.dev during permissions tests
  src/dns.py
Due: test-dns, test-i18n-keys

tests: fix permission tests
  src/app.py
  src/tests/test_permission.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Fix change_url again, otherwise the lack of path_url default to the old path and fucks up the nginx regen
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Update changelog for 11.2.8.1
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Allow dots in usernames
  share/actionsmap.yml
Due: test-actionmap

Aleks forgot to remove pdb.set_trace ...
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Update changelog for 11.2.8.2
  debian/changelog
Due: none

ynh_setup_source: properly handle --keep for directories when the dir already exists in the new setup
  helpers/utils
Due: test-helpers

i18n: fix fucked up <code> tags
  locales/it.json
Due: autofix-translated-strings

form: fix SelectOption's choices coercing list to dict
  src/utils/form.py
Due: none

lazy-load crypt which is a deprecated lib to avoid having DepreciationWarnings all over the place
  src/user.py
Due: test-user-group, test-i18n-keys

systemutils: when checking debian version and system arch, redirect stderr to /dev/null to prevent stupid issues, for example when the current working dir doesnt exist anymore..
  src/utils/system.py
Due: none

logs: Ignore boring java warning
  src/hook.py
Due: test-i18n-keys

Apply __APP__ -> self.app recursively thanks to recursive_apply
  src/utils/resources.py
Due: test-app-resources

Add a new utils.algorithms file for code helpers.
  src/utils/algorithms.py
Due: none

Add __ARCH__ and __DEBIAN_VERSION__ to available variables in manifest.toml
  src/utils/resources.py
Due: test-app-resources

[fix] First source patches failure doesn't stop app script
  helpers/utils
Due: test-helpers

Update user.py
  src/user.py
Due: test-user-group, test-i18n-keys

Implement similar cookie mechanism for admin api (compared to portal) with static secret (cookies aint invalidated by api restart) and rolling session validity
  hooks/conf_regen/01-yunohost
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
  src/user.py
Due: test-user-group, test-ldapauth, test-i18n-keys

Zrgrml
  src/authenticators/ldap_admin.py
Due: test-ldapauth

More boring warnings
  src/hook.py
Due: test-i18n-keys

Refactor ynh_use_logrotate madness
  helpers/logrotate
Due: test-helpers

Requality warning about "disabled mail perm for user" as debug
  src/user.py
Due: test-user-group, test-i18n-keys

Only warn that mailbox is disabled for admins (#1739)
  src/user.py
Due: test-user-group, test-i18n-keys

auth/quality: replace os.path stuff with Path from pathlib
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

Update 'ssowat conf regenerated' message to reflect that SSO and portal are two slightly different thing
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Whoopsies
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

auth/portal/acl: allow admins to log on any main domain
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

quality: make linter gods happy
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

Prevent unecessary import resulting in catastrophies + lazy-load the session secrets
  src/app.py
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
