Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

:art: Format Python code with Ruff, and Bash code with Shfmt
  doc/generate_api_doc.py
Due: none

[fix] Import users tests
  tests/test_user-group.py
Due: none

[fix] Bad regex + fullname support in user imports (#2332)
  src/user.py
  tests/test_user-group.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/user.py
Due: test-i18n-keys

[fix] Invalid \escape: line 696 column 323 (char 88317)
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

[wip] Check permissions for ssh apps authorized_keys
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

[fix] Fail to raise ssh_user_home_writable_by_group error
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

[fix] Fail to raise ssh_user_home_writable_by_group error
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

[enh] Check if group can move autorized_keys through ACL
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

[wip] Revert some mess
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

wording
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

[fix] No SSH with public key after trixie migration (#2351)
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

[CI] Reformat / remove stale translated strings
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

conf_regen: apt: Ensure GPG key permissions to 644
  hooks/conf_regen/10-apt
Due: none

[fix] Yunohost dyndns update unable to ping dur to @setuid filtering
  conf/yunohost/yunohost-dyndns.service
Due: none

[enh] Move comments
  conf/yunohost/yunohost-dyndns.service
Due: none

[enh] Improve comments
  conf/yunohost/yunohost-dyndns.service
Due: none

migrations: trixie: apt: split atomic .replace with multiple .replace (#2363)
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Portuguese)
  locales/pt.json
Due: autofix-translated-strings

Translated using Weblate (Italian)
  locales/it.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (Occitan)
  locales/oc.json
Due: autofix-translated-strings

feat: Add security.ssh.ssh_root_pubkey_authentication setting
  conf/ssh/sshd_config
  locales/en.json
  locales/fr.json
  share/config_global.toml
  src/settings.py
Due: autofix-translated-strings, test-i18n-keys

feat: Include and backend custom /etc/ssh/sshd_config.d/*.conf config files
  conf/ssh/sshd_config
  hooks/conf_regen/03-ssh
Due: none

doc: Modernizing python
  doc/generate_api_doc.py
Due: none
