Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Inherit TERM from calling shell (#2195)
  src/app.py
Due: test-i18n-keys

Update certificate.py: update comment about validating that at least one DNS record is OK etc.
  src/certificate.py
Due: test-i18n-keys

firewall: Fix mypy issue
  src/firewall.py
Due: test-i18n-keys

Update changelog for 12.1.26
  debian/changelog
Due: none

Aaaaaaaand typo/unused var
  src/diagnosers/24-mail.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/system.py
Due: none

doc/generate_zsh_completion.py: chmod +x
  doc/generate_zsh_completion.py
Due: none

diagnosis/email/dnsbl: fix infamous issue with spamhaus returning 'openresolver'
  src/diagnosers/24-mail.py
Due: test-i18n-keys

s/blacklist/blocklist
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/uk.json
  locales/zh_Hans.json
  share/dnsbl_list.yml
  src/diagnosers/24-mail.py
Due: autofix-translated-strings, test-i18n-keys

ynh_spawn_app_shell: ensure to list all units, including dead/empty ones (#2197)
  helpers/helpers.v2.1.d/0-utils
Due: none

tests: changeurl, permission: replace is_public with init_main_permission for app installs
  tests/test_changeurl.py
  tests/test_permission.py
Due: none

certificate: Allow IPv6-only domains to run ACME
  src/certificate.py
Due: test-i18n-keys

[fix] Return a fail code if a mono upgrade failed (#2196)
  src/app.py
Due: test-i18n-keys

system updates: improve system packages categorization
  src/utils/system.py
Due: none

tests: break_yo_system now requires a path
  tests/test_apps.py
Due: none

helpers/nodejs: disable npm/node checking if there's a new version available and triggering a boring warning ... we use n which has legit versions etc
  helpers/helpers.v2.1.d/0-utils
  helpers/helpers.v2.1.d/nodejs
Due: none

Add GREP env variable to filter tests to run (#2198)
  tests/test_helpers.sh
Due: none

[enh] Include spam and trash in quota
  conf/dovecot/dovecot.conf
Due: none

files not templated correctly when values contain ampersands (&) #2470 (#2199)
  helpers/helpers.v1.d/templating
  helpers/helpers.v2.1.d/templating
  tests/test_helpers.v2.1.d/ynhtest_templating.sh
  tests/test_helpers.v2.d/ynhtest_templating.sh
Due: none

doc: Add ZSH completion script
  debian/install
  debian/rules
  doc/generate_zsh_completion.py
  doc/zsh_completion.j2
Due: none

actionsmap: Add autocomplete informations
  share/actionsmap.yml
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/diagnosers/24-mail.py
Due: test-i18n-keys

gitlab-ci: tests: Print duration of the 50 longest tests
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Update changelog for 12.1.27
  debian/changelog
Due: none

[fix] Remove resolver with timeout (#2203)
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  helpers/helpers.v1.d/templating
  helpers/helpers.v2.1.d/templating
Due: none

tests: test_apps: test_systemfuckedup_during_app_upgrade now raises an exception
  tests/test_apps.py
Due: none

Update firewall.py Choosing a custom ssh port not listed in firewall.xml leads to partial error (#2202)
  src/firewall.py
Due: test-i18n-keys

doc: generate_bash_completion.py: Remove debug arg to template
  doc/generate_bash_completion.py
Due: none

Zgrompf
  src/diagnosers/24-mail.py
Due: test-i18n-keys

Gitlab CI: pytest: Put the command line in common for all tests
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Update changelog for 12.1.28
  debian/changelog
Due: none

Update changelog for 12.1.29
  debian/changelog
Due: none

insist about case restrictions (#2207)
  helpers/helpers.v2.1.d/templating
Due: none

[fix] Boolean are transform into string by ynh_write_var_in_file
  helpers/helpers.v2.1.d/templating
Due: none

[fix] Unit test for ynh_write_var_in_file
  tests/test_helpers.v2.1.d/ynhtest_config.sh
Due: none

[fix] Boolean unit test
  tests/test_helpers.v2.1.d/ynhtest_config.sh
Due: none

[fix] Boolean ini unit test
  tests/test_helpers.v2.1.d/ynhtest_config.sh
Due: none

[fix] Boolean ini unit test bis
  tests/test_helpers.v2.1.d/ynhtest_config.sh
Due: none

[fix] Boolean ini unit test ter
  tests/test_helpers.v2.1.d/ynhtest_config.sh
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
