Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

[enh] Antibot with proof of work
  share/actionsmap-portal.yml
  src/portal.py
Due: test-i18n-keys

[fix] Bad regex + fullname support
  src/user.py
Due: test-i18n-keys

enh(dnsbl): Hostkarma yellowlist is not blocklist
  share/dnsbl_list.yml
Due: none

Linter
  src/utils/misc.py
Due: none

[enh] Generate random ascii between a-zA-Z0-9 instead of a-f0-9
  src/utils/misc.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/utils/misc.py
Due: none

enh(dnsbl): Hostkarma yellowlist is not blocklist (#2333)
  share/dnsbl_list.yml
Due: none

[fix] Bad type annotation
  src/portal.py
Due: test-i18n-keys

[fix] Missing translation
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

[fix] API doc generation
  doc/generate_api_doc.py
Due: none

[fix] API doc generation (#2334)
  doc/generate_api_doc.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  doc/generate_api_doc.py
Due: none

[enh] Add portal API doc
  doc/api.html
  doc/generate_api_doc.py
Due: none

[fix] Linter
  src/user.py
Due: test-i18n-keys

[enh] Just in case a user starts a password with {CRYPT}$...
  src/utils/password.py
Due: none

[fix] Avoid flooding lock thropugh call socket api and invitation consume entry
  locales/en.json
  src/portal.py
  src/user.py
Due: autofix-translated-strings, test-i18n-keys

[fix][unitest] Import/export users
  tests/test_user-group.py
Due: none

gitignore: Add debhelper and pybuild stuff
  .gitignore
Due: none

gitignore: Add missing doc files
  .gitignore
Due: none

pyproject: Fix project name, license, urls
  pyproject.toml
Due: none

pyproject: Fix setuptools with dynamic version
  maintenance/version.py
  pyproject.toml
Due: none

debian: Use pybuild to properly build the python package
  debian/control
  debian/py3dist-overrides
  debian/rules
Due: none

tox: use_develop = true
  pyproject.toml
Due: none

Delay rebinding Ruby version until after the new version is installed
  src/utils/resources.py
Due: none

Move migration 0037_upgrade_dkim_keys to 0036_dkim_keys_upgrade
  locales/de.json
  locales/en.json
  locales/fr.json
  locales/gl.json
  locales/ru.json
  locales/uk.json
  src/migrations/0036_dkim_keys_upgrade.py
Due: autofix-translated-strings, test-i18n-keys

migrations: Add migration script for upgrading PostgreSQL from 15 to 17
  src/migrations/m0037_postgresql_15_to_17.py
Due: none

migrations: Add migration script for fixing Python venv after trixie migration
  src/migrations/m0038_rebuild_python_venv_in_trixie.py
Due: none

locales: Add migration description strings
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

migrations: postgresql: run REINDEX DATABASE, REFRESH COLLATION VERSION
  src/migrations/postgresql.py
Due: none

migrations: postgresql: Remove postgresql-common config set by Immich
  src/migrations/postgresql.py
Due: none

migration: venv: Update python ignored apps list
  src/migrations/python.py
Due: none

migrations: postgresql: Fix python linter issues (raw strings)
  src/migrations/postgresql.py
Due: none

locales: Add missing message for postgresql migration
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys
