Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

:art: Format Python code with Ruff, and Bash code with Shfmt
  helpers/helpers.v2.1.d/apt
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  helpers/helpers.v2.1.d/templating
  src/utils/jinja_filters.py
Due: none

Delete setup.cfg: linter workflows / tox derps because of setup.cfg ?
  setup.cfg
Due: none

Update pyproject.toml: hmpf
  pyproject.toml
Due: none

mypy nyahnyahnyah
  src/app.py
Due: test-i18n-keys

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/app.py
Due: test-i18n-keys

Update src/tools.py
  src/tools.py
Due: test-i18n-keys

asking confirmation before removing kernels
  src/tools.py
Due: test-i18n-keys

adding an error message if apt failed
  src/tools.py
Due: test-i18n-keys

changing kernels removal command name
  share/actionsmap.yml
Due: none

correcting string concatenation
  src/tools.py
Due: test-i18n-keys

helpers/multimedia: disable logging when running all the mkdir and ln -s for each user to prevent leaking the users in logs, and also it's long and boring af
  helpers/helpers.v1.d/multimedia
  helpers/helpers.v2.1.d/multimedia
Due: none

helpers/systemd: when starting a service reaches timeout, don't try to check wether it's active or not to handle it as a failure
  helpers/helpers.v2.1.d/systemd
Due: none

logging: Moar boring warnings to ignore
  src/hook.py
Due: test-i18n-keys

Fix postgresql issue (and possibly others) because sometimes, for god knows whatever reason, using dpkg --list | grep 'ii foobar' doesn't work, gotta use \s ...
  helpers/helpers.v1.d/postgresql
  hooks/conf_regen/34-mysql
  hooks/conf_regen/35-postgresql
  src/service.py
  src/utils/resources.py
Due: test-i18n-keys

Invalid escape sequence gnnnnn
  src/utils/resources.py
Due: none

tests: in app catalog tests, make sure to clear the cache at the beginning of each test
  tests/test_app_catalog.py
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  tests/test_app_catalog.py
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Update changelog for 12.1.18
  debian/changelog
  maintenance/make_changelog.sh
Due: none

Use a github workflow that doesn't generate a stupid AI changelog or whatev
  .github/workflows/releases_from_tags.yaml
Due: none

:art: Format Python code with Ruff, and Bash code with Shfmt
  src/regenconf.py
Due: test-i18n-keys

Update changelog for 12.1.19
  debian/changelog
Due: none

perf / postfix regenconf: use $YNH_SETTINGS rather than calling yunohost settings get
  hooks/conf_regen/19-postfix
Due: none

perf/log show: stoopid typo leading to unecessarily opening a gazillion yamls
  src/log.py
Due: test-i18n-keys

Update changelog for 12.1.20
  debian/changelog
Due: none

fix(helpers): test not initialized var
  helpers/helpers.v2.1.d/templating
Due: none

Update helpers/helpers.v2.1.d/templating
  helpers/helpers.v2.1.d/templating
Due: none

Merge pull request #2172 from mrflos/repair-helper
  helpers/helpers.v2.1.d/templating
Due: none

Fix unset variable 'YNH_J2_FILTERS_FILE_PATH'
  src/hook.py
Due: test-i18n-keys

Revert "Merge pull request #2172 from mrflos/repair-helper"
  helpers/helpers.v2.1.d/templating
Due: none

fix again (helpers): YNH_J2_FILTERS_FILE_PATH may not exist (#2173)
  helpers/helpers.v2.1.d/templating
  src/hook.py
Due: test-i18n-keys

Update changelog for 12.1.21
  debian/changelog
Due: none

fix/add upnp rules in the nftables conf
  conf/nftables/nftables.d/yunohost-firewall.tpl.conf
Due: none

postfix/mailusers: check and display an error if postmap fails
  src/app.py
Due: test-i18n-keys

'set -Eeuo pipefail' is a fucking pitfall
  hooks/backup/05-conf_ldap
  hooks/backup/17-data_home
  hooks/backup/18-data_multimedia
  hooks/backup/20-conf_ynh_settings
  hooks/backup/21-conf_ynh_certs
  hooks/backup/23-data_mail
  hooks/backup/50-conf_manually_modified_files
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/02-ssl
  hooks/conf_regen/06-slapd
  hooks/conf_regen/09-nslcd
  hooks/conf_regen/10-apt
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/30-opendkim
  hooks/conf_regen/34-mysql
  hooks/conf_regen/35-postgresql
  hooks/conf_regen/37-mdns
  hooks/conf_regen/46-nsswitch
  hooks/conf_regen/52-fail2ban
  hooks/restore/05-conf_ldap
  hooks/restore/17-data_home
  hooks/restore/18-data_multimedia
  hooks/restore/20-conf_ynh_settings
  hooks/restore/21-conf_ynh_certs
  hooks/restore/23-data_mail
  hooks/restore/50-conf_manually_modified_files
Due: none
