Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

fix(domain): `custom_css` may not be in the the form when changing other domain panel values
  src/domain.py
Due: test-i18n-keys

postinstall: add CLI TOS acknowledgement
  src/tools.py
Due: test-i18n-keys

domain: add CLI TOS acknowledgement for dyndns domain addition
  src/domain.py
Due: test-i18n-keys

i18n: add TOS related translation keys
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

ci: commit black fixes directly to the branch without going through a PR
  .github/workflows/autoblack.yml
Due: none

ci: oopsies
  .github/workflows/autoblack.yml
Due: none

ci: autolint code with shfmt in addition to black?
  .github/workflows/autoblack.yml
  .github/workflows/autolint.yml
Due: none

ci: I can haz fix?
  helpers/helpers.v1.d/apt
Due: none

ci: merp
  .github/workflows/autolint.yml
  helpers/helpers.v1.d/apt
Due: none

ci: hmgn?
  .github/workflows/autolint.yml
Due: none

Revert "ci: hmgn?"
  .github/workflows/autolint.yml
Due: none

ci: well i removed the change meant to test it works ~_~
  helpers/helpers.v1.d/apt
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v1.d/apt
Due: none

Fix arguments in shfmt.sh, remove hardcoded paths
  maintenance/shfmt.sh
Due: none

tos: wording
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

tos: add a skip_tos for domain_add to solve the fact that the ToS question would be asked two times when postinstalling with a dyndns domain
  src/domain.py
  src/tools.py
Due: test-i18n-keys

tos: add migration to advertise the ToS for existing installs
  locales/en.json
  src/migrations/0031_terms_of_services.py
Due: autofix-translated-strings, test-i18n-keys

Unused import @_@
  src/migrations/0031_terms_of_services.py
Due: none

certificate: check topest parent domain has dns wildcard
  src/certificate.py
Due: test-i18n-keys

domain_add: first install selfsigned cert before trying to install letsencrypt
  locales/en.json
  src/domain.py
Due: autofix-translated-strings, test-i18n-keys

cert_status: allow API to get all domains cert status with `*`
  share/actionsmap.yml
Due: none

lint: fix
  src/domain.py
Due: test-i18n-keys

configpanels: pass config object to `_apply`
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-i18n-keys

configpanels: add `get_panel` and `get_section` method to `ConfigPanelModel`
  src/utils/configpanel.py
Due: none

dns: fix special-use tld registrar infos
  src/dns.py
Due: test-i18n-keys

dns: raise validation error on `domain_dns_push` for special-use tld
  src/dns.py
Due: test-i18n-keys

domain: make dns registrar auth infos optional + add `use_auto_dns` boolean option
  locales/en.json
  src/dns.py
  src/domain.py
Due: autofix-translated-strings, test-i18n-keys

domain: Also remove `managed_dns_records_hashes` in settings which are not handled by the config panel
  src/domain.py
Due: test-i18n-keys

fix: missing config param in settings ConfigPanel._apply
  src/settings.py
Due: test-i18n-keys

configpanels: fix boolean option in context evaluation for custom yes/no values
  src/utils/form.py
Due: none

Update src/domain.py
  src/domain.py
Due: test-i18n-keys

Update changelog for 12.0.4
  debian/changelog
Due: none

escape helper brief which may contains quote to avoid breaking the markup
  doc/helper_doc_template.md
Due: none

remove newline which seems to break the doc template
  helpers/helpers.v2.1.d/logging
Due: none

add markdown code block to make it nicer in the autogenerated doc page
  helpers/helpers.v2.1.d/setting
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/user.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v1.d/mongodb
  helpers/helpers.v2.1.d/mongodb
Due: none

fix: allow secondaries instances of apps_that_need_external_auth_maybe to be recognized
  src/app.py
Due: test-i18n-keys

Storage mangment API: disks infos
  debian/control
  share/actionsmap.yml
  src/disks.py
  src/storage.py
  src/utils/disks.py
Due: test-i18n-keys
