Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

Update changelog for 12.0.1
  debian/changelog
Due: none

bullseye->bookworm: explicitly import _strptime at the beginning to try to prevent "No module named '_strptime'" during migration
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

bullseye->bookworm: explicitly validate that we're on yunohost 12.x at the end of the migration
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

remove redis regen conf too
  hooks/conf_regen/36-redis
Due: none

diagnosis: be more robust when diagnosis DMARC records not containing '='
  src/diagnosers/12-dnsrecords.py
Due: test-i18n-keys

bullseye->bookworm: make sure the non-free / non-free-firmware stuff is idempotent
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

debian: add rule that moulinette and ssowat must be < 12 to prevent situation in bullseye->bookworm transition where moulinette gets upgrade but yunohost doesnt and everything explodes
  debian/control
Due: none

bullseye->bookworm: more stuff to try to prevent aptitude derping about python dependencies
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

Update changelog for 11.2.25
  debian/changelog
Due: none

Update 0027_migrate_to_bookworm.py.disabled: encourage apt to remove luajit if it's installed because for some reason it's causing issues
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

bullseye->bookworm: have a specific step dedicated to upgrade python3.9 to 3.11 because apt(itude) is derping about it sometimes...
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

bullseye->bookworm: boring tweak to remove chattr +i from /etc/resolv.conf otherwise resolvconf will later explode and complain about it
  src/migrations/0027_migrate_to_bookworm.py.disabled
Due: none

bullseye->bookworm: add a trick to flag the migration as done if it's still marked as pending
  src/tools.py
Due: test-i18n-keys

Fix yunomprompt not being enable after ISO install
  bin/yunoprompt
  hooks/conf_regen/01-yunohost
Due: none

Minor cosmetic / prevent double slashes
  hooks/conf_regen/02-ssl
Due: none

Update changelog for 11.2.26
  debian/changelog
Due: none

Update changelog for 12.0.2
  debian/changelog
  maintenance/make_changelog.sh
Due: none

apt resource: fix handling of empty 'packages' list breaking dpkg-deb call
  src/utils/resources.py
Due: test-app-resources

Translated using Weblate (Turkish)
  locales/tr.json
Due: autofix-translated-strings

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

Update changelog for 11.2.27
  debian/changelog
Due: none

app/permissions: Move permissions data out of LDAP
  conf/slapd/db_init.ldif
  conf/slapd/permission.ldif
  src/migrations/0031_rework_permission_infos.py
  src/permission.py
  src/tools.py
Due: test-permission, test-i18n-keys

ci: Fix test_permission_propagation_on_ssowat ?
  src/tests/test_sso_and_portalapi.py
Due: none

portalapi: we don't need absolute URLs for app logos ? (This ain't working when enabling the 'show other domains apps' because of CSP)
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

portalapi: fix portal_user_intro not being sent when authenticated, hence not displayed at all
  src/portal.py
Due: test-i18n-keys

portail/domain settings: Improve explanation about search engine
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

domain settings: add a title to the Email section to have a separation w.r.t. the portal settings
  share/config_domain.toml
Due: none

ci: fix auth header test?
  src/tests/test_permission.py
Due: none

ci: fix test_sso_basic_auth_header now that the default is with-password ?
  src/tests/test_sso_and_portalapi.py
Due: none

ci: new image names, now using 'shared' image build process with the appci
  .gitlab/ci/bot.gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: Merp, explicitly use python3
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

ci: really aleks
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: propagate new CI image names
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/doc.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

ci: smol optimization to avoid installing unecessary pip dependencies?
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: ughr ok, dunno what i was thinking, partially revert the previous commit, go to sleep Aleks ffs
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: fix missing image name for i18n job
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

ci: tweaks to try to run build/lints into a 'permanent' container (not recreated every time) to speed up things
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: try skipping diagnosis during upgrade to speed things up a bit?
  .gitlab-ci.yml
  debian/postinst
Due: none

ci: ignore boring warning 'Could not identify correctly the dns zone for domain sub.domain.tld'
  src/dns.py
Due: test-dns, test-i18n-keys

ci: try skipping diagnosis during upgrade to speed things up a bit?
  debian/postinst
Due: none
