Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

[CI] Reformat / remove stale translated strings (#2126)
  locales/nl.json
Due: autofix-translated-strings

Translated using Weblate (Dutch)
  locales/nl.json
Due: autofix-translated-strings

Fix nl.json
  locales/nl.json
Due: autofix-translated-strings

Fix test change_url: install app as public and actually check for the real page
  src/tests/test_changeurl.py
Due: none

Replace tox.ini, pytest.ini, .coveragerc with pyproject.toml
  .coveragerc
  pyproject.toml
  pytest.ini
  tox.ini
Due: none

Fix pytest + coverage
  pyproject.toml
Due: none

Add Python deps for uv/venv management
  pyproject.toml
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/tests/test_app_config.py
  src/tests/test_questions.py
Due: none

document supported CPU archs
  src/utils/resources.py
Due: none

zsh completion
  debian/install
  debian/rules
  doc/generate_zsh_completion.py
  share/actionsmap.yml
Due: none

correct lint bugs
  doc/generate_zsh_completion.py
Due: none

add values to actionsmap
  share/actionsmap.yml
Due: none

hide API only, complete app_catalog, show only usernames not emails
  doc/generate_zsh_completion.py
  share/actionsmap.yml
Due: none

restructure functions to generate arguments
  doc/generate_zsh_completion.py
Due: none

use True instead of true in yaml
  share/actionsmap.yml
Due: none

remove general arguments from actionsmap
  share/actionsmap.yml
Due: none

dumb typo
  helpers/helpers.v2.1.d/sources
Due: none

Update codeql action
  .github/workflows/codeql.yml
Due: none

src: In subdirs, replace absolute yunohost.xx imports with relative ..xx imports
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
  src/diagnosers/00-basesystem.py
  src/diagnosers/10-ip.py
  src/diagnosers/12-dnsrecords.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/diagnosers/30-services.py
  src/diagnosers/50-systemresources.py
  src/diagnosers/70-regenconf.py
  src/diagnosers/80-apps.py
  src/migrations/0027_migrate_to_bookworm.py
  src/migrations/0028_delete_legacy_xmpp_permission.py
  src/migrations/0029_postgresql_13_to_15.py
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
  src/migrations/0031_terms_of_services.py
  src/migrations/0032_firewall_config.py
  src/migrations/0033_rework_permission_infos.py
  src/utils/configpanel.py
  src/utils/form.py
  src/utils/ldap.py
  src/utils/legacy.py
  src/utils/password.py
  src/utils/resources.py
  src/utils/sse.py
  src/utils/system.py
  src/utils/yunopaste.py
Due: test-i18n-keys

typing: fix permission.py, form.py, domain.py, user.py, app.py
  src/app.py
  src/domain.py
  src/permission.py
  src/user.py
  src/utils/form.py
Due: test-i18n-keys

log: Add helper is_flash_unit_operation() to fix typing shenanigans
  src/app.py
  src/backup.py
  src/log.py
  src/user.py
Due: test-i18n-keys

src: Replace absolute yunohost.xx imports with relative .xx imports
  src/__init__.py
  src/app.py
  src/app_catalog.py
  src/backup.py
  src/certificate.py
  src/diagnosis.py
  src/disk.py
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/firewall.py
  src/hook.py
  src/log.py
  src/permission.py
  src/portal.py
  src/regenconf.py
  src/service.py
  src/settings.py
  src/ssh.py
  src/storage.py
  src/tools.py
  src/user.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/app.py
  src/log.py
Due: test-i18n-keys

Add helper ynh_get_timezone
  helpers/helpers.v2.1.d/0-utils
Due: none

Move pytest files from src/tests/ to tests/
  .github/workflows/codeql.yml
  .gitignore
  .gitlab/ci/test.gitlab-ci.yml
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_app_catalog.py
  tests/test_app_config.py
  tests/test_app_resources.py
  tests/test_apps.py
  tests/test_appurl.py
  tests/test_backuprestore.py
  tests/test_changeurl.py
  tests/test_dns.py
  tests/test_domains.py
  tests/test_ldapauth.py
  tests/test_permission.py
  tests/test_questions.py
  tests/test_regenconf.py
  tests/test_service.py
  tests/test_settings.py
  tests/test_sso_and_portalapi.py
  tests/test_user-group.py
Due: none

tests: isort, black
  tests/test_app_resources.py
  tests/test_apps.py
  tests/test_backuprestore.py
  tests/test_user-group.py
Due: none

set flake8 configuration (exclude directories)
  pyproject.toml
  setup.cfg
Due: none

Add isort to github action autolint
  .github/workflows/autolint.yml
  pyproject.toml
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/app.py
  src/app_catalog.py
  src/backup.py
  src/diagnosers/24-mail.py
  src/diagnosis.py
  src/disk.py
  src/domain.py
  src/dyndns.py
  src/firewall.py
  src/log.py
  src/migrations/0032_firewall_config.py
  src/migrations/0033_rework_permission_infos.py
  src/permission.py
  src/service.py
  src/settings.py
  src/user.py
  src/utils/resources.py
  src/utils/sse.py
  src/utils/udisks2_interfaces.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
