Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

[fix] value key doesn't exists
  src/diagnosers/12-dnsrecords.py
Due: test-i18n-keys

[fix] Fix some linter warnings
  src/diagnosers/12-dnsrecords.py
  src/dns.py
Due: test-i18n-keys

[enh] Wording
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add a new socket-activated yunohost API, meant to be used by the portal to trigger privileged actions, in particular for user registration and invitations
  bin/yunohost-socket-api
  conf/yunohost/yunohost-socket-api.socket
  conf/yunohost/yunohost-socket-api@.service
  hooks/conf_regen/01-yunohost
  src/portal.py
Due: test-i18n-keys

[fix] Make DNS push succeed with DKIM 2048bits
  src/diagnosers/12-dnsrecords.py
  src/dns.py
  src/dyndns.py
Due: test-i18n-keys

Initialize folders in /etc/yunohost/ that will store temporary invitation/registration data
  hooks/conf_regen/01-yunohost
Due: none

user registration: implement the admin-side actions to queue a registration request, list, accept/reject
  share/actionsmap.yml
  src/user.py
Due: test-i18n-keys

user invite/registration: introduce the new domain settings to configure user invite/registration
  locales/en.json
  share/config_domain.toml
  src/app.py
  src/domain.py
  src/portal.py
Due: autofix-translated-strings, test-i18n-keys

user invite: implement the basic actions to create, list, cancel user invitations
  share/actionsmap.yml
  src/user.py
Due: test-i18n-keys

Implement strings in locales/en.json for user registrations/invitations
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

user invite: add portal side API routes to be able to get the invite infos, and consume it + the actual consume action in the privileged side
  share/actionsmap-portal.yml
  src/portal.py
  src/user.py
Due: test-i18n-keys

user registration: implement an action to review registrations from CLI
  share/actionsmap.yml
  src/user.py
Due: test-i18n-keys

[fix] Missing breakpoint
  src/dns.py
Due: test-i18n-keys

[enh] Check if some mail are in queue before migrate DKIM
  locales/en.json
  src/diagnosers/24-mail.py
  src/migrations/0037_upgrade_dkim_keys.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Missing mail.py uttils
  src/utils/mail.py
Due: none

[fix] Linter warn about bare except
  src/migrations/0037_upgrade_dkim_keys.py
Due: none

[fix] This linter is a grammar nazi
  src/utils/mail.py
Due: none

[fix] Regenerate DKIM keys for all domains
  src/migrations/0037_upgrade_dkim_keys.py
Due: none

Add invisible cert authority settings in security
  locales/en.json
  share/config_global.toml
  src/certificate.py
Due: autofix-translated-strings, test-i18n-keys

Add the domain in the SAN list of the CSR, as some CA reject an empty SAN list
  src/certificate.py
Due: test-i18n-keys

[enh] Support no_cow with f2fs
  helpers/helpers.v2.1.d/0-utils
Due: none

Wording
  helpers/helpers.v2.1.d/0-utils
Due: none

add new fund name
  README.md
Due: none

Fix misc typo, i18n, other stuff reported by flake
  locales/en.json
  maintenance/missing_i18n_keys.py
  src/portal.py
  src/user.py
  src/utils/email.py
Due: autofix-translated-strings, test-i18n-keys

socketapi: better handling of moulinette lock aquire timeout
  bin/yunohost-socket-api
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

socketapi: pass the locale info through so we can get localized errors for user registration/invitation
  bin/yunohost-socket-api
  src/portal.py
Due: test-i18n-keys

Apply suggestions from code review
  conf/yunohost/yunohost-socket-api@.service
  locales/en.json
  share/actionsmap-portal.yml
  share/config_domain.toml
  src/portal.py
  src/utils/email.py
Due: autofix-translated-strings, test-i18n-keys

[enh] Add AI transparency field in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

CA name variabilized in certificate.py
  locales/en.json
  src/certificate.py
  src/domain.py
Due: autofix-translated-strings, test-i18n-keys

[enh] Update password policy
  locales/en.json
  share/config_global.toml
  src/domain.py
  src/dyndns.py
  src/user.py
  src/utils/error.py
  src/utils/password.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Linter
  src/utils/password.py
Due: none

[fix] Portal failed to get password policy and fallback on default value
  src/app.py
  src/portal.py
  src/settings.py
  src/utils/password.py
Due: test-i18n-keys

[fix] add pref for ipv6 and fix spf recore when domain site on a different server
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  src/dns.py
Due: test-i18n-keys

[fix] typo
  hooks/conf_regen/19-postfix
Due: none

[fix] typo
  src/dns.py
Due: test-i18n-keys

[fix] encore typo...
  src/dns.py
Due: test-i18n-keys

enh(mdns): replace 'device-info' service type by 'workstation'
  bin/yunomdns
Due: none

[fix] spacing
  src/dns.py
Due: test-i18n-keys

[fix] type finally
  hooks/conf_regen/19-postfix
Due: none

[fix] exclude second port used by app
  src/utils/resources.py
Due: none
