Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Add Borg backup configuration settings
  share/config_global.toml
Due: none

Implement Borg archive listing and info extraction
  src/backup.py
Due: test-i18n-keys

Implement Borg backup info and management methods
  locales/en.json
  src/backup.py
Due: autofix-translated-strings, test-i18n-keys

Use hook pre callback to define YNH_CWD for backup/restore hooks
  hooks/backup/05-conf_ldap
  hooks/backup/17-data_home
  hooks/backup/50-conf_manually_modified_files
  hooks/conf_regen/01-yunohost
  hooks/restore/05-conf_ldap
  hooks/restore/17-data_home
  hooks/restore/18-data_multimedia
  hooks/restore/23-data_mail
  hooks/restore/50-conf_manually_modified_files
  src/backup.py
  src/hook.py
  src/regenconf.py
  tests/test_backuprestore.py
Due: test-i18n-keys

Implement Borg backup creation
  src/backup.py
Due: test-i18n-keys

debian: Add an explicit dependency on sudo: libsss-sudo doesn't actually depend on sudo...
  debian/control
Due: none

Fix config-regen postfix hook
  hooks/conf_regen/19-postfix
Due: none

Fix helper call
  hooks/conf_regen/19-postfix
Due: none

Fix unset var YNH_J2_FILTERS_FILE_PATH
  debian/postinst
Due: none

Fix missing variable set experimental in init conf regen
  hooks/conf_regen/15-nginx
Due: none

Add missing all var for nginx config
  hooks/conf_regen/15-nginx
Due: none

Fix ldap backup/restore
  hooks/backup/05-conf_ldap
  hooks/restore/05-conf_ldap
Due: none

Make app list sorted case-insensitive
  src/app.py
Due: test-i18n-keys

sse: Improve heartbeat handling and error logging in sse_stream, 10ms was a bit expensive for no reason
  src/utils/sse.py
Due: none

log: Update log cache symlink handling to accept configurable age parameter, change since_days_ago default param to 1 month
  src/log.py
Due: test-i18n-keys

Fix pip freeze backup process by checking if pip file exists
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

remove useless fields in sssd conf
  conf/sssd/sssd.conf
Due: none

Fix migration script to handle package upgrades in separate steps for Trixie
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

Add interactive terminal check for backup confirmation prompt
  src/backup.py
Due: test-i18n-keys

add_systemd mount
  helpers/helpers.v2.1.d/systemd
Due: none

Use default backup method from config
  src/backup.py
Due: test-i18n-keys

Update backup_list to query all backup methods
  src/backup.py
Due: test-i18n-keys

Update backup_download to support all backup methods
  src/backup.py
Due: test-i18n-keys

Update backup_info to support all backup methods
  src/backup.py
Due: test-i18n-keys

Update backup_delete to support all backup methods
  src/backup.py
Due: test-i18n-keys

Improve yunopaste to also redact email-like patterns
  src/utils/yunopaste.py
Due: none

fix regex to redact passwords in the logs
  src/log.py
Due: test-i18n-keys

[fix] Improve password redact accuracy
  src/log.py
Due: test-i18n-keys

[fix] Typo after re.compile
  src/log.py
Due: test-i18n-keys

[fix] Redact secrets on sharing for old logs
  src/log.py
  src/utils/password.py
  src/utils/yunopaste.py
Due: test-i18n-keys

[fix] Bad comments
  src/utils/password.py
Due: none

Cleanup/simplify libluajit and t64 ad-hoc upgrade handling
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

Add explicit warning when no pip in venv
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

Update yunopaste.py: missing return
  src/utils/yunopaste.py
Due: none

packagingv3: fix the way we run script as non-root in hook_exec_bash
  src/hook.py
Due: test-i18n-keys

packagingv3: factorize/generalize _run_script from appresource to be able to run app scripts snippets, in particular the future v3 app functions build/init etc
  src/utils/app_utils.py
  src/utils/resources.py
Due: none

packagingv3: Basis for new declarative configuration mechanism
  locales/en.json
  src/utils/app_utils.py
  src/utils/configurations.py
Due: autofix-translated-strings, test-i18n-keys

packagingv3: Further implement the packagingv3 install flow
  src/app.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
