Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v1.d/setting
  helpers/helpers.v2.1.d/setting
Due: none

Simplify sym_to_oct / oct_to_sym utils
  src/utils/configurations.py
Due: none

packagingv3: Move evaluate_simple_js_expression from configpanels to a separate utils file
  src/utils/eval.py
  src/utils/form.py
Due: none

packagingv3: in configurations, add the 'exposed properties' mechanism + if clause handling
  src/tests/test_app_regenconf.py
  src/utils/configurations.py
Due: none

Revert "hooks/confg_regen: Remove duplicate function in dnsmasq"
  hooks/conf_regen/43-dnsmasq
Due: none

Update changelog for 12.1.5
  debian/changelog
Due: none

Fix a lambda typo + MyPy error in src/utils/udisks2_interfaces.py
  src/utils/udisks2_interfaces.py
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/utils/udisks2_interfaces.py
Due: none

actionsmap: remove weird yaml magic that seems to make build expose
  share/actionsmap.yml
Due: none

Update changelog for 12.1.5.1
  debian/changelog
Due: none

Fix test_questions: choices None is converted as choices []
  src/tests/test_questions.py
Due: none

Reapply "hooks/confg_regen: Remove duplicate function in dnsmasq"
  hooks/conf_regen/43-dnsmasq
Due: none

Replace spwd with direct call to passwd.
  src/tools.py
Due: test-i18n-keys

switch to _ynh_git_clone
  helpers/helpers.v2.1.d/0-utils
  helpers/helpers.v2.1.d/sources
Due: none

Add possibility to allow/disallow blacklisted mail server
  conf/postfix/main.cf
  hooks/conf_regen/19-postfix
  locales/en.json
  share/config_global.toml
Due: autofix-translated-strings, test-i18n-keys

Add pre_upgrade_hook
  src/app.py
Due: test-i18n-keys

Add support for multi db support
  src/utils/resources.py
Due: none

Improving git
  helpers/helpers.v2.1.d/0-utils
  helpers/helpers.v2.1.d/sources
Due: none

Inscrease DKIM key
  hooks/conf_regen/30-opendkim
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/tools.py
Due: test-i18n-keys

Fix get DKIM dns entry
  src/dns.py
Due: test-i18n-keys

Fix diagnosis
  src/diagnosers/12-dnsrecords.py
Due: test-i18n-keys

Encode in Json app settings with structured data
  helpers/helpers.v1.d/setting
  helpers/helpers.v2.1.d/setting
Due: none

First draft of app domain resource
  helpers/helpers.v1.d/nginx
  helpers/helpers.v2.1.d/nginx
  share/actionsmap.yml
  src/app.py
  src/regenconf.py
  src/utils/resources.py
Due: test-i18n-keys

Storage management: fix patch import
  src/utils/udisks2_interfaces.py
Due: none

add komgo to the exemption list of basic_auth
  src/app.py
Due: test-i18n-keys

Avoid create multiple time same postgresql user
  src/utils/resources.py
Due: none

Fix deprovisioning databases
  src/utils/resources.py
Due: none

Update yunoprompt: for some reason trying to run postinstall in the tty doesn't work anymore (can't input the arg so it loops forever) so removing the corresponding code ...
  bin/yunoprompt
Due: none

Update yunoprompt: actually, don't chvt 1 at the end because it may be used by RPi boot logs
  bin/yunoprompt
Due: none

Update yunoprompt: add a reminder for the default login/password
  bin/yunoprompt
Due: none

Update changelog for 12.0.15
  debian/changelog
Due: none

Translated using Weblate (Dutch)
  locales/nl.json
Due: autofix-translated-strings

yunoprompt: in fact if we dont chvt to another term it stays on the current one forever ~_~
  bin/yunoprompt
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
