Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

migrations: Revert faulty merge from dev
  src/migrations/m0037_postgresql_15_to_17.py
Due: none

[fix] Yunohost dyndns update unable to ping dur to @setuid filtering
  conf/yunohost/yunohost-dyndns.service
Due: none

[enh] Improve comments
  conf/yunohost/yunohost-dyndns.service
Due: none

[enh] Move comments
  conf/yunohost/yunohost-dyndns.service
Due: none

Fix linter issue in m0036_migrate_to_trixie
  src/migrations/m0036_migrate_to_trixie.py
Due: none

Remove disclaimer for venv migration
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/pt_BR.json
  locales/ru.json
  locales/uk.json
  locales/zh_Hans.json
  src/migrations/python.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Add Content-Type header with charset to admin emails
  src/utils/misc.py
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Hungarian)
  locales/hu.json
Due: autofix-translated-strings

[enh] Add advice to force upgrade unavailable apps after migration
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Remove disclaimer for venv migration (#2374)
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/pt_BR.json
  locales/ru.json
  locales/uk.json
  locales/zh_Hans.json
  src/migrations/m0036_migrate_to_trixie.py
  src/migrations/python.py
Due: autofix-translated-strings, test-i18n-keys

[fix] It looks like thereis no active cluster for postgresql-15
  src/migrations/postgresql.py
Due: none

[fix] Linter
  src/migrations/postgresql.py
Due: none

[fix] Remove legacy apt sources file
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: none

[fix] No hooks triggered during firewall reload
  src/firewall.py
Due: test-i18n-keys

lint: fix issue in postgresql.py (too many blank lines)
  src/migrations/postgresql.py
Due: none

[enh] Support postgresql cluster migration with postgis
  src/migrations/postgresql.py
Due: none

[fix] Support pgvector migration
  src/migrations/postgresql.py
Due: none

[enh] Support tmpfs
  conf/tmpfs/tmpfs-override.tpl.conf
  hooks/conf_regen/55-tmpfs
  share/config_global.toml
  src/settings.py
Due: test-i18n-keys

[fix] percent characters should hence be written as %%
  hooks/conf_regen/55-tmpfs
Due: none

[enh] New single validation mechanism for settings
  src/settings.py
Due: test-i18n-keys

[fix] Bash error in regen conf tmpfs
  hooks/conf_regen/55-tmpfs
Due: none

[fix] Validate tmpfs settings
  locales/en.json
  share/config_global.toml
  src/settings.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Missing i18n key
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

[enh] Do one apt install instead of 2
  src/migrations/postgresql.py
Due: none

[enh] Activate tmpfs on isntall if 4GB ram
  debian/postinst
  hooks/conf_regen/55-tmpfs
Due: none

[fix] Wording
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

[enh] Configure tmp during trixie migration
  hooks/conf_regen/55-tmpfs
  locales/en.json
  src/migrations/0036_migrate_to_trixie.py.disabled
Due: autofix-translated-strings, test-i18n-keys

[fix] psql migration fail if no extension is installed
  src/migrations/postgresql.py
Due: none

[enh] Default dynamic value for tmpfs_enabled
  src/settings.py
Due: test-i18n-keys

[fix] Refuse to reduce a /tmp lesser than the current size
  locales/en.json
  src/settings.py
Due: autofix-translated-strings, test-i18n-keys

[fix] Ask for reboot to avoid target is busy
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

[fix] Ask for reboot to avoid target is busy
  hooks/conf_regen/55-tmpfs
Due: none

[enh] Override only the good line of tmp.mount
  conf/tmpfs/tmpfs-override.tpl.conf
Due: none

[fix] Remove unaccurate FIXME
  src/settings.py
Due: test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Persian)
  locales/fa.json
Due: autofix-translated-strings

[enh] Update nginx ciphers
  conf/nginx/security.conf.inc.j2
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
