Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

klass -> cls for class methods
  src/utils/configurations.py
Due: none

packagingv3: in configurations, add the 'exposed properties' mechanism + if clause handling
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

Simplify sym_to_oct / oct_to_sym utils
  src/utils/configurations.py
Due: none

packagingv3: Move evaluate_simple_js_expression from configpanels to a separate utils file
  src/utils/eval.py
  src/utils/form.py
Due: none

packagingv3: misc tweaks in utils + drop the '.d' mechanism for nginx, it's too clumsy and the new automerge mechanism + extras conf mechanism should cover most of the usecases
  src/service.py
  src/utils/app_utils.py
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: test-i18n-keys

packagingv3: implement logic and test for php conf management
  conf/php/template.conf.j2
  src/utils/configurations.py
  src/utils/system.py
  tests/test_app_regenconf.py
Due: none

quality: Please the linter gods?
  src/app.py
  src/service.py
  src/utils/form.py
  src/utils/resources.py
Due: test-i18n-keys

services: add mechanism to _run_service_command to 'wait until' some pattern appears in log, similar to what's already done in app systemd helpers
  conf/yunohost/services.yml
  src/service.py
Due: test-i18n-keys

packagingv3: implement logic and test for cron conf management
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

packagingv3: implement logic and test for logrotate conf management
  conf/logrotate/template.conf.j2
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

service.py: add typing to all functions
  src/service.py
Due: test-i18n-keys

packagingv3: implement logic and test for sudoers conf management
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

Minor method signature change, var name wording
  src/utils/configurations.py
Due: none

packagingv3: implement logic and test for app conf management
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

packagingv3: implement logic and test for fail2ban conf management
  conf/fail2ban/app-filter.conf.j2
  conf/fail2ban/app-jail.conf.j2
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

packagingv3: implement logic and test for systemd conf management
  src/utils/configurations.py
  tests/test_app_regenconf.py
Due: none

Introduce a 'YunohostPackagingError' to ideally help improve semantic / UX / DX
  locales/en.json
  src/utils/app_utils.py
  src/utils/configurations.py
  src/utils/error.py
  src/utils/eval.py
  src/utils/resources.py
Due: autofix-translated-strings, test-i18n-keys

appresources: simplify the way we call the resource manager and handle context infos
  src/app.py
  src/backup.py
  src/utils/app_utils.py
  src/utils/resources.py
Due: test-i18n-keys

appconfigurations: enforce typing + misc simplifications about properties hydratation etc
  src/utils/configurations.py
Due: none

appresources: propagate changes to system user resource
  src/utils/resources.py
Due: none

appresources: propagate changes to the database resource, handled as 'multi' resource
  src/utils/resources.py
Due: none

appresources: Propagate changes to app resources tests
  tests/test_app_resources.py
Due: none

packagingv3: add support for helpersv3, though it probably needs much cleaning, remove what shouldnt be needed anymore
  helpers/helpers
  helpers/helpers.v3.d/0-utils
  helpers/helpers.v3.d/apt
  helpers/helpers.v3.d/backup
  helpers/helpers.v3.d/composer
  helpers/helpers.v3.d/config
  helpers/helpers.v3.d/fail2ban
  helpers/helpers.v3.d/getopts
  helpers/helpers.v3.d/go
  helpers/helpers.v3.d/logging
  helpers/helpers.v3.d/logrotate
  helpers/helpers.v3.d/mongodb
  helpers/helpers.v3.d/multimedia
  helpers/helpers.v3.d/mysql
  helpers/helpers.v3.d/nginx
  helpers/helpers.v3.d/nodejs
  helpers/helpers.v3.d/permission
  helpers/helpers.v3.d/php
  helpers/helpers.v3.d/postgresql
  helpers/helpers.v3.d/redis
  helpers/helpers.v3.d/ruby
  helpers/helpers.v3.d/setting
  helpers/helpers.v3.d/sources
  helpers/helpers.v3.d/string
  helpers/helpers.v3.d/systemd
  helpers/helpers.v3.d/templating
  helpers/helpers.v3.d/vendor
Due: none

appresources: propagate changes to install dir resource, with significant changes to www-data accesses etc, gotta iterate on that
  src/utils/resources.py
Due: none

appresources: propagate changes to the source resource which is now handled as a 'multi' resource
  src/utils/resources.py
Due: none

appresources: propagate changes to nodejs/go/ruby/compose resources
  src/utils/resources.py
Due: none

appresources: propagate changes to data dir resource, with significant changes to www-data accesses etc, gotta recheck that
  src/utils/resources.py
Due: none

appresources: propagate changes to apt resources, with new props such as if_bookworm, if_trixie, gotta iterate on that
  src/utils/resources.py
Due: none

appresources: propagate changes to port resource, handled as a 'multi' resource, gotta iterate on that to properly regen firewall in an efficient way
  src/utils/resources.py
Due: none

Misc typing
  src/utils/form.py
  src/utils/resources.py
  src/utils/system.py
Due: none

Temporary debug
  src/utils/resources.py
Due: none

Missing i18n string
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Fix edge case in _group_packages_per_categories for system packages with no category
  src/utils/system.py
Due: none

Update changelog for 12.1.7.1
  debian/changelog
Due: none

Fix new shellcheck diagnosis
  tests/test_helpers.sh
Due: none

github: auto-format: ruff sort imports
  .github/workflows/auto-format.yml
Due: none

diagnosers: update typing for mypy strict
  src/diagnosers/00-basesystem.py
  src/diagnosers/10-ip.py
  src/diagnosers/12-dnsrecords.py
Due: test-i18n-keys

authenticators: Update typing for mypy strict
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
Due: none

diagnosers: update typing for mypy strict
  src/diagnosers/12-dnsrecords.py
  src/diagnosers/14-ports.py
Due: test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
