Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

multimedia: fix again edgecase where setfacl crashes because of broken symlinks..
  helpers/multimedia
Due: test-helpers

Unused import
  src/settings.py
Due: test-settings, test-i18n-keys

debian: force the dependency of resolvconf to be about the concrete package, not openresolv/systemd-resolved which apparently nowadays 'provide' resolvconf but with different stuff under the hood ~_~
  debian/control
Due: none

helpers: disable super verbose logging during ynh_replace_vars poluting logs, it's kinda stable now...
  helpers/utils
Due: test-helpers

helpers: fix previous commit, ynh_replace_string already messes with set +x/-x so hmpf
  helpers/utils
Due: test-helpers

regenconf/dovecot: make sure the home folder for vmail user is created to prevent a warning
  hooks/conf_regen/25-dovecot
Due: none

Drop a bunch of legacy stuff from the 4.x era
  src/migrations/0025_global_settings_to_configpanel.py
  src/utils/legacy.py
Due: none

Drop legacy snippet from the 3.x era
  src/backup.py
Due: test-backuprestore, test-i18n-keys

Oopsies
  src/settings.py
Due: test-settings, test-i18n-keys

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

configpanels: avoid settings being None when empty
  src/utils/configpanel.py
Due: none

UrlOption: fix serialize HttpUrl to str in post validator so it can be saved
  src/utils/form.py
Due: none

domaiiconfig: add portal search engine option
  locales/en.json
  share/config_domain.toml
  src/domain.py
Due: autofix-translated-strings, test-domains, test-i18n-keys

portal: add app's description + logo from catalog in portal settings
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

apps: people insist on trying to install Nextcloud after creating a user called nextcloud ... So let's check this stupid case
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

sso/portal: more tests
  src/tests/test_sso_and_portalapi.py
Due: none

portalapi: don't leak the full list of users nor private apps
  src/portal.py
Due: test-i18n-keys

domain: don't regen the ssowat conf when changing the main domain (creates an issue during postinstall)
  src/domain.py
Due: test-domains, test-i18n-keys

logs: remove the intermediate useless 'categories' directory, this is triggering me so much
  hooks/conf_regen/01-yunohost
  src/log.py
Due: test-i18n-keys

appscatalog: this 'init' step is overengineered ... let's instead say the nominal case is that there's no apps_catalog.yml defined, and in this case we use the default catalog
  locales/en.json
  src/app_catalog.py
  src/tests/test_app_catalog.py
  src/tools.py
Due: autofix-translated-strings, test-i18n-keys

broken imports ... + more lazy loading
  src/portal.py
  src/tools.py
Due: test-i18n-keys

Cleanup legacy
  src/tools.py
Due: test-i18n-keys

Moar lazy loading
  src/tools.py
Due: test-i18n-keys

Unused imports
  src/app_catalog.py
  src/domain.py
Due: test-domains, test-i18n-keys

Fix port reuse during provisionning.
  src/utils/resources.py
Due: test-app-resources

Update resources.py: used_ports -> ports_used_by_self
  src/utils/resources.py
Due: test-app-resources

mention cidr notation
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

Added translation using Weblate (Korean)
  locales/ko.json
Due: autofix-translated-strings

Translated using Weblate (Catalan)
  locales/ca.json
Due: autofix-translated-strings

Update translation files
  locales/ar.json
Due: autofix-translated-strings

helpers: remove pre-4.2 behavior for default file/folders permissions
  helpers/utils
Due: test-helpers

helpers: fix pattern to wait for when fail2ban is starting/reloading
  helpers/fail2ban
Due: test-helpers

ssowatconf: replace use_remote_user_var_in_nginx_conf with protect_against_basic_auth_spoofing, and basic-with/without-password for the auth_header flag
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Cleanup unused code
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
