Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

helpers2.1: add tests for nodejs, ruby, go and composer helpers
  tests/test_helpers.sh
  tests/test_helpers.v2.1.d/ynhtest_nodejs_ruby_go_composer.sh
Due: none

appresources: implement new nodejs resource
  src/utils/resources.py
Due: none

appresources: implement new ruby resource
  src/utils/resources.py
Due: none

appresources: implement new go resource
  src/utils/resources.py
Due: none

appresources: implement new composer resource
  src/utils/resources.py
Due: none

appresources: implement tests for the new nodejs, ruby, go, composer resources
  src/tests/test_app_resources.py
Due: none

helpers2.1: auto-apply path tweaks when loading helpers for app using the nodejs/ruby/go resource
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/ruby
Due: none

appresources: update doc for nodejs / ruby / go / composer resources
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/ruby
  src/utils/resources.py
Due: none

Cleanup label parameters in helpers v2.1
  helpers/helpers.v2.1.d/permission
Due: none

[fix] FDN dns resolver are not available for all AS
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

Typo
  helpers/helpers.v2.1.d/go
Due: none

Update resolv.dnsmasq.conf: add Mullvad and DNS4all
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

helpers doc. Fix missing blockquote
  helpers/helpers.v1.d/setting
Due: none

Move doc generator scripts to the doc repository
  .gitlab/ci/bot.gitlab-ci.yml
  doc/forms_doc_template.md.j2
  doc/generate_configpanel_and_formoptions_doc.py
  doc/generate_helpers_doc.py
  doc/generate_resources_doc.py
  doc/helpers_doc_template.md.j2
  doc/resources_doc_template.md.j2
Due: none

resources docstring: use []() instead of <> for links for docusaurus
  src/utils/resources.py
Due: none

Fix the doc generation for docusaurus
  helpers/helpers.v2.1.d/fail2ban
  helpers/helpers.v2.1.d/templating
  src/utils/resources.py
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v2.1.d/templating
Due: none

Fix "Both" protocol for firewall allow/disallow
  src/firewall.py
Due: test-i18n-keys

Update resolv.dnsmasq.conf + 1 DNS server Aquilenet
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

remove dead code
  src/firewall.py
Due: test-i18n-keys

doc: Fix ynh_config_add helpers.v.2.1 example (#2045)
  helpers/helpers.v2.1.d/templating
Due: none

Add autoreleases from tags github actions
  .github/workflows/releases_from_tags.yaml
Due: none

Merge pull request #2066 from YunoHost/fix-fdn-dns
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

Merge pull request #2068 from sachaz/patch-1
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

Update to 12.0.12
  debian/changelog
Due: none

Update domain.py: domain actions should trigger a regenconf for opendkim which is now the one handling dkim keys
  src/domain.py
Due: test-i18n-keys

debian/control: require moulinette >= 12.1
  debian/control
Due: none

_ynh_git_clone: be able to provide branch name as 3rd arg
  helpers/helpers.v2.1.d/utils
Due: none

resource/ruby: use half of the available CPUs to compile Ruby
  src/utils/resources.py
Due: none

helpers/go: less verbose go helper for 2.1
  helpers/helpers.v2.1.d/go
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/ruby
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/ruby
  helpers/helpers.v2.1.d/utils
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

helpers2.1: make sure to keep composer.phar when using ynh_setup_source, otherwise that defeat the purpose of the composer resource
  helpers/helpers.v2.1.d/sources
Due: none

packagingv3: factorize/generalize _run_script from appresource to be able to run app scripts snippets, in particular the future v3 app functions build/init etc
  src/app.py
  src/utils/resources.py
Due: test-i18n-keys

packagingv3: fix the way we run script as non-root in hook_exec_bash
  src/hook.py
Due: test-i18n-keys

packagingv3: tweaks to be able to run composer as non-root
  helpers/helpers.v2.1.d/composer
  helpers/helpers.v2.1.d/sources
  src/utils/resources.py
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  helpers/helpers.v2.1.d/sources
Due: none

diagnosis: complain about apps only requiring yunohost 4.x
  locales/en.json
  src/diagnosers/80-apps.py
Due: autofix-translated-strings, test-i18n-keys

diagnosis: complain about apps still using packaging v1
  locales/en.json
  src/diagnosers/80-apps.py
Due: autofix-translated-strings, test-i18n-keys
