Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Update en.json
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

pyproject: Set proper ty tool configuration
  pyproject.toml
Due: none

form: Fix SelectOption with Pydanticv2 that doesn't like empty choices
  src/utils/form.py
Due: none

Fix ruff adding a line break
  src/certificate.py
Due: test-i18n-keys

tests: ruff format
  tests/test_app_config.py
  tests/test_apps.py
Due: none

form: Remove legacy support of 'choices' in 'string' type question
  src/utils/form.py
Due: none

tests: questions: Remove test for legacy support of string with choices
  tests/test_questions.py
Due: none

Replace calls to m18n.n with calls to i18n._ as a first step to gettext
  maintenance/missing_i18n_keys.py
  src/__init__.py
  src/app.py
  src/app_catalog.py
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
  src/backup.py
  src/certificate.py
  src/diagnosis.py
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/firewall.py
  src/hook.py
  src/log.py
  src/migrations/0031_terms_of_services.py
  src/permission.py
  src/portal.py
  src/regenconf.py
  src/service.py
  src/settings.py
  src/tools.py
  src/user.py
  src/utils/app_utils.py
  src/utils/configpanel.py
  src/utils/error.py
  src/utils/form.py
  src/utils/i18n.py
  src/utils/ldap.py
  src/utils/resources.py
  tests/conftest.py
  tests/test_app_catalog.py
  tests/test_file_utils.py
  tests/test_ldapauth.py
Due: test-i18n-keys

pyproject: Add test dependency to pytest
  pyproject.toml
Due: none

tests: Use Pytest for the helpers tests
  tests/test_helpers.py
  tests/test_helpers.sh
  tests/test_helpers_wrapper.sh
Due: none

CI: use the new pytest-based helpers test code
  .gitlab/ci/test.gitlab-ci.yml
Due: none

pyproject: Stop setting --capture=no by default in pytest config
  pyproject.toml
Due: none

tests: helpers: Fix permissions of tempdir
  tests/test_helpers.py
Due: none

pyproject: fix dependencies
  pyproject.toml
Due: none

conf_regen: nginx: We don't need to remove this legacy file anymore
  hooks/conf_regen/15-nginx
Due: none

utils: dns: Replace deprecated call to resolver.query() with resolver.resolve(search=True)
  src/utils/dns.py
Due: none

resources: is_public is packagingv1, we don't need to remove it anymore
  src/utils/resources.py
Due: none

dyndns: subscribe should always take a domain, remove None as default value
  src/dyndns.py
Due: test-i18n-keys

dns: Use a class Progress instead of a function with attributes
  src/dns.py
Due: test-i18n-keys

backup: Pass filter=data to tarfile.extract()
  src/backup.py
Due: test-i18n-keys

backup: restore actually requires tarfile filter=tar, because filter=data refuses to extract symlinks to absolute paths
  src/backup.py
Due: test-i18n-keys

backup: Fix type issues, unimplemented method
  src/backup.py
Due: test-i18n-keys

domain: Use typing overload to inform type checker that get_parent_domain_of(return_self=True) always returns str
  src/domain.py
Due: test-i18n-keys

conf_regen: dovecot: We don't need to remove this legacy directory anymore
  hooks/conf_regen/25-dovecot
Due: none

conf: apt: https for repo.yunohost.org
  conf/apt/sources.list.d/yunohost.sources
Due: none

postfix: update security options according to Mozilla recommendation
  conf/postfix/main.cf
Due: none

Update Conflicts in debian/control
  debian/control
Due: none

dovecot: update security stuff according to mozilla recommentation
  conf/dovecot/dovecot.conf
Due: none

utils: system: Reimplement /etc/os-release parsing with pure python, add os_release()
  src/utils/system.py
Due: none

hooks: conf-regen: nss: Fix sssd file permission on post_regen
  hooks/conf_regen/09-nss
Due: none

nginx conf: update security conf / ciphers with recommendation from Mozilla for nginx 1.26, openssl 3.5
  conf/nginx/security.conf.inc
Due: none

regenconf/nss: make sure to chmod files before restarting the service
  hooks/conf_regen/09-nss
Due: none

Update changelog for 13.0.0
  debian/changelog
Due: none

fix(helpers): do not fail if subdir already exists
  src/utils/resources.py
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
