Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

.gitlab/ci/bot.gitlab-ci.yml:

generate-helpers-doc:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
  script:
    - hub clone https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/doc.git doc_repo
    - doc_repo/scripts/generate_docs.sh "$PWD"

    - cd doc_repo
    # replace ${CI_COMMIT_REF_NAME} with ${CI_COMMIT_TAG} ?
    - hub checkout -b "${CI_COMMIT_REF_NAME}"
    - hub commit -am "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Update app helpers/resources for ${CI_COMMIT_REF_NAME}" -p # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    - tags

autofix-translated-strings:
  stage: bot
  image: "build-and-lint"
  needs: []
  before_script:
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff --ignore-blank-lines --ignore-all-space --ignore-space-at-eol --ignore-cr-at-eol | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

.gitlab/ci/translation.gitlab-ci.yml:

########################################
# TRANSLATION
########################################
test-i18n-keys:
  stage: translation
  script:
    - python3 maintenance/missing_i18n_keys.py --check
  only:
    changes:
      - locales/en.json
      - src/*.py
      - src/diagnosers/*.py

autofix-translated-strings:
  stage: translation
  image: "before-install"
  needs: []
  before_script:
    - apt-get update -y && apt-get install git hub -y
    - git config --global user.email "yunohost@yunohost.org"
    - git config --global user.name "$GITHUB_USER"
    - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
    - cd github_repo
  script:
    # create a local branch that will overwrite distant one
    - git checkout -b "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}" --no-track
    - python3 maintenance/missing_i18n_keys.py --fix
    - python3 maintenance/autofix_locale_format.py
    - '[ $(git diff | wc -l) != 0 ] || exit 0'  # stop if there is nothing to commit
    - git commit -am "[CI] Reformat / remove stale translated strings" || true
    - git push -f origin "ci-autofix-translated-strings-${CI_COMMIT_REF_NAME}":"ci-remove-stale-translated-strings-${CI_COMMIT_REF_NAME}"
    - hub pull-request -m "[CI] Reformat / remove stale translated strings" -b Yunohost:$CI_COMMIT_REF_NAME -p || true # GITHUB_USER and GITHUB_TOKEN registered here https://gitlab.com/yunohost/yunohost/-/settings/ci_cd
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    changes:
      - locales/*

Update changelog for 13.0.3
  debian/changelog
Due: none

fix debian_version_id, return type to Literal
  src/utils/system.py
Due: none

Update hooks/backup/18-data_multimedia
  hooks/backup/18-data_multimedia
Due: none

Fix from linter
  hooks/backup/17-data_home
  src/backup.py
Due: test-i18n-keys

Add a custom DNS resolvers setting
  conf/dnsmasq/plain/resolv.dnsmasq.conf
  hooks/conf_regen/43-dnsmasq
  locales/en.json
  share/config_global.toml
  src/settings.py
Due: autofix-translated-strings, test-i18n-keys

conf_regen: yunohost: Fix file touched in /etc instead of pending_dir
  hooks/conf_regen/01-yunohost
Due: none

conf_regen: dnsmasq: Replace hand-written file with jinja template
  conf/dnsmasq/spamhaus.j2
  hooks/conf_regen/43-dnsmasq
Due: none

system: ignore mypy issue caused by Literal int return value
  src/utils/system.py
Due: none

app_catalog: ignore crappy mypy error
  src/app_catalog.py
Due: test-i18n-keys

Add missing i18n key in en.json
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Apply suggestions
  conf/dnsmasq/plain/resolv.dnsmasq.conf
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Remove duplicate key
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Fix from linter
  hooks/restore/17-data_home
Due: none

Fix typo
  helpers/helpers.v2.1.d/0-utils
Due: none

dns: formatting
  src/dns.py
Due: test-i18n-keys

utils: system: formatting
  src/utils/system.py
Due: none

helpers: apt: sury php repository was renamed. Also, use if then instead of ||
  helpers/helpers.v1.d/apt
Due: none

conf: apt: Install repo GPG keys in /usr/share/keyrings
  conf/apt/sources.list.d/sury_php.sources
  conf/apt/sources.list.d/yunohost.sources
  hooks/conf_regen/10-apt
Due: none

conf_regen: apt: gpg dearmor directly to file without pipe
  hooks/conf_regen/10-apt
Due: none

helpers: apt: Use deb822, install keys in /usr/share/keyrings, rename configuration files to prevent conflicts
  helpers/helpers.v2.1.d/apt
Due: none

refactor(TimeOption): update with `get_annotation()`
  src/utils/form.py
Due: none

fix: validation: typing
  src/utils/form.py
  src/utils/validation.py
Due: none

refactor: test_questions: some email as xpass for now
  tests/test_questions.py
Due: none

refactor(form): update Field attrs definition
  src/utils/form.py
Due: none

refactor(UserOption): update with `get_annotation()`
  src/utils/form.py
Due: none

refactor(URLOption): update with `get_annotation()`
  src/utils/form.py
  tests/test_questions.py
Due: none

feat: add DatetimeConstraints
  src/utils/validation.py
Due: none

refactor: app_install: rename app install arg + simplify env dict building
  src/app.py
Due: test-i18n-keys

refactor(PasswordOption): use PasswordConstraints
  src/utils/form.py
  tests/test_questions.py
Due: none

refactor(form): extract redact function
  src/utils/form.py
  src/utils/validation.py
Due: none

refactor(FileOption): update with `get_annotation()`
  src/utils/form.py
Due: none

refactor: move some types to new 'validations.py' file
  src/utils/configpanel.py
  src/utils/form.py
  src/utils/validation.py
Due: none

chore: lint
  src/utils/configpanel.py
  src/utils/form.py
  src/utils/validation.py
  tests/test_questions.py
Due: none

test(options): add new test for option with 'multiple: true'
  tests/test_questions.py
Due: none

feat: add BaseConstraints
  src/utils/validation.py
Due: none

refactor(GroupOption): update with `get_annotation()`
  src/utils/form.py
Due: none

refactor: remove app install legacy env args YNH_APP_ARG*
  src/app.py
  src/utils/app_utils.py
Due: test-i18n-keys

refactor(form): new type definition for StringOption
  src/utils/form.py
  tests/test_questions.py
Due: none

fix(EmailOption): allow special use tld
  src/utils/validation.py
  tests/test_questions.py
Due: none

refactor: simplify ConfigPanelModel and PanelModel building
  src/utils/configpanel.py
Due: none
