Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

:art: Format Python code with Black
  src/diagnosis.py
Due: test-i18n-keys

helpers2.1: switch to posisional args for ynh_multimedia_addaccess because that's what 99% of apps already do
  helpers/helpers.v2.1.d/multimedia
Due: none

helpers2.1: use the MEDIA_GROUP global var for consistency
  helpers/helpers.v2.1.d/multimedia
Due: none

Update changelog for 11.2.20
  debian/changelog
Due: none

What do we say about testing before releasing? Not today!
  helpers/helpers.v2.1.d/sources
Due: none

helpers: yolo add tests for helpersv2.1
  .gitlab/ci/test.gitlab-ci.yml
  tests/test_helpers.sh
  tests/test_helpers.v2.1.d/ynhtest_apt.sh
  tests/test_helpers.v2.1.d/ynhtest_config.sh
  tests/test_helpers.v2.1.d/ynhtest_logging.sh
  tests/test_helpers.v2.1.d/ynhtest_safe_rm.sh
  tests/test_helpers.v2.1.d/ynhtest_settings.sh
  tests/test_helpers.v2.1.d/ynhtest_setup_source.sh
  tests/test_helpers.v2.1.d/ynhtest_templating.sh
  tests/test_helpers.v2.1.d/ynhtest_user.sh
  tests/test_helpers.v2.d/ynhtest_apt.sh
  tests/test_helpers.v2.d/ynhtest_config.sh
  tests/test_helpers.v2.d/ynhtest_logging.sh
  tests/test_helpers.v2.d/ynhtest_network.sh
  tests/test_helpers.v2.d/ynhtest_secure_remove.sh
  tests/test_helpers.v2.d/ynhtest_settings.sh
  tests/test_helpers.v2.d/ynhtest_setup_source.sh
  tests/test_helpers.v2.d/ynhtest_templating.sh
  tests/test_helpers.v2.d/ynhtest_user.sh
Due: none

friskies
  helpers/helpers.v2.1.d/logging
  tests/test_helpers.v2.1.d/ynhtest_apt.sh
  tests/test_helpers.v2.1.d/ynhtest_config.sh
  tests/test_helpers.v2.1.d/ynhtest_logging.sh
  tests/test_helpers.v2.1.d/ynhtest_settings.sh
  tests/test_helpers.v2.1.d/ynhtest_setup_source.sh
  tests/test_helpers.v2.1.d/ynhtest_templating.sh
Due: none

better help for 'diagnosis unignore'
  src/service.py
Due: test-service, test-i18n-keys

better help message for 'diagnosis unignore'
  share/actionsmap.yml
Due: test-actionmap

friskies²
  tests/test_helpers.v2.1.d/ynhtest_config.sh
  tests/test_helpers.v2.1.d/ynhtest_setup_source.sh
  tests/test_helpers.v2.1.d/ynhtest_templating.sh
Due: none

trying to fix #1886
  src/service.py
Due: test-service, test-i18n-keys

friskies³
  tests/test_helpers.v2.1.d/ynhtest_config.sh
  tests/test_helpers.v2.1.d/ynhtest_setup_source.sh
Due: none

Update changelog for 11.2.20.1
  debian/changelog
Due: none

real working fix
  src/service.py
Due: test-service, test-i18n-keys

use of the intermediate functions with a more eloquent name for clarity
  src/service.py
Due: test-service, test-i18n-keys

Didnt realize this line could be removed during previous merge
  src/tools.py
Due: test-i18n-keys

Add migration for postgresql 13->15 after migrating to bookworm
  src/migrations/0029_postgresql_13_to_15.py
Due: none

Update changelog for 11.2.20.2
  debian/changelog
Due: none

Cleanup old migrations
  src/migrations/0021_migrate_to_bullseye.py
  src/migrations/0026_new_admins_group.py
Due: none

Adapt venv-rebuild migration for bookworm
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
Due: none

Fix i18n messages for bullseye->bookworm
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Fix i18n strings?
  locales/en.json
  maintenance/missing_i18n_keys.py
  src/migrations/0027_migrate_to_bookworm.py
Due: autofix-translated-strings, test-i18n-keys

translate _diagnosis_ignore function
  locales/en.json
  src/diagnosis.py
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

fix a dumb typo; i'd like commit amend but it was already merged thanks to our serial merger
  src/diagnosis.py
Due: test-i18n-keys

typo (menacing parenthesis)
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Backport i18n string + code for bookworm migration
  locales/en.json
  src/migrations/0027_migrate_to_bookworm.py
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/ru.json
  locales/sk.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings, test-i18n-keys

bullseye->bookorm: delay the yunohost-api restart such that the migration doesnt appear as failed from the webamin
  locales/en.json
  src/migrations/0027_migrate_to_bookworm.py
  src/utils/system.py
Due: autofix-translated-strings, test-i18n-keys

bullseye->bookworm: force-regen the nsswitch configuration because for some reason it gets reset?
  src/migrations/0027_migrate_to_bookworm.py
Due: none

Fix missing import of moulinette.Moulinette
  src/migrations/0027_migrate_to_bookworm.py
  src/utils/system.py
Due: none

Add missing from time import sleep ; also restart nginx at the end of the migration
  src/migrations/0027_migrate_to_bookworm.py
Due: none

bullseye->bookworm: dirty hack to explicitly remove rspamd because it's causing too many issues in dependency resolution idk
  src/migrations/0027_migrate_to_bookworm.py
Due: none

YunoHost has a hard dependence on python 3.11 because of type hints syntax ... Also ${python3:Depends} and ${misc:Depends} don't do anything special in our context
  debian/control
Due: none

Gotta depend on python3-jinja2 >= 3.0 to prevent issues with markupsaf
  debian/control
Due: none

helpers/apt: rely on simpler dpkg-deb --build rather than equivs to create .deb for app virtual dependencies
  debian/control
  helpers/helpers.v1.d/apt
  helpers/helpers.v2.1.d/apt
Due: none

Add aptitude to deps for the migration to bookworm
  debian/control
Due: none

Add aptitude_with_progress_bar()
  src/tools.py
  src/utils/system.py
Due: test-i18n-keys

aptitude_with_progress_bar: delay the yunohost-api restart such that the migration doesnt appear as failed from the webamin
  src/utils/system.py
Due: none
