Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Persian)
  locales/fa.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

[enh] Update ciphers for postfix and dovecot
  conf/dovecot/dovecot.conf.j2
  conf/postfix/main.cf.j2
Due: none

[enh] Update ssh kex algo for trixie
  conf/ssh/sshd_config.j2
Due: none

Update logpath and backend for postfix-sasl
  conf/fail2ban/jail.conf
Due: none

Fix regen-conf
  hooks/conf_regen/19-postfix
  hooks/conf_regen/35-postgresql
  hooks/conf_regen/43-dnsmasq
Due: none

[fix] No hooks triggered during firewall reload
  src/firewall.py
Due: test-i18n-keys

[enh] Update nginx ciphers
  conf/nginx/security.conf.inc.j2
Due: none

Translated using Weblate (Kabyle)
  locales/kab.json
Due: autofix-translated-strings

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
