Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

:art: Format Python code with Black, and Bash code with Shfmt
  src/tools.py
Due: test-i18n-keys

firewall: fix nftables service test_status command
  conf/yunohost/services.yml
Due: none

firewall: nft uses - as range separator, not :
  src/firewall.py
Due: test-i18n-keys

firewall: explain that the port range is dash-separated
  src/firewall.py
Due: test-i18n-keys

firewall: _validate_port() replaces colon with dash for port ranges
  src/firewall.py
Due: test-i18n-keys

firewall: during migration, replace : with - for port ranges
  src/migrations/0032_firewall_config.py
Due: none

log/sse: urgh 'ctime' is not creation date on linux T_T ... switch to mtime instead
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

app/coreconfigpanel: fix 'visible' for show_tile for non-webapps
  src/app.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/app.py
Due: test-i18n-keys

firewall: missing default value for protocol in 'firewall list'
  share/actionsmap.yml
Due: none

sse: add the 'started_by' info to heartbeat events and support detecting that operation were started by crons
  locales/en.json
  src/log.py
  src/utils/sse.py
Due: autofix-translated-strings, test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/log.py
Due: test-i18n-keys

cosmetic-ish: prettier human file size
  src/utils/system.py
Due: none

fix(configpanel): raise proper message on ConfigPanelModel instanciation error
  src/utils/configpanel.py
Due: none

Allow using an alternate actionsmap for development
  bin/yunohost-api
  src/__init__.py
Due: test-i18n-keys

sse/service: tweak the way we display logs upon service start/stop/restart etc to improve ui/ux on the webadmin
  locales/en.json
  src/log.py
  src/service.py
  src/utils/error.py
Due: autofix-translated-strings, test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/utils/error.py
Due: none

sse/service: followup of previous commit, limit the number of lines in logs + fix all locale strings
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/nl.json
  locales/oc.json
  locales/pt.json
  locales/uk.json
  locales/zh_Hans.json
  src/service.py
Due: autofix-translated-strings, test-i18n-keys

Remove the tag docker from the code_quality workflow. It doesn't exist anymore.
  .gitlab-ci.yml
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  doc/generate_api_doc.py
  maintenance/autofix_locale_format.py
  src/log.py
Due: test-i18n-keys

quality: Moar typing!
  src/app.py
  src/app_catalog.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/app.py
  src/app_catalog.py
Due: test-i18n-keys

quality: better trick for mypy to understand logger.success()
  src/app.py
Due: test-i18n-keys

Update firewall.py: let's not try to refresh upnp after disabling it because it's just gonna fail
  src/firewall.py
Due: test-i18n-keys

Update firewall.py: do not actually enable upnp if no upnp device is available on the network
  src/firewall.py
Due: test-i18n-keys

permission migration: missing app_ssowatconf at the end
  src/migrations/0033_rework_permission_infos.py
Due: none

Unused import
  src/app.py
Due: test-i18n-keys

Update changelog for 12.1.1
  debian/changelog
Due: none

upnpc -> self.upnpc
  src/firewall.py
Due: test-i18n-keys

protocol must be in uppercase for upnp open or close ports
  src/firewall.py
Due: test-i18n-keys

close all ports when upnp is disabled
  src/firewall.py
Due: test-i18n-keys

copypasta
  src/firewall.py
Due: test-i18n-keys

Remove 'ignore_errors=yes' from systemctl show output
  helpers/helpers.v2.1.d/utils
Due: none

ci: Stop ignoring hooks/ in the shellcheck workflow
  .github/workflows/shellcheck.yml
Due: none

ci: Prevent duplicate workflows on PRs for shellcheck
  .github/workflows/shellcheck.yml
Due: none

ci: Remove some shellcheck error codes
  .github/workflows/shellcheck.yml
Due: none

hooks/backup,restore: Fix some shellcheck
  hooks/backup/05-conf_ldap
  hooks/backup/17-data_home
  hooks/backup/18-data_multimedia
  hooks/backup/20-conf_ynh_settings
  hooks/backup/21-conf_ynh_certs
  hooks/backup/23-data_mail
  hooks/backup/50-conf_manually_modified_files
  hooks/restore/05-conf_ldap
  hooks/restore/17-data_home
  hooks/restore/18-data_multimedia
  hooks/restore/20-conf_ynh_settings
  hooks/restore/21-conf_ynh_certs
  hooks/restore/23-data_mail
  hooks/restore/50-conf_manually_modified_files
Due: none

hooks/conf_regen: Fix some shellcheck
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/02-ssl
  hooks/conf_regen/03-ssh
  hooks/conf_regen/06-slapd
  hooks/conf_regen/09-nslcd
  hooks/conf_regen/10-apt
  hooks/conf_regen/15-nginx
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/30-opendkim
  hooks/conf_regen/34-mysql
  hooks/conf_regen/35-postgresql
  hooks/conf_regen/37-mdns
  hooks/conf_regen/40-nftables
  hooks/conf_regen/43-dnsmasq
  hooks/conf_regen/46-nsswitch
  hooks/conf_regen/52-fail2ban
Due: none

hooks/post_user_create: Fix shellcheck
  hooks/post_user_create/ynh_multimedia
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
