Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

__init__: Use Pathlib instead of os
  src/__init__.py
Due: test-i18n-keys

Revert "sssd: set enumerate=true for ldap"
  conf/sssd/sssd.conf
Due: none

locales: Remove legacy strings about deleted migrations
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/en.json
  locales/es.json
  locales/eu.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/pt_BR.json
  locales/ru.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings, test-i18n-keys

Create utils.i18n.m18n, replace moulinette.m18n calls with this package
  maintenance/missing_i18n_keys.py
  src/__init__.py
  src/app.py
  src/app_catalog.py
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
  src/backup.py
  src/certificate.py
  src/diagnosis.py
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/firewall.py
  src/hook.py
  src/log.py
  src/migrations/m0031_terms_of_services.py
  src/migrations/m0036_migrate_to_trixie.py.disabled
  src/migrations/postgresql.py
  src/migrations/python.py
  src/permission.py
  src/regenconf.py
  src/service.py
  src/settings.py
  src/tools.py
  src/user.py
  src/utils/app_utils.py
  src/utils/configpanel.py
  src/utils/error.py
  src/utils/form.py
  src/utils/i18n.py
  src/utils/ldap.py
  src/utils/resources.py
  src/utils/system.py
  tests/conftest.py
  tests/test_app_catalog.py
  tests/test_app_config.py
  tests/test_domains.py
  tests/test_file_utils.py
  tests/test_ldapauth.py
  tests/test_settings.py
Due: test-i18n-keys

utils.i18n: Implement M18N as wrapper around moulinette.
  src/__init__.py
  src/utils/i18n.py
Due: test-i18n-keys

utils.i18n: Use gettext and .mo files to handle translations
  src/utils/i18n.py
Due: none

debian: Use the new po/mo files instead of json files
  debian/install
  debian/rules
Due: none

utils.i18n: Restrict format kwargs to str | int | None | Exception
  src/utils/i18n.py
Due: none

maintenance: Update autofix_locale_format.py for po files
  maintenance/autofix_locale_format.py
Due: none

po: Add generate_mo to autogenerate installable translation files
  .gitignore
  po/generate_mo
Due: none

maintenance: Add temporary script convert_locales.py
  maintenance/convert_locales.py
Due: none

po: Add script update_pot, to replace maintenance/missing_i18n_keys.py. Add po/LINGUAS.
  po/LINGUAS
  po/update_pot
  pyproject.toml
Due: none

dns: Add type: ignore on broken assignments
  src/dns.py
Due: test-i18n-keys

ci: update workflows according to locales -> po move
  .gitlab/ci/bot.gitlab-ci.yml
Due: none

backup: Add i18n translation strings in comments
  src/backup.py
Due: test-i18n-keys

po: Add script update_po to update po files from pot
  po/update_po
Due: none

Keep compatibility with moulinette for the time being
  debian/install
  po/en.json
Due: none

fix: update vendored docker-image-extract to support OCI multi-registry
  helpers/vendor/docker-image-extract/docker-image-extract
Due: none

Update server.tpl.conf
  conf/nginx/server.tpl.conf
Due: none

Update 15-nginx
  hooks/conf_regen/15-nginx
Due: none

upstream if balancer option true
  conf/nginx/server.tpl.conf
Due: none

make upstream file only if balancer option true
  hooks/conf_regen/15-nginx
Due: none

Update regenconf.py
  src/regenconf.py
Due: test-i18n-keys

add a balancer option to domain
  share/config_domain.toml
Due: none

Update config_domain.toml
  share/config_domain.toml
Due: none

trixie: configure sssd_ldap to use ldap:// on localhost without any TLS
  conf/sssd/sssd.conf
Due: none

[fix] Update time regularly
  debian/control
Due: none

Implement `yunohost app db app` to spawn a client db prompt
  share/actionsmap.yml
  src/app.py
Due: test-i18n-keys

fix linter
  locales/en.json
  src/app.py
Due: autofix-translated-strings, test-i18n-keys

[enh] Prefer to use email address as default identifier
  conf/nginx/autoconfig.tpl.xml
Due: none

[enh] Be able to login with any alias mail
  conf/dovecot/dovecot-ldap.conf
Due: none

make mise more robust by taking some of the code from the sources helper (for shasum checking for example)
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/mise
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/python
  helpers/helpers.v2.1.d/ruby
Due: none

security: handle the kernel special case when checking for security issues via the security.toml index
  src/diagnosers/00-basesystem.py
Due: test-i18n-keys

enh(locales): app_upgrade_url_required grammar and rephrase
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
