Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: build-and-lint
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

socketapi: forgot to restablish CollectMode=inactive-or-failed on the service
  conf/yunohost/yunohost-socket-api@.service
Due: none

helpers: mongodb: Support trixie
  helpers/helpers.v2.1.d/mongodb
Due: none

Update changelog for 13.0.5
  debian/changelog
Due: none

userinvitations: use QUERY verb when fetching invite information from the portal to prevent the token ending up in the nginx logs
  share/actionsmap-portal.yml
Due: none

Update src/utils/password.py: refine check that input for hash_user_password is already a password hash
  src/utils/password.py
Due: none

Improve comment in hash_user_password
  src/utils/password.py
Due: none

userinvitations: add context/explanation for the funky 710 mode on the .user_registration folder
  hooks/conf_regen/01-yunohost
Due: none

userinvite/registration: try to reduce the typing panic ?
  src/domain.py
  src/portal.py
  src/user.py
  src/utils/email.py
  src/utils/file_utils.py
  src/utils/password.py
Due: test-i18n-keys

Zgrompf
  src/user.py
Due: test-i18n-keys

Moar typing/linting shenanigans
  src/domain.py
  src/portal.py
  src/user.py
  src/utils/email.py
  src/utils/file_utils.py
  src/utils/password.py
Due: test-i18n-keys

[enh] Include -1 password policy into strength_levels
  src/utils/password.py
Due: none

[fix] Linter
  src/utils/error.py
  src/utils/password.py
Due: none

[enh] Add comments about syncing default value
  share/config_global.toml
  src/portal.py
Due: test-i18n-keys

[fix] Tests failed due to weak password
  .gitlab/ci/install.gitlab-ci.yml
  tests/test_user-group.py
Due: none

[fix] Password policy for password options is too high
  src/utils/form.py
Due: none

[fix] Linter
  src/utils/form.py
Due: none

[fix] Password unit tests still fail
  tests/test_app_config.py
  tests/test_apps.py
  tests/test_backuprestore.py
  tests/test_ldapauth.py
  tests/test_permission.py
  tests/test_questions.py
  tests/test_sso_and_portalapi.py
Due: none

[fix] Password unit tests still fail
  tests/test_app_config.py
  tests/test_apps.py
  tests/test_questions.py
Due: none

[fix] Allows accent in password define in unit tests
  tests/test_permission.py
  tests/test_sso_and_portalapi.py
Due: none

[fix] Increase chance to display advice in bottom bar
  src/utils/password.py
Due: none

[fix] Check admin strength if needed during user update
  src/user.py
Due: test-i18n-keys

CA name variabilized in domain.py
  locales/en.json
  src/domain.py
Due: autofix-translated-strings, test-i18n-keys

Variable name made generic
  locales/en.json
  src/certificate.py
Due: autofix-translated-strings, test-i18n-keys

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Handle decoding errors in subprocess output
  src/utils/process.py
Due: none

Cleanup some FIXMEs
  locales/en.json
  src/portal.py
Due: autofix-translated-strings, test-i18n-keys

CA name variabilized in config_domain.toml
  share/config_domain.toml
Due: none

DNS CAA value variabilized
  share/config_global.toml
  src/dns.py
Due: test-i18n-keys

Comment variabilized
  hooks/conf_regen/01-yunohost
Due: none

CA name made generic in the actionsmap
  share/actionsmap.yml
Due: none

[fix] Dead code
  src/app_catalog.py
Due: test-i18n-keys

security: restrict permissions on /var/log/nginx/*.log (#2286)
  hooks/conf_regen/15-nginx
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
