Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/el.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/hu.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/kab.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/te.json
  locales/tr.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings, test-i18n-keys

Update en.json
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Die if upgade is not possible
  helpers/helpers.v1.d/mongodb
  helpers/helpers.v2.1.d/mongodb
Due: none

Lower logging about failure to retrieve app label
  src/app.py
Due: test-i18n-keys

Support domains in cert_alternate_names hook
  src/certificate.py
Due: test-i18n-keys

Update src/certificate.py: add comment explaining motivation/usecase
  src/certificate.py
Due: test-i18n-keys

:art: Format Python code with Black, and Bash code with Shfmt
  src/certificate.py
Due: test-i18n-keys

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Misc typo / wording in fr translation
  locales/fr.json
Due: autofix-translated-strings

Migration don't rebuilt venv for homeassistant and immich
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
Due: none

Migration don't rebuilt venv for homeassistant and immich (#1996)
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
Due: none

:art: Format Python code with Black, and Bash code with Shfmt
  src/migrations/0030_rebuild_python_venv_in_bookworm.py
Due: none

Add possibility to allow/disallow main email, email alias and email forward form portal
  locales/en.json
  share/actionsmap-portal.yml
  share/config_global.toml
  src/portal.py
Due: autofix-translated-strings, test-i18n-keys

Disable the experimental proxy_cookie_path setting in nginx/security.conf
  conf/nginx/security.conf.inc
Due: none

Update n to v10.1.0
  helpers/vendor/n/n
Due: none

helpers2.1: fix is_data definition in ynh_restore (same as b516c14 but applied to ynh_restore)
  helpers/helpers.v2.1.d/backup
Due: none

Update changelog for 12.0.7
  debian/changelog
Due: none

'internal' is a reserved TLD for private networks
  src/utils/dns.py
Due: none

Update README.md: update screenshot, sponsors etc
  README.md
Due: none

typing: use new Union syntax
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-i18n-keys

typing: repeat option's 'default' default value
  src/utils/form.py
Due: none

typing: use Classvar for Options's private attrs
  src/utils/form.py
Due: none

typing: keep Union when types as string
  src/app.py
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-i18n-keys

Use config file from portal directory to fix permissions issues
  src/portal.py
  src/settings.py
Due: test-i18n-keys

FIXME: remove conflicts with trixie package verisons
  debian/control
Due: none

DONOTMERGE: patch because sury doesn't support trixie yet
  hooks/conf_regen/10-apt
Due: none

Use py312 as tox target
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  tox.ini
Due: none

chore: add python3-pydantic-extra-types dependency
  debian/control
Due: none

nginx now configures 'server_tokens off' in its core config
  conf/nginx/global.conf
Due: none

Try to run CI on trixie
  .gitlab-ci.yml
Due: none

Fix lint312 job
  src/utils/configpanel.py
  src/utils/form.py
Due: none

Replace mysqlshow, mysqldump with mariadb-show, mariadb-dump
  helpers/helpers.v1.d/mysql
  helpers/helpers.v2.1.d/mysql
  src/tests/test_app_resources.py
  src/utils/resources.py
Due: none

pydanticv2: Model.construct() -> Model.model_construct()
  src/utils/configpanel.py
  src/utils/form.py
Due: none

pydanticv2: regex -> pattern
  src/utils/form.py
Due: none

pydanticv2: fix DateOption, was no longer parsing numbers
  src/utils/form.py
Due: none

pydanticv2: validator() -> field_validator()
  src/utils/configpanel.py
  src/utils/form.py
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
