Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-i18n-keys:
  stage: translation
  script:
  - python3 maintenance/missing_i18n_keys.py --check

log/sse: save the info of who started a main operation
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

log/perf: cache the log_list metadata stuff so we don't have to re-read every .yml everytime we open the sse streaming and it's ok to fetch the 'started_by' key
  src/log.py
  src/utils/sse.py
Due: test-i18n-keys

log: redact the 'started_by' info when sharing with yunopaste
  src/utils/yunopaste.py
Due: none

log/sse: flag some action as unit_operation with flash=True ... not sure exactly about which ones exactly
  src/app.py
  src/backup.py
  src/diagnosis.py
  src/dyndns.py
  src/log.py
  src/service.py
Due: test-i18n-keys

log/sse: Add operation title for diagnosis_run and tools_update
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Typing
  src/__init__.py
Due: test-i18n-keys

Allow yunohost-api to open a socket that provides unauthenticated access to the API
  bin/yunohost-api
  share/actionsmap.yml
  src/__init__.py
Due: test-i18n-keys

fix typing
  src/__init__.py
Due: test-i18n-keys

DONOTMERGE apt update before install
  .gitlab/ci/install.gitlab-ci.yml
Due: none

ci: temporary hack to install python3-zmq
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: fix locale string incorrectly marked as unused by script
  src/domain.py
  src/tools.py
Due: test-i18n-keys

Add dummy authenticator sockapi
  share/actionsmap.yml
  src/authenticators/sockapi.py
Due: none

fix:dns:don't use ipv6 when dns_exposure is set to ipv4
  src/dns.py
Due: test-i18n-keys

actionsmap: fix hooks callback/exec, they don't take --no-trace anymore
  share/actionsmap.yml
Due: none

fix yaml hashtag handling in getter
  helpers/helpers.v2.1.d/config
Due: none

debian/postinst: Fix shellcheck
  debian/postinst
Due: none

Add shellcheck github-action and .shellcheckrc
  .github/workflows/shellcheck.yml
  .shellcheckrc
Due: none

maintenance: Fix shellcheck
  maintenance/make_changelog.sh
Due: none

tests/: fix shellcheck
  tests/test_helpers.sh
  tests/test_helpers.v2.1.d/ynhtest_apt.sh
  tests/test_helpers.v2.1.d/ynhtest_config.sh
  tests/test_helpers.v2.1.d/ynhtest_logging.sh
  tests/test_helpers.v2.1.d/ynhtest_safe_rm.sh
  tests/test_helpers.v2.1.d/ynhtest_settings.sh
  tests/test_helpers.v2.1.d/ynhtest_setup_source.sh
  tests/test_helpers.v2.1.d/ynhtest_templating.sh
  tests/test_helpers.v2.1.d/ynhtest_user.sh
Due: none

Temporarily ignore hooks, helpers from shellcheck workflow
  .github/workflows/shellcheck.yml
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

sse: cover the case where the current process taking the lock isnt an operation (or not an operation started yet), in that case we return the corresponding command using the lock
  src/utils/sse.py
Due: none

Update changelog for 12.0.9
  debian/changelog
Due: none

Use samesite lax for portal cookies
  src/authenticators/ldap_ynhuser.py
Due: none

yunohost app shell: helpers2.0 need PATH to be defined
  src/app.py
Due: test-i18n-keys

Translated using Weblate (Occitan)
  locales/oc.json
Due: autofix-translated-strings

sse: in fact we don't need to base64-encode payloads because json already escape \n so it doesn't conflict with the \n\n that separates the events
  src/utils/sse.py
Due: none

sse: use the 'event:' info to define the event type outside the 'data' payload
  src/utils/sse.py
Due: none

sse: always provide the 'cmdline' info in heartbeat + construct a dummy 'operation_id' when the current op isnt a proper operation, using the lock creation timestamp
  src/utils/sse.py
Due: none

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

dns: add ionos to list of registrars
  share/registrar_list.toml
Due: none

Update changelog for 12.0.9.1
  debian/changelog
Due: none

doc/generate_helper_doc: Fix support of shebangs
  doc/generate_helper_doc.py
Due: none

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Improving go helper
  helpers/helpers.v1.d/go
  helpers/helpers.v2.1.d/go
Due: none

helpers: Pass HOME to goenv init
  helpers/helpers.v1.d/go
  helpers/helpers.v2.1.d/go
Due: none

Update 12.0.9.2
  debian/changelog
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
