Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-service:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-ldapauth:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Update helpers/fail2ban
  helpers/fail2ban
Due: test-helpers

fix the fail2ban helper when using using --use_template arg (#1743)
  helpers/fail2ban
Due: test-helpers

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Update changelog for 11.2.7
  debian/changelog
Due: none

helpers/fail2ban: grep logpath is likely to match comments in the file that contain the word logpath...
  helpers/fail2ban
Due: test-helpers

perf: improve perf for a bunch of operations by lazy import + lazy define of config-panel related stuff
  src/app.py
  src/domain.py
Due: test-domains, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

app:config: fix indentation for file content
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

tests: `show_tile` + `label` no longer in ssowat conf file
  src/tests/test_permission.py
Due: none

tests:permissions: add an admin user
  src/tests/test_permission.py
Due: none

test:permissions: update sso url and credentials structure
  src/tests/test_permission.py
Due: none

domains: also regen dovecot configuration when adding a domain
  src/domain.py
Due: test-domains, test-i18n-keys

portalapi: implement a proper expiration/prolong mechanism for session cookies
  hooks/conf_regen/01-yunohost
  src/app.py
  src/authenticators/ldap_ynhuser.py
  src/portal.py
  src/user.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-user-group, test-ldapauth, test-i18n-keys

portalapi: propagate changes to fail2ban config
  conf/fail2ban/yunohost-jails.conf
  conf/fail2ban/yunohost-portal.conf
  conf/fail2ban/yunohost.conf
  hooks/conf_regen/52-fail2ban
Due: none

portalapi: turns out ssowat (as www-data) needs to be able to validate that the session file exists
  hooks/conf_regen/01-yunohost
Due: none

quality: unused import, missing import
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

ci: disable 'full-test' which is a huge pain, always run every 'test' jobs instead
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: rework the translation+doc stages, have a 'bot' stage for everything that is likely to create a PR instead
  .gitlab/ci/bot.gitlab-ci.yml
  .gitlab/ci/doc.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

ci: whoopsies stages must be declared in the other file
  .gitlab-ci.yml
Due: none

ci: remove tmp profiling stuff
  .gitlab/ci/test.gitlab-ci.yml
Due: none

ci: simplify 'test actionsmap' job, move it to linting
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  tests/test_actionmap.py
Due: none

ci: move lint stage as first stage, require invalidcode to pass before running builds
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
Due: none

ci: warnings about 'not identify correctly the dns zone for domain' driving me crazy
  src/dns.py
Due: test-dns, test-i18n-keys

ci: warnings about 'not identify correctly the dns zone for domain' driving me crazy²
  src/dns.py
Due: test-dns, test-i18n-keys

Add missing account registration for apps in postfix
  conf/postfix/main.cf
Due: none

tests:questions: reflect changes of `patch_users`
  src/tests/test_questions.py
Due: none

form:FileOption: fix cli file check
  src/tests/test_questions.py
  src/utils/form.py
Due: none

portal:auth: remove touch in delete_session_cookie
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

Also set email on dovecot DB
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Fix change url
  helpers/nginx
Due: test-helpers

fix undefined var
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Set domain with new_domain and path with new_path
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Fix missing username format config in dovecot
  conf/dovecot/dovecot.conf
Due: none

portal:auth: samesite=None in dev mode
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

tests:options: add small test for pattern
  src/tests/test_questions.py
Due: none

form: add pydantic errors translations
  locales/en.json
  src/utils/form.py
Due: test-i18n-keys, autofix-translated-strings

form: fix pattern can be None
  src/utils/form.py
Due: none

Further simplify ynh_change_url_nginx_config
  helpers/nginx
Due: test-helpers

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
