Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

[Fix] App diagnosis grep
  data/hooks/diagnosis/80-apps.py
Due: none

[CI] Format code
  src/yunohost/tools.py
Due: none

Typo
  locales/en.json
Due: remove-stale-translated-strings

[mdns] Avoid miserably failing if another service exists on the network
  bin/yunomdns
Due: none

[mdns] Use proper function to unregister all services
  bin/yunomdns
Due: none

[mdns] Make the service logs appear in systemd journal
  data/templates/mdns/yunomdns.service
Due: none

Simplify debian/install
  data/hooks/conf_regen/01-yunohost
  data/templates/yunohost/dpkg-origins
  data/templates/yunohost/yunoprompt.service
  debian/install
  debian/postinst
Due: none

Simplify regen conf scripts
  data/hooks/conf_regen/01-yunohost
  data/hooks/conf_regen/02-ssl
  data/hooks/conf_regen/03-ssh
  data/hooks/conf_regen/06-slapd
  data/hooks/conf_regen/09-nslcd
  data/hooks/conf_regen/10-apt
  data/hooks/conf_regen/12-metronome
  data/hooks/conf_regen/15-nginx
  data/hooks/conf_regen/19-postfix
  data/hooks/conf_regen/25-dovecot
  data/hooks/conf_regen/31-rspamd
  data/hooks/conf_regen/34-mysql
  data/hooks/conf_regen/35-redis
  data/hooks/conf_regen/37-mdns
  data/hooks/conf_regen/43-dnsmasq
  data/hooks/conf_regen/46-nsswitch
  data/hooks/conf_regen/52-fail2ban
  src/yunohost/regenconf.py
Due: test-regenconf

[mdns] Allow for multiple yunohost.local
  bin/yunomdns
Due: none

Forgot to update mysql hook
  data/hooks/conf_regen/34-mysql
Due: none

For some reason .test domain results appears to be unreliable, so let's remove it..
  src/yunohost/tests/test_dns.py
Due: none

Add .coveragerc which is autoused by pytest-cov
  src/yunohost/.coveragerc
Due: none

certificate.py: drop legacy 000-acmechallenge.conf stuff
  src/yunohost/certificate.py
Due: none

services.py: drop legacy hack for glances
  src/yunohost/regenconf.py
Due: test-regenconf

regenconf: drop old legacy code
  data/hooks/conf_regen/01-yunohost
  data/hooks/conf_regen/37-mdns
Due: none

No sbin anymore
  debian/install
Due: none

Rework prompt() again
  locales/en.json
  src/yunohost/user.py
  src/yunohost/utils/config.py
Due: test-user-group, remove-stale-translated-strings

cli questions: Restore displaying available choices, though limit to the first 20 available options
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

Stale i18n strings
  locales/en.json
Due: remove-stale-translated-strings

Fix tests
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: none

Fix weird definition for boolean's humanize/normalize
  src/yunohost/utils/config.py
Due: none

questions prompt: include normalize in the try/except to re-ask question if not properly formated
  src/yunohost/utils/config.py
Due: none

Semantic, simplify code...
  src/yunohost/app.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

file questions: we don't need to know the filename, we don't need to validate extension server-side
  src/yunohost/utils/config.py
Due: none

config panels: attempt to improve the semantic of 'convert()'
  src/yunohost/utils/config.py
Due: none

Get rid of unecessary 'user_answers' arg in constructor
  src/yunohost/utils/config.py
Due: none

Propagate changes on tests
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: none

Refactor _normalize_domain_path into DomainQuestion + PathQuestion normalizers
  src/yunohost/app.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

ask_questions_and_parse_answers may take directly a dict as input
  src/yunohost/utils/config.py
Due: none

Adapt tests for domain/path normalize
  src/yunohost/tests/test_appurl.py
  src/yunohost/tests/test_questions.py
Due: none

Moar fixes .. + add test for boolean normalize/humanize
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: none

yunomdns: Attempt to keep only the local network IPs
  bin/yunomdns
Due: none

[enh] Bind function for hotspot
  data/helpers.d/config
Due: test-helpers

Hmpf refactor moar stuff but does this ever ends
  src/yunohost/app.py
  src/yunohost/tests/test_app_config.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Simplify error management
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

Stale i18n string
  locales/en.json
Due: remove-stale-translated-strings

Zblerg propagate changes on tests
  src/yunohost/app.py
  src/yunohost/tests/test_questions.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Add tests for FileQuestion
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: none

regenconf: Missing mkdir for dpkgorigins
  data/hooks/conf_regen/01-yunohost
Due: none

tests: .coveragerc should be at the root of the repo
  .coveragerc
  src/yunohost/.coveragerc
Due: none
