Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps-arguments-parsing:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-changeurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-backuprestore:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-permission:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

remove-stale-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

[enh] yes/no args on boolean aquestion + semantic
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

i18n: Add add_missing_keys script
  tests/add_missing_keys.py
Due: none

[enh] Several fixes in domain config
  data/actionsmap/yunohost.yml
  data/other/config_domain.toml
  data/other/registrar_list.toml
  src/yunohost/domain.py
Due: none

i18n: Apply add_missing_key script ('just' to reorder keys)
  locales/en.json
Due: remove-stale-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: remove-stale-translated-strings

[enh] yes/no args on boolean aquestion + semantic
  src/yunohost/utils/config.py
Due: none

[fix] Get / set app config panel
  src/yunohost/app.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Add config check during service_reload_or_restart
  src/yunohost/app.py
  src/yunohost/service.py
  src/yunohost/tests/test_service.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-service

Misc fixes, try to implement locale strings
  locales/en.json
  src/yunohost/app.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, remove-stale-translated-strings

Moar localization
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

Black + fix some invalid code issues
  src/yunohost/service.py
  src/yunohost/utils/config.py
  tests/autofix_locale_format.py
  tests/reformat_locales.py
Due: test-service

[CI] Format code
  data/hooks/diagnosis/00-basesystem.py
  tests/autofix_locale_format.py
  tests/reformat_locales.py
Due: none

Gotta mkdir data/bash-completion.d at build time
  data/actionsmap/yunohost_completion.py
Due: none

Unused imports
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

Misc fixes
  .gitlab/ci/test.gitlab-ci.yml
  src/yunohost/service.py
  src/yunohost/tests/test_config.py
  src/yunohost/tests/test_service.py
Due: test-service

ci: test-actionmap should only test actionmap ;)
  .gitlab/ci/test.gitlab-ci.yml
Due: none

[fix] ynh_read_var_in_file with endline
  data/helpers.d/utils
  tests/test_helpers.d/ynhtest_config.sh
Due: test-helpers

[fix] Unbound var in config panel
  src/yunohost/utils/config.py
Due: none

[enh] Add a comment
  data/other/config_domain.toml
Due: none

app_argument_invalid: dunno why name was changed to field but this was breaking i18n consistency
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

service test conf: gotta decode the output
  src/yunohost/service.py
Due: test-service

test_parse_args_in_yunohost_format -> test_question
  .gitlab/ci/test.gitlab-ci.yml
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: none

i18n fix
  src/yunohost/service.py
Due: test-service

[enh] Add warning if bad keys in toml format
  src/yunohost/utils/config.py
Due: none

Typo
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

--mode full/export -> --full / --export
  data/actionsmap/yunohost.yml
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

config helpers: Semantics / comments on the validation-apply workflow
  data/helpers.d/config
Due: test-helpers

config panels: try to improve the log and error handling: separate ask vs. actual apply
  src/yunohost/app.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

config tests: Add a basic tests for app config panel
  .gitlab/ci/test.gitlab-ci.yml
  src/yunohost/tests/test_app_config.py
Due: none

Typo
  src/yunohost/tests/test_app_config.py
Due: none

Yolofactorize install/upgrade/restore error handling into a smart 'hook_exec_with_script_debug_if_failure'
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/hook.py
  src/yunohost/log.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore

tests: dunno what i'm doing but that scope=module is no good
  src/yunohost/tests/test_app_config.py
Due: none

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*
