Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-service:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-ldapauth:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Japanese)
  locales/ja.json
Due: autofix-translated-strings

portalapi: add FIXMEs about auth layer
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

dyndns: remove 'domain dyndns list' command because this gives the false impression that there can be several of them...
  share/actionsmap.yml
Due: test-actionmap

Update changelog for 11.2
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/tests/test_domains.py
  src/tests/test_questions.py
  src/tools.py
  src/utils/resources.py
Due: test-domains, test-dns, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

doc: fix resource doc generation .. not sure why this line that removed legit indent was there
  doc/generate_resource_doc.py
Due: none

portalapi: Add new yunohost-portal-api to yunohost services
  conf/yunohost/services.yml
Due: none

apps: hotfix for funky issue, apps getting named 'undefined'
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Update changelog for 11.2.1
  debian/changelog
Due: none

[CI] Format code with Black
  doc/generate_resource_doc.py
Due: none

Moulinette logging is an unecessarily complex mess, episode 57682
  src/__init__.py
  src/app.py
  src/app_catalog.py
  src/backup.py
  src/certificate.py
  src/diagnosis.py
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/firewall.py
  src/hook.py
  src/log.py
  src/migrations/0021_migrate_to_bullseye.py
  src/migrations/0022_php73_to_php74_pools.py
  src/migrations/0023_postgresql_11_to_13.py
  src/migrations/0024_rebuild_python_venv.py
  src/migrations/0025_global_settings_to_configpanel.py
  src/migrations/0026_new_admins_group.py
  src/permission.py
  src/regenconf.py
  src/service.py
  src/settings.py
  src/tools.py
  src/user.py
  src/utils/configpanel.py
  src/utils/form.py
  src/utils/legacy.py
  src/utils/resources.py
Due: test-domains, test-dns, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-i18n-keys

Gandi's `api_protocol` field should be a `select` type
  share/registrar_list.toml
Due: none

fix config panel readonly .value
  src/utils/configpanel.py
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Update changelog for 11.2.2
  debian/changelog
Due: none

apps: fix another case of no attribute 'value' due to config panels/questions refactoring
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Update changelog for 11.2.3
  debian/changelog
Due: none

portalapi: fix cookie not being deleted because maxage=-1 or something
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

admin and portalapi: propagate new configurable CORS mechanism from moulinette
  conf/nginx/yunohost_api.conf.inc
  src/__init__.py
Due: test-i18n-keys

Add dependency to new yunohost-portal debian package
  debian/control
Due: none

Tweak nginx portal conf to serve html/css/js/assets from /usr/share/yunohost/portal, similar to webadmin
  conf/nginx/plain/yunohost_sso.conf.inc
Due: none

lint
  src/portal.py
Due: test-i18n-keys

add _get_user_infos helper
  src/portal.py
Due: test-i18n-keys

add portal_update to update user infos
  share/actionsmap-portal.yml
  src/portal.py
Due: test-i18n-keys

add temp portal_update_password
  share/actionsmap-portal.yml
  src/portal.py
Due: test-i18n-keys

trigger hooks when adding or removing user into group
  src/user.py
Due: test-user-group, test-i18n-keys

Handle both cookies in the same way (please let me logout)
  src/authenticators/ldap_admin.py
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

Change default setting of auth_header to False
  src/permission.py
Due: test-permission, test-i18n-keys

Serialize the JWT token to a cookie string instead of failing
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

Allow inline scripts for yunohost-portal (nginx CSP)
  conf/nginx/plain/yunohost_sso.conf.inc
Due: none

Add information in yunohost app install --help
  share/actionsmap.yml
Due: test-actionmap

Fix typo in app_upgrade argument help
  share/actionsmap.yml
Due: test-actionmap

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
