Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-service:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-ldapauth:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Update changelog for 11.1.20
  debian/changelog
Due: none

restart fail2ban instead of reload
  hooks/post_iptable_rules/52-fail2ban
  src/firewall.py
Due: test-i18n-keys

ci: preinstall more package
  .gitlab/ci/doc.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

add missing args in tests
  src/tests/test_apps.py
  src/tests/test_backuprestore.py
Due: none

remove deprecated
  share/actionsmap.yml
  src/domain.py
Due: test-actionmap, test-domains, test-i18n-keys

Extend ynh_load_app_environment usage examples
  helpers/apps
Due: test-helpers

Rename ynh_load_app_environment into ynh_spawn_app_shell
  helpers/apps
  src/app.py
Due: test-helpers, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Default to WorkingDirectory then install_dir for ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

Force php to its intended version in ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

Cleanup ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

Offer apps to set service name for ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

Fix error in ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

Improve ynh_spawn_app_shell documentation
  helpers/apps
Due: test-helpers

rewrite python
  bin/yunopaste
Due: none

Improve ynh_spawn_app_shell comments
  helpers/apps
Due: test-helpers

Modify to pipe
  bin/yunopaste
Due: none

alexAubin review
  bin/yunopaste
Due: none

apps: fix auto-catalog update cron job which was broken because --apps doesnt exist anymore
  hooks/conf_regen/01-yunohost
Due: none

regeconf: fix security issue where apps' system conf would be owned by the app, which can enable priviledge escalation
  helpers/utils
Due: test-helpers

regenconf: force systemd, nginx, php and fail2ban conf to be owned by root
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/15-nginx
  hooks/conf_regen/52-fail2ban
Due: none

Homogeneize command subtitutions in ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

Improve comments of ynh_spawn_app_shell
  helpers/apps
Due: test-helpers

more verbose logs for user_group _update fix YunoHost/issues#2193
  locales/en.json
  src/user.py
Due: test-user-group, test-i18n-keys, autofix-translated-strings

Update debian/changelog
  debian/changelog
Due: none

nginx: use /var/www/.well-known folder for ynh diagnosis and acme challenge, because /tmp/ could be manipulated by user to serve maliciously crafted files
  conf/nginx/plain/acme-challenge.conf.inc
  conf/nginx/server.tpl.conf
  src/certificate.py
  src/diagnosers/21-web.py
Due: test-i18n-keys

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

Allow passing a list in the manifest.toml for the apt resource packages
  src/utils/resources.py
Due: test-app-resources

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Update changelog for 11.1.21
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/user.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-user-group, test-i18n-keys

Fix stupid issue with code that changes /dev/null perms...
  hooks/conf_regen/01-yunohost
Due: none

Update changelog for 11.1.21.1
  debian/changelog
Due: none

Aleks loves xargs syntax >_>
  hooks/conf_regen/01-yunohost
Due: none

Update changelog for 11.1.21.2
  debian/changelog
Due: none

Add logrotate resource
  src/utils/resources.py
Due: test-app-resources

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
