Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, autofix-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  autofix-translated-strings: any of: locales/*

Make php package always explicitly depend on the PHP version they're using, even if that's debian's default version
  data/helpers.d/apt
Due: test-helpers

Improve handling of optional services/packages + dynamically handle the list of php-fpm versions
  data/templates/yunohost/services.yml
  src/yunohost/service.py
Due: test-service

Automagically run ynh_psql_if_first_run / regenconf upon postgresl install
  data/helpers.d/apt
  data/helpers.d/postgresql
Due: test-helpers

regenconf apt: ynh_get_debian_release undefined + reorder for clarity
  data/hooks/conf_regen/10-apt
Due: none

helpers: Don't say the 'app was restored' when restore failed after failed upgrade
  data/helpers.d/backup
Due: test-helpers

[CI] Format code with Black
  src/yunohost/dyndns.py
  src/yunohost/tools.py
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

Typos
  data/helpers.d/utils
  src/yunohost/app.py
Due: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

manifestv2 upgrade: implement safety backup mecanism in the core
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Add some debug to _collect_app_files exception ...
  src/yunohost/backup.py
Due: test-backuprestore

apps: Add YNH_ARCH to app script env for easier debugging and arch check in script
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Typo :|
  data/helpers.d/backup
Due: test-helpers

Typo + used existing ynh_package_is_installed helper
  data/helpers.d/apt
Due: test-helpers

i18n strings
  locales/en.json
Due: autofix-translated-strings

helpers: We don't care about the apt_dependencies setting ... it's not used and the info is already stored in the $app-ynh-deps virtual package
  data/helpers.d/apt
Due: test-helpers

ci: Add test for apt helpers
  tests/test_helpers.d/ynhtest_apt.sh
Due: none

ynh_local_curl: temporarily auto-add visitors if needed
  data/helpers.d/utils
Due: test-helpers

ynh_install_n / ux: remove useless info message / redundant because scripts already include a script_progression ...
  data/helpers.d/nodejs
Due: test-helpers

Absolutely yolo iteration on app resources draft
  src/yunohost/app.py
  src/yunohost/utils/config.py
  src/yunohost/utils/resources.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Rework requirement checks to integrate architecture, multiinnstance, disk/ram, ... + drop disk/ram as resource, have them directly in 'integration'
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/utils/resources.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore

Update changelog for 4.3.1.8
  debian/changelog
Due: none

Cleanup / refactor a bunch of utils into utils/system.py
  data/actionsmap/yunohost.yml
  data/hooks/diagnosis/00-basesystem.py
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/data_migrations/0015_migrate_to_buster.py
  src/yunohost/data_migrations/0017_postgresql_9p6_to_11.py
  src/yunohost/log.py
  src/yunohost/tools.py
  src/yunohost/user.py
  src/yunohost/utils/filesystem.py
  src/yunohost/utils/system.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-user-group

Add notes for app resources logic
  src/yunohost/utils/resources.py
Due: none

Translated using Weblate (Occitan)
  locales/oc.json
Due: autofix-translated-strings

Update changelog for 4.3.2
  debian/changelog
Due: none

Update nodejs
  data/helpers.d/nodejs
Due: test-helpers

mdns: Add possibility to manually add .local aliases via /etc/yunohost/mdns.aliases (meant for internetcube)
  data/hooks/conf_regen/37-mdns
Due: none

mdns: Aaaaand we don't want to crash if mdns.aliases doesnt exists obviously
  data/hooks/conf_regen/37-mdns
Due: none

Fix conflict with redis-server
  debian/control
Due: none

nginx: Refine experimental CSP header (in the end still gotta enable unsafe-inline and unsafe-eval for a bunch of things, but better than no policy at all...)
  data/templates/nginx/security.conf.inc
Due: none

Update changelog for 4.3.2.1
  debian/changelog
Due: none

nginx: Try to fix again the webadmin cache hell
  data/templates/nginx/yunohost_admin.conf.inc
Due: none
