Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, autofix-translated-strings

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps-arguments-parsing:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-changeurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-backuprestore:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-permission:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

autofix-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

Update changelog for 4.3.2.2
  debian/changelog
Due: none

[enh] Smarter API self-upgrade mechanics
  debian/postinst
  debian/rules
  src/yunohost/tools.py
Due: none

Read DNS Blacklist answer and compare it against list of non-BL codes
  data/hooks/diagnosis/24-mail.py
  data/other/dnsbl_list.yml
Due: none

Fix dump_script_log_extract_for_debugging : We want to catch the last exit in the logs, not the first one.
  src/yunohost/log.py
Due: none

log: Factorize boring/irrelevant log line filter definition
  src/yunohost/log.py
Due: none

log: Simplify code to fetch lines before ynh_exit_properly in dump_script_log_extract_for_debugging
  src/yunohost/log.py
Due: none

certificate: fix stupid certificate/diagnosis issue with subdomains of ynh domains
  src/yunohost/certificate.py
Due: none

Propagate dir structure change to scripts etc
  .coveragerc
  .gitignore
  .gitlab/ci/test.gitlab-ci.yml
  conf/dovecot/dovecot.conf
  conf/nginx/security.conf.inc
  conf/postfix/main.cf
  debian/install
  debian/rules
  doc/generate_bash_completion.py
  doc/generate_helper_doc.py
  doc/generate_manpages.py
  doc/helper_doc_template.md
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/02-ssl
  hooks/conf_regen/03-ssh
  hooks/conf_regen/06-slapd
  hooks/conf_regen/09-nslcd
  hooks/conf_regen/12-metronome
  hooks/conf_regen/15-nginx
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/31-rspamd
  hooks/conf_regen/34-mysql
  hooks/conf_regen/37-mdns
  hooks/conf_regen/43-dnsmasq
  hooks/conf_regen/46-nsswitch
  hooks/conf_regen/52-fail2ban
  src/diagnosis/10-ip.py
  src/diagnosis/24-mail.py
  src/dns.py
  src/domain.py
  src/service.py
  src/utils/config.py
  src/utils/password.py
  tests/add_missing_keys.py
  tests/test_actionmap.py
  tests/test_i18n_keys.py
  tox.ini
Due: none

Adapt diagnosers code to load them as python modules instead of hooks
  src/diagnosis.py
  src/diagnosis/00-basesystem.py
  src/diagnosis/10-ip.py
  src/diagnosis/12-dnsrecords.py
  src/diagnosis/14-ports.py
  src/diagnosis/21-web.py
  src/diagnosis/24-mail.py
  src/diagnosis/30-services.py
  src/diagnosis/50-systemresources.py
  src/diagnosis/70-regenconf.py
  src/diagnosis/80-apps.py
Due: none

data_migrations -> migrations
  src/migrations/0021_migrate_to_bullseye.py
  src/migrations/0022_php73_to_php74_pools.py
  src/migrations/0023_postgresql_11_to_13.py
  src/migrations/__init__.py
  src/tools.py
  tests/add_missing_keys.py
  tests/test_i18n_keys.py
  tox.ini
Due: none

Aaaaand forgot to git add diagnosis/__init__.py
  src/diagnosis/__init__.py
Due: none

ci: Idk why dch ain't there by default anymore but meh, installing devscripts should solve the issue...
  .gitlab/ci/build.gitlab-ci.yml
Due: none

Make ynh_add_fpm_config more robust to some edge cases
  data/helpers.d/php
Due: test-helpers

ci: Attempt to ignore branches created by the CI ..
  .gitlab-ci.yml
Due: none

Fix error during mysql regenconf, no templates folder anymoar
  data/hooks/conf_regen/34-mysql
Due: none

Fix -conf_ynh_settings backup/restore when /etc/yunohost/domains doesn't exist
  data/hooks/backup/20-conf_ynh_settings
  data/hooks/restore/20-conf_ynh_settings
Due: none

ci: Fix filter on ci branches ... my regex doesn't seem to be working :|
  .gitlab-ci.yml
Due: none

[CI] Format code with Black
  data/hooks/diagnosis/24-mail.py
  src/yunohost/log.py
Due: none

Attempt to fix the CI again ... for some reason it complains that pytest ain't in the image despite being installed ...
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Italian)
  locales/it.json
Due: autofix-translated-strings

Translated using Weblate (Chinese (Simplified))
  locales/zh_Hans.json
Due: autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Translated using Weblate (Indonesian)
  locales/id.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ca.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/id.json
  locales/it.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pt.json
  locales/ru.json
  locales/sl.json
  locales/uk.json
  locales/zh_Hans.json
Due: autofix-translated-strings

Update changelog for 4.3.3
  debian/changelog
Due: none

debian: fix metronome modules install
  debian/install
Due: none

debian: bump ssowat and moulinette requirements
  debian/control
Due: none

codequality: Apply black on python script in bin/
  bin/yunohost
  bin/yunohost-api
  bin/yunomdns
Due: none

Attempt to fix debian install following repo structure change
  debian/install
Due: none

debian: another tweak to install actionsmap to the right place
  debian/install
Due: none

fix backup_delete when compress_tar_archives is True
  src/yunohost/backup.py
Due: test-backuprestore

Propagate changes from moulinette
  bin/yunohost
  bin/yunohost-api
  debian/install
  share/actionsmap.yml
  src/__init__.py
Due: none

Fix diagnosis/ vs. diagnosis.py ambiguity, breaking python imports
  .gitlab/ci/test.gitlab-ci.yml
  src/diagnosers/00-basesystem.py
  src/diagnosers/10-ip.py
  src/diagnosers/12-dnsrecords.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/diagnosers/30-services.py
  src/diagnosers/50-systemresources.py
  src/diagnosers/70-regenconf.py
  src/diagnosers/80-apps.py
  src/diagnosers/__init__.py
  src/diagnosis.py
  tests/add_missing_keys.py
  tests/test_i18n_keys.py
Due: none

Fix redeclaration of 'migrations' var
  src/tools.py
Due: none

Fix diagnosis category listing
  src/diagnosis.py
Due: none

Fix i18n key test
  tests/test_i18n_keys.py
Due: none

Moar technical fixes
  src/diagnosis.py
  src/tests/conftest.py
Due: none

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  autofix-translated-strings: any of: locales/*
