Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

Adding an anchor on each helper
  doc/helper_doc_template.md
Due: none

Remove unused import
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

autodns: fix/simplify registrar settings fetching
  src/yunohost/dns.py
Due: none

autodns: pop experimental_disclaimer because it's not an actual credential
  src/yunohost/dns.py
Due: none

mypy: read_yaml argument should always be a string
  src/yunohost/utils/config.py
Due: none

Revert "mypy: read_yaml argument should always be a string"
  src/yunohost/utils/config.py
Due: none

remove created permission if error
  src/yunohost/permission.py
Due: test-permission

add YNH_APP_BASEDIR in the env var
  data/helpers.d/utils
  src/yunohost/app.py
  src/yunohost/backup.py
Due: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore

tests: add mypy + misc fixes to make test pass
  .gitlab/ci/lint.gitlab-ci.yml
  src/yunohost/log.py
  src/yunohost/tools.py
  src/yunohost/utils/config.py
  src/yunohost/utils/network.py
  tox.ini
Due: none

[fix] Redact password in app install
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

moar YNH_APP_BASEDIR
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

define a default YNH_APP_BASEDIR
  data/helpers.d/utils
Due: test-helpers

do not use ynh_print_warn here
  data/helpers.d/utils
Due: test-helpers

app.py: No need to define Question.operation_logger anymoar
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] YNH_APP_BASEDIR may not exist, set -eu etc
  data/helpers.d/utils
Due: test-helpers

Fix time format
  locales/en.json
Due: remove-stale-translated-strings

[CI] Reformat / remove stale translated strings
  locales/ar.json
  locales/ca.json
  locales/ckb.json
  locales/cs.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/id.json
  locales/it.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pt.json
  locales/uk.json
  locales/zh_Hans.json
Due: remove-stale-translated-strings

autodns: proper error management for authentication error
  locales/en.json
  src/yunohost/dns.py
Due: remove-stale-translated-strings

autodns: Disable ttl setting for now because meh
  data/other/config_domain.toml
  src/yunohost/dns.py
Due: none

autodns: Improve handling of the subdomain case
  locales/en.json
  src/yunohost/dns.py
Due: remove-stale-translated-strings

autodns: typo
  src/yunohost/dns.py
Due: none

autodns: typo²
  src/yunohost/dns.py
Due: none

autodns: typo³
  src/yunohost/dns.py
Due: none

autodns: typo⁴
  src/yunohost/dns.py
Due: none

autodns: Various fixes, improvement for edge case handling
  locales/en.json
  src/yunohost/dns.py
Due: remove-stale-translated-strings

Misc fixes
  src/yunohost/dns.py
Due: none

domain config: add disclaimer that enabling/disabling features only impact dns configuration for now
  data/other/config_domain.toml
  locales/en.json
Due: remove-stale-translated-strings

autodns: Add link to registrar api doc
  src/yunohost/dns.py
Due: none

app config panel: Add supports_config_panel in app_info for webadmin
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

autodns: i18n
  locales/en.json
  src/yunohost/dns.py
Due: remove-stale-translated-strings

dns: don't have empty sections in recommended conf
  src/yunohost/dns.py
Due: none

Fix i18n tests
  src/yunohost/dns.py
  src/yunohost/tests/test_domains.py
  tests/test_i18n_keys.py
Due: none

i18n tests: simplify hardcoded stuff
  data/hooks/diagnosis/12-dnsrecords.py
  data/hooks/diagnosis/21-web.py
  data/hooks/diagnosis/24-mail.py
  src/yunohost/app.py
  src/yunohost/utils/password.py
  tests/test_i18n_keys.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

dns: Don't include subdomains stuff in dyndns update, because this probably ain't gonna work
  src/yunohost/dns.py
Due: none

dns: Reintroduce include_empty_AAAA_if_no_ipv6 option, needed for diagnosis
  src/yunohost/dns.py
Due: none

dyndns: Don't try to push anything if no ipv4/ipv6
  src/yunohost/dyndns.py
Due: none

Typo
  src/yunohost/dns.py
Due: none

autodns: Godaddy doesn't supports CAA records
  src/yunohost/dns.py
Due: none

autodns: Minor fix for error handling
  src/yunohost/dns.py
Due: none

domains: Make sure domain setting folder exists with appropriate perms
  data/hooks/conf_regen/01-yunohost
Due: none
