Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service

.gitlab/ci/test.gitlab-ci.yml:

.install_debs: &install_debs
    - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb

.test-stage:
  stage: tests
  image: "after-install"
  variables:
    PYTEST_ADDOPTS: "--color=yes"
  before_script:
    - *install_debs
  cache:
    paths: 
      - src/yunohost/tests/apps
    key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  needs:
      - job: build-yunohost
        artifacts: true
      - job: build-ssowat
        artifacts: true
      - job: build-moulinette
        artifacts: true
      - job: upgrade


########################################
# TESTS
########################################

full-tests:
  stage: tests
  image: "before-install"
  variables:
    PYTEST_ADDOPTS: "--color=yes"
  before_script:
    - *install_debs
    - yunohost tools postinstall -d domain.tld -p the_password --ignore-dyndns --force-diskspace
  script:
    - python3 -m pytest --cov=yunohost tests/ src/yunohost/tests/ --junitxml=report.xml
    - cd tests
    - bash test_helpers.sh
  needs:
      - job: build-yunohost
        artifacts: true
      - job: build-ssowat
        artifacts: true
      - job: build-moulinette
        artifacts: true
  artifacts:
    reports:
      junit: report.xml

root-tests:
  extends: .test-stage
  script:
    - python3 -m pytest tests

test-helpers:
  extends: .test-stage
  script:
    - cd tests
    - bash test_helpers.sh
  only:
    changes:
      - data/helpers.d/*

test-apps:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_apps.py
  only:
    changes:
      - src/yunohost/app.py

test-appscatalog:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_appscatalog.py
  only:
    changes:
      - src/yunohost/app.py

test-appurl:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_appurl.py
  only:
    changes:
      - src/yunohost/app.py

test-apps-arguments-parsing:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_apps_arguments_parsing.py
  only:
    changes:
      - src/yunohost/app.py

test-changeurl:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_changeurl.py
  only:
    changes:
      - src/yunohost/app.py

test-backuprestore:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_backuprestore.py
  only:
    changes:
      - src/yunohost/backup.py

test-permission:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_permission.py
  only:
    changes:
      - src/yunohost/permission.py

test-settings:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_settings.py
  only:
    changes:
      - src/yunohost/settings.py

test-user-group:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_user-group.py
  only:
    changes:
      - src/yunohost/user.py

test-regenconf:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_regenconf.py
  only:
    changes:
      - src/yunohost/regenconf.py

test-service:
  extends: .test-stage
  script:
    - cd src/yunohost
    - python3 -m pytest tests/test_service.py
  only:
    changes:
      - src/yunohost/service.py

Move mDNS script to yunomdns
  bin/yunomdns
Due: none

Do not rely on Moulinette, integration with Yunohost of mDNS broadcast
  bin/yunomdns
  data/hooks/conf_regen/01-yunohost
  data/other/yunomdns.service
  data/templates/yunohost/mdns.yml
  data/templates/yunohost/services.yml
  debian/install
  debian/postinst
Due: none

Accomodate mDNS feature in diagnosis
  data/hooks/diagnosis/12-dnsrecords.py
  data/hooks/diagnosis/21-web.py
  data/templates/yunohost/services.yml
  locales/en.json
Due: none

Remove mDNS setting
  src/yunohost/settings.py
Due: test-settings

[mdns] Fix NonUniqueNameException
  bin/yunomdns
Due: none

[fix] Better support for non latin domain name
  src/yunohost/domain.py
Due: none

[enh] Add settings to block webadmin from outside
  data/hooks/conf_regen/15-nginx
  data/templates/nginx/yunohost_admin.conf.inc
  data/templates/nginx/yunohost_api.conf.inc
  locales/en.json
  src/yunohost/settings.py
Due: test-settings

[fix] Bad command in yunopaste doc
  bin/yunopaste
Due: none

Add registrar name option to registrar catalog
  data/actionsmap/yunohost.yml
  src/yunohost/domain.py
Due: none

Utils/dns get_dns_zone_from_domain improve
  src/yunohost/utils/dns.py
Due: none

Fix _load_zone_of_domain
  src/yunohost/domain.py
Due: none

fix yunohost app search fail
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

fix spelling mistakes
  data/hooks/conf_regen/10-apt
Due: none

Fix de string format...
  locales/de.json
Due: none

Bug fixe + cleaning
  data/actionsmap/yunohost.yml
  src/yunohost/domain.py
  src/yunohost/utils/dns.py
Due: none

[fix] App search : dictionary changed size
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] Avoid to suspend server if we close lidswitch
  data/hooks/conf_regen/01-yunohost
Due: none

Separate mail setting in mail_in and mail_out + fix domain settings types
  src/yunohost/domain.py
Due: none

Force utf8 for char set in mysql database
  data/helpers.d/mysql
Due: test-helpers

Remove asyncio and do not support subdomains
  bin/yunomdns
Due: none

[enh] Add configpanel helpers
  data/helpers.d/configpanel
Due: test-helpers

[enh] Replace os.path.join to improve security
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] Several files with same name
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] No validate function in config panel
  data/helpers.d/configpanel
Due: test-helpers

[wip] Allow file upload from config-panel
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] Base64 python3 change
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Fix broken links
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/fr.json
  locales/it.json
  locales/zh_Hans.json
Due: none

Create domains test + Remove domain settings file when removing domain
  src/yunohost/domain.py
  src/yunohost/tests/test_domains.py
Due: none

Migrate from public suffix to public suffix list
  data/hooks/diagnosis/12-dnsrecords.py
  src/yunohost/utils/dns.py
Due: none

Update php
  data/helpers.d/php
Due: test-helpers

[CI] Format code
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Translated using Weblate (German)
  locales/de.json
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: none
