Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps-arguments-parsing:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-changeurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-backuprestore:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-permission:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

remove-stale-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

my_webapp is to clean too
  src/yunohost/tests/test_apps.py
Due: none

[CI] Format code
  src/yunohost/tests/test_apps.py
Due: none

fix mypy test
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

config: handle case where file quetion didnt get modified from webadmin, in which case self.value contains a path
  src/yunohost/utils/config.py
Due: none

Typo/wording
  data/helpers.d/config
Due: test-helpers

bind_key -> bind_key_ to prevent yunohost from redacting key names which leads to broken log metadata.yml somehow
  data/helpers.d/config
Due: test-helpers

lint: Kill bare excepts
  src/yunohost/log.py
  src/yunohost/permission.py
  tox.ini
Due: test-permission

lint: Invalid escape sequences
  data/hooks/diagnosis/80-apps.py
  tox.ini
Due: none

Ambiguous var name
  src/yunohost/user.py
Due: test-user-group

Update logrotate
  data/helpers.d/logrotate
Due: test-helpers

[CI] Format code
  src/yunohost/utils/config.py
Due: none

app_info: return a new is_webapp info meant to be used by API
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Update data/helpers.d/logrotate
  data/helpers.d/logrotate
Due: test-helpers

[enh] Add visible attribute support in cli
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: none

[CI] Format code
  src/yunohost/app.py
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

FileQuestion: self.value may not be an str
  src/yunohost/utils/config.py
Due: none

Fix linters
  src/yunohost/utils/config.py
Due: none

Allow to re-run ynh_install_app_dependencies multiple times
  data/helpers.d/apt
Due: test-helpers

Factorize sury repo configuration into ynh_add_sury
  data/helpers.d/apt
  data/helpers.d/php
Due: test-helpers

During ynh_install_app_dependencies, if the dependency list contains specific php version stuff, add sury and other tweaks
  data/helpers.d/apt
Due: test-helpers

Propagate changes on other apt/php helpers...
  data/helpers.d/apt
  data/helpers.d/php
Due: test-helpers

Apply suggestions from code review
  data/helpers.d/apt
  data/helpers.d/php
Due: test-helpers

helpers: Add deprecation warning to ynh_add_app_dependencies
  data/helpers.d/apt
Due: test-helpers

helpers: Typo in ynh_remove_app_dependencies
  data/helpers.d/apt
Due: test-helpers

helpers apt: save phpversion in settings even when using php default version
  data/helpers.d/apt
Due: test-helpers

helpers: Fix weird 0 syntax which shfmt ain't happy with (dangling 0)
  data/helpers.d/logging
Due: test-helpers

helpers: lint/reformat with shfmt -bn -i 4 -w $FILE
  data/helpers.d/apt
  data/helpers.d/backup
  data/helpers.d/config
  data/helpers.d/fail2ban
  data/helpers.d/getopts
  data/helpers.d/hardware
  data/helpers.d/logging
  data/helpers.d/logrotate
  data/helpers.d/multimedia
  data/helpers.d/mysql
  data/helpers.d/network
  data/helpers.d/nginx
  data/helpers.d/nodejs
  data/helpers.d/permission
  data/helpers.d/php
  data/helpers.d/postgresql
  data/helpers.d/setting
  data/helpers.d/string
  data/helpers.d/systemd
  data/helpers.d/user
  data/helpers.d/utils
Due: test-helpers

Typo ogod
  data/helpers.d/utils
Due: test-helpers

Also lint/reformat core bash hooks
  data/hooks/backup/50-conf_manually_modified_files
  data/hooks/conf_regen/01-yunohost
  data/hooks/conf_regen/02-ssl
  data/hooks/conf_regen/06-slapd
  data/hooks/conf_regen/09-nslcd
  data/hooks/conf_regen/10-apt
  data/hooks/conf_regen/12-metronome
  data/hooks/conf_regen/15-nginx
  data/hooks/conf_regen/19-postfix
  data/hooks/conf_regen/25-dovecot
  data/hooks/conf_regen/31-rspamd
  data/hooks/conf_regen/34-mysql
  data/hooks/conf_regen/35-redis
  data/hooks/conf_regen/37-mdns
  data/hooks/conf_regen/43-dnsmasq
  data/hooks/conf_regen/46-nsswitch
  data/hooks/conf_regen/52-fail2ban
  data/hooks/post_user_create/ynh_multimedia
  data/hooks/restore/05-conf_ldap
  data/hooks/restore/50-conf_manually_modified_files
Due: none

Also lint/reformat debian scripts
  debian/postinst
  debian/postrm
Due: none

Typo :|
  data/helpers.d/apt
Due: test-helpers

[wip] Repository add
  data/actionsmap/yunohost.yml
  data/other/config_repository.toml
  locales/en.json
  src/yunohost/backup.py
  src/yunohost/repository.py
  src/yunohost/utils/config.py
  src/yunohost/utils/filesystem.py
  src/yunohost/utils/i18n.py
  src/yunohost/utils/network.py
Due: test-backuprestore, remove-stale-translated-strings

Fix stuff reported by shellcheck
  data/helpers.d/config
  data/helpers.d/utils
Due: test-helpers

Safer, clearer ynh_secure_remove
  data/helpers.d/utils
  tests/test_helpers.d/ynhtest_secure_remove.sh
Due: test-helpers

[wip] Hook system in config panel
  data/other/config_repository.toml
  src/yunohost/repository.py
  src/yunohost/utils/config.py
Due: none

helpers apt: Use smarter grep with lookbehind to extract php version from dependency list
  data/helpers.d/apt
Due: test-helpers

manifestv2: auto-save install settings, auto-load all settings
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

manifestv2: on-the-fly convert v1 manifest to v2
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*
