Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

Misc cleanup
  src/yunohost/domain.py
Due: none

domains.py: Attempt to clarify build_dns_zone?
  src/yunohost/domain.py
Due: none

More cleanup / simplify / homogenize
  src/yunohost/domain.py
Due: none

Cleanup get_dns_zone_from_domain utils
  src/yunohost/utils/dns.py
Due: none

Move dig() to utils.dns
  data/hooks/diagnosis/12-dnsrecords.py
  data/hooks/diagnosis/24-mail.py
  src/yunohost/dyndns.py
  src/yunohost/utils/dns.py
  src/yunohost/utils/network.py
Due: none

domains.py: Add cache for domain_list
  src/yunohost/domain.py
Due: none

Savagely split the dns/registrar stuff in a new dns.py
  data/hooks/diagnosis/12-dnsrecords.py
  src/yunohost/dns.py
  src/yunohost/domain.py
  src/yunohost/dyndns.py
Due: none

Misc fixes
  src/yunohost/dns.py
  src/yunohost/domain.py
  src/yunohost/settings.py
Due: test-settings

domain settings: Only store the diff with respect to defaults, should make possible migrations easier idk
  src/yunohost/domain.py
Due: none

Moar fikses
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

domain_push_config -> domain_registrar_push
  data/actionsmap/yunohost.yml
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

Add logging to domain_registrar_push
  src/yunohost/dns.py
Due: none

Added translation using Weblate (Persian)
  locales/fa.json
Due: remove-stale-translated-strings

Multiline, file, tags management + prefilled cli
  data/actionsmap/yunohost.yml
  data/helpers.d/configpanel
  src/yunohost/app.py
Due: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] Bad call to Moulinette.get
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] Bad call to Moulinette.interface
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Added translation using Weblate (Kurdish (Central))
  locales/ckb.json
Due: remove-stale-translated-strings

[fix] simple/double quotes into source
  data/helpers.d/configpanel
Due: test-helpers

[enh] Move prefill feature into moulinette
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[enh] Be able to delete source file
  data/helpers.d/configpanel
  src/yunohost/app.py
Due: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Translated using Weblate (Persian)
  locales/fa.json
Due: remove-stale-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: remove-stale-translated-strings

[enh] Be able to correctly display the error
  src/yunohost/utils/error.py
Due: none

[enh] VisibleIf on config panel section
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

dns/lexicon: Tidying up the push function
  src/yunohost/dns.py
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: remove-stale-translated-strings

Implement global settings for https redirect
  data/hooks/conf_regen/15-nginx
  data/templates/nginx/server.tpl.conf
  locales/en.json
  src/yunohost/settings.py
Due: test-settings, remove-stale-translated-strings

https redirect: don't include app conf snippets if https redirect is enabled
  data/templates/nginx/server.tpl.conf
Due: none

Translated using Weblate (Portuguese)
  locales/pt.json
Due: remove-stale-translated-strings

Typos in french strings
  locales/fr.json
Due: remove-stale-translated-strings

[CI] Remove stale translated strings
  locales/ckb.json
  locales/de.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/pt.json
  locales/uk.json
Due: remove-stale-translated-strings

ci: fix test jobs for i18n keys
  .gitlab/ci/test.gitlab-ci.yml
Due: none
