Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

Translated using Weblate (Italian)
  locales/it.json
Due: remove-stale-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: remove-stale-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: remove-stale-translated-strings

remove unused imports
  data/hooks/diagnosis/80-apps.py
Due: none

[fix] Source getter for config panel
  data/helpers.d/configpanel
Due: test-helpers

[fix] File through config panel API
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] Another tmp nightmare
  data/hooks/conf_regen/06-slapd
Due: none

Update changelog for 4.2.8.1
  debian/changelog
Due: none

user import: strip spaces
  src/yunohost/user.py
Due: test-user-group

user import: validate that groups and domains exists
  src/yunohost/user.py
Due: test-user-group

csv -> CSV
  data/actionsmap/yunohost.yml
Due: none

user import: Try to optimize group operations
  src/yunohost/user.py
Due: test-user-group

user import: fix typo
  src/yunohost/user.py
Due: test-user-group

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: remove-stale-translated-strings

ldap config: Bump DbMaxSize to allow up to 100MB
  data/templates/slapd/config.ldif
Due: none

ynh_multimedia: local can only be used in a function
  data/hooks/post_user_create/ynh_multimedia
Due: none

Fixes after tests on the battlefield
  src/yunohost/user.py
Due: test-user-group

user import: fix tests
  src/yunohost/tests/test_user-group.py
Due: none

user import: Allow empty value for mailbox quota
  src/yunohost/user.py
Due: test-user-group

French wording/typos
  locales/fr.json
Due: remove-stale-translated-strings

[CI] Format code
  src/yunohost/service.py
Due: test-service

Translated using Weblate (German)
  locales/de.json
Due: remove-stale-translated-strings

[CI] Remove stale translated strings
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/pt.json
  locales/uk.json
Due: remove-stale-translated-strings

[CI] Format code
  src/yunohost/authenticators/ldap_admin.py
  src/yunohost/tests/conftest.py
  src/yunohost/tests/test_apps_arguments_parsing.py
  src/yunohost/tests/test_ldapauth.py
  src/yunohost/utils/ldap.py
Due: none

Proof of concept for multiple-admins auth
  locales/en.json
  src/yunohost/authenticators/ldap_admin.py
  src/yunohost/user.py
Due: test-user-group, remove-stale-translated-strings

Fix tests
  locales/gl.json
  src/yunohost/tests/test_ldapauth.py
Due: remove-stale-translated-strings

remove offensive language in package ban config (#1226)
  data/hooks/conf_regen/10-apt
Due: none

[CI] Format code
  data/hooks/diagnosis/80-apps.py
Due: none

domain remove: Improve file/folder cleanup code
  src/yunohost/domain.py
Due: none

Semantics
  src/yunohost/domain.py
Due: none

Use moulinette helpers to read/write yaml
  src/yunohost/domain.py
Due: none
