Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-i18n-keys, test-translation-format-consistency, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, autofix-translated-strings

Path conditions:
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosis/*.py
  test-translation-format-consistency: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  autofix-translated-strings: any of: locales/*

Fix most used password file path
  src/utils/password.py
Due: none

Fix overly complex location for ssl workdir
  conf/ssl/openssl.cnf
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/02-ssl
  src/certificate.py
Due: test-i18n-keys

Fix old moulinette stuff not relevant anymore
  debian/postinst
  hooks/conf_regen/01-yunohost
Due: none

Fix location for specte meltdown checker script
  src/diagnosers/00-basesystem.py
Due: none

migrate_to_bullseye: /usr/share/yunohost/yunohost-config/ssl/yunoCA -> /usr/share/yunohost/ssl
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

Allow tilde in username/organization for repo URLs
  src/yunohost/app.py
Due: none

appurl: Add test for app url containing tilde
  src/yunohost/tests/test_appurl.py
Due: none

Fix /etc/yunohost permissions on some setups
  data/hooks/conf_regen/01-yunohost
Due: none

[enh] Hotspot and hairpining use cases
  data/hooks/conf_regen/43-dnsmasq
  data/templates/dnsmasq/domain.tpl
  data/templates/dnsmasq/plain/dnsmasq.conf
Due: none

[enh] Move dnsmasq conf in template dir
  data/templates/dnsmasq/dnsmasq.conf.tpl
Due: none

mdns: Don't add yunohost.local in config if it's already among the yunohost domains
  data/hooks/conf_regen/37-mdns
Due: none

[fix] Bash array not supported in ynh_render_template
  data/hooks/conf_regen/43-dnsmasq
  data/templates/dnsmasq/dnsmasq.conf.tpl
  data/templates/dnsmasq/domain.tpl
Due: none

[fix] DNSmasq template generation
  data/hooks/conf_regen/43-dnsmasq
Due: none

Update changelog for 4.3.4
  debian/changelog
Due: none

Force permission on /etc/resolv.dnsmasq.conf to fix an issue on some setup with umask=027
  data/hooks/conf_regen/43-dnsmasq
Due: none

[fix] Try to fix the return line bug in dnsmasq conf
  data/hooks/conf_regen/43-dnsmasq
Due: none

Typo é_è
  data/hooks/conf_regen/37-mdns
Due: none

Update changelog for 4.3.4.1
  debian/changelog
Due: none

[fix] yunomdns: Ignore ipv4 link-local addresses
  bin/yunomdns
Due: none

apps: Remove the 'HOME' var from hook_exec env, because it's often defined in CLI but not in API because yunohost-api runs in a systemd service
  src/hook.py
Due: test-i18n-keys

ci: Yolorework i18n tests, add a maintenance/ folder
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/translation.gitlab-ci.yml
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/id.json
  locales/it.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pt.json
  locales/ru.json
  locales/sl.json
  locales/uk.json
  locales/zh_Hans.json
  maintenance/autofix_locale_format.py
  maintenance/make_changelog.sh
  maintenance/missing_i18n_keys.py
  tests/autofix_locale_format.py
  tests/reformat_locales.py
  tests/remove_stale_translated_strings.py
  tests/test_i18n_keys.py
  tests/test_translation_format_consistency.py
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

ci: Try to fix mypy
  src/diagnosers/00-basesystem.py
  src/diagnosers/10-ip.py
  src/diagnosers/12-dnsrecords.py
  src/diagnosers/14-ports.py
  src/diagnosers/21-web.py
  src/diagnosers/24-mail.py
  src/diagnosers/30-services.py
  src/diagnosers/50-systemresources.py
  src/diagnosers/70-regenconf.py
  src/diagnosers/80-apps.py
Due: none

ci: Oopsies
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

[fix] hook restore multimedia
  data/hooks/restore/18-data_multimedia
Due: none

Tmp work on provision/deprovision apt and system user
  src/yunohost/app.py
  src/yunohost/utils/resources.py
Due: none

Attempt to fix the weird selfsigned certificate generation error
  hooks/conf_regen/02-ssl
  src/certificate.py
Due: test-i18n-keys

Moar attempt to fix ssl cert generation + automigrate legacy + enforce sensible permissions
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/02-ssl
Due: none

Aaaaand try again to fix certificate generation
  hooks/conf_regen/02-ssl
  src/certificate.py
Due: test-i18n-keys

Having an openssl.ca.cnf is needed to create domains
  hooks/conf_regen/02-ssl
Due: none

Tweak definition of self-signed cert to cover cases where issuer is not the current main domain anymore
  src/certificate.py
Due: test-i18n-keys

Typo in conf/yunohost/services.yml ?
  conf/yunohost/services.yml
Due: none

Typo
  src/yunohost/tools.py
Due: none

Update changelog for 11.0.1~alpha / bullseye alpha
  debian/changelog
Due: none

Aleks broke everything again /o\
  debian/rules
Due: none

Fix i18n strings
  locales/en.json
Due: test-i18n-keys, test-translation-format-consistency, autofix-translated-strings

Fuckit I don't understand how to properly manage systemctl service with debian files while having flexibility on when the api restart happens, let's manage everything with the regen conf
  conf/yunohost/yunohost-api.service
  conf/yunohost/yunohost-firewall.service
  debian/rules
  debian/yunohost-api.default
  hooks/conf_regen/01-yunohost
Due: none

helpers apt/php: fix typo spotted by tituspijean
  data/helpers.d/apt
Due: none

WIP: foundation for a new portal API to partially replace SSOwat
  bin/yunohost-portal-api
  share/actionsmap-portal.yml
  src/__init__.py
  src/authenticators/ldap_ynhuser.py
  src/portal.py
Due: test-i18n-keys, test-ldapauth

Stop using /home/yunohost.conf for regenconf / confbackup, /var/cache is fine, prevent confusing /home/yunohost.* folder
  helpers/backup
  hooks/conf_regen/01-yunohost
  src/regenconf.py
Due: test-i18n-keys, test-helpers, test-regenconf

[enh] Manage SSH PasswordAuthentication setting
  data/hooks/conf_regen/03-ssh
  data/templates/ssh/sshd_config
  src/yunohost/settings.py
Due: none
