Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, autofix-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  autofix-translated-strings: any of: locales/*

Translated using Weblate (German)
  locales/de.json
Due: autofix-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Update changelog for 4.3.1.6
  debian/changelog
Due: none

[fix] Default config toml path
  src/yunohost/utils/config.py
Due: none

Moar fixes...
  src/yunohost/domain.py
Due: none

ci: test now returns a YunohostError instead of YunohostValidationError
  src/yunohost/tests/test_domains.py
Due: none

ci/tests: sigh, YunohostError undefined
  src/yunohost/tests/test_domains.py
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

[CI] Format code with Black
  src/yunohost/utils/config.py
Due: none

Update changelog for 4.3.1.7
  debian/changelog
Due: none

dyndns update: Fix for ipv6-only hosts
  src/yunohost/dyndns.py
Due: none

[CI] Format code with Black
  src/yunohost/dyndns.py
Due: none

diagnosis: typo / don't run dnsrecords tests for special tlds
  data/hooks/diagnosis/12-dnsrecords.py
Due: none

regenconf: yunohost hook was failing because grep may return exit code != 0
  data/hooks/conf_regen/01-yunohost
Due: none

regenconf: gotta explicitly return *0* ...
  data/hooks/conf_regen/43-dnsmasq
Due: none

Typo T_T
  data/hooks/conf_regen/01-yunohost
Due: none

Drop customization of my.cnf, keep default conf
  data/hooks/conf_regen/34-mysql
  data/templates/mysql/my.cnf
Due: none

migrate_to_bullseye: get rid of custom my.cnf
  src/yunohost/data_migrations/0021_migrate_to_bullseye.py
Due: none

[fix] helpers: composer not explaining why the hell it can't install shit
  data/helpers.d/php
Due: test-helpers

[enh] logging: we don't care about 'update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults'
  src/yunohost/hook.py
Due: none

Simplify the whole ynh_install/remove_php story as no app is using them directly
  data/helpers.d/php
Due: test-helpers

[enh] helpers: allow to get/set/delete app settings without explicitly passing app id everytime...
  data/helpers.d/setting
  tests/test_helpers.d/ynhtest_settings.sh
Due: test-helpers

[enh] helpers: add some tests for system user create that were lying in my uncommited files ?
  tests/test_helpers.d/ynhtest_user.sh
Due: none

Drop some dyndns yagni: we don't need to be able to specify a custom dyndns host...
  data/actionsmap/yunohost.yml
  src/yunohost/domain.py
  src/yunohost/dyndns.py
  src/yunohost/tools.py
Due: none

Moar dyndns yagni: we don't need to be able to specify ipv4/ipv6/keyfile during dyndns update
  data/actionsmap/yunohost.yml
  src/yunohost/dyndns.py
Due: none

dyndns: During dyndns update, first make sure we have an ipv4 or ipv6 to avoid the remaining code miserably crashing
  src/yunohost/dyndns.py
Due: none

[wip] Implementation borg method + timer
  data/actionsmap/yunohost.yml
  data/other/config_repository.toml
  locales/en.json
  src/yunohost/backup.py
  src/yunohost/repositories/borg.py
  src/yunohost/repositories/hook.py
  src/yunohost/repositories/tar.py
  src/yunohost/repository.py
  src/yunohost/utils/network.py
Due: test-backuprestore, autofix-translated-strings

[fix] Mypy CI
  src/yunohost/utils/config.py
Due: none

[wip] Repo pruning
  data/actionsmap/yunohost.yml
  src/yunohost/repositories/__init__.py
  src/yunohost/repositories/borg.py
  src/yunohost/repositories/tar.py
  src/yunohost/repository.py
Due: none

several fixes + adding missing autocompletions
  data/actionsmap/yunohost.yml
Due: none

Unused i18n string
  locales/en.json
Due: autofix-translated-strings

Tweak debian control file to make php, mysql, metronome ~optional (but recommended)
  debian/control
Due: none

Tweak regenconf scripts for mysql, metronome, add one for postgresql
  data/helpers.d/postgresql
  data/hooks/conf_regen/12-metronome
  data/hooks/conf_regen/34-mysql
  data/hooks/conf_regen/35-postgresql
  data/hooks/conf_regen/36-redis
Due: test-helpers

Add sury by default in the core...
  data/helpers.d/apt
  data/hooks/conf_regen/10-apt
Due: test-helpers
