Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-service:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-ldapauth:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

domain: move domain files removal so dyndns API key still exists while trying to unsubscribe
  src/domain.py
Due: test-domains, test-i18n-keys

domain: add recovery passoword in config panel
  src/dns.py
  src/domain.py
Due: test-domains, test-dns, test-i18n-keys

portal-api: improve semantic for yunohost public portal stuff
  share/config_domain.toml
  src/portal.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-i18n-keys

domain dyndns: do not save recovery password
  src/domain.py
Due: test-domains, test-i18n-keys

domain: make sure of it
  src/domain.py
Due: test-domains, test-i18n-keys

portal: improve domain setting fetch + set show_other_domains_apps to false by default ?
  share/config_domain.toml
  src/portal.py
Due: test-i18n-keys

dyndns: fix import typo
  src/tools.py
Due: test-i18n-keys

portal-api: fix cookie secret initialization
  hooks/conf_regen/01-yunohost
Due: none

quality: unused import
  src/dyndns.py
Due: test-i18n-keys

portal/ssowat: fix conf initialization
  hooks/conf_regen/01-yunohost
Due: none

fix remaining log.getActionLogger
  src/diagnosers/00-basesystem.py
  src/diagnosers/10-ip.py
  src/diagnosers/12-dnsrecords.py
  src/diagnosers/24-mail.py
Due: test-i18n-keys

meh
  src/diagnosis.py
  src/portal.py
Due: test-i18n-keys

ynh_secure_remove: do not check $# but the number of files.
  helpers/utils
Due: test-helpers

Add --follow_symlink to ynh_secure_remove. Fixes #2253
  helpers/utils
Due: test-helpers

dyndns: fix availability check, polish UX
  locales/en.json
  src/domain.py
  src/dyndns.py
Due: test-domains, test-i18n-keys, autofix-translated-strings

dyndns: fix tests
  src/domain.py
  src/tests/test_domains.py
Due: test-domains, test-i18n-keys

dyndns: typo
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

dyndns/domain_remove: be paranoid and keep the dyndns unsubscribe + cert/dyndns/setting cleanup before the regenconf
  src/domain.py
Due: test-domains, test-i18n-keys

test:domains: add complex recovery password test
  src/tests/test_domains.py
Due: none

domains: unique i18n key for dyndns too many requests
  locales/en.json
  src/dyndns.py
Due: test-i18n-keys, autofix-translated-strings

test:domains: remove sleep
  src/tests/test_domains.py
Due: none

test:domains: dyndns_recovery mock as api call to avoid cli prompts
  src/tests/test_domains.py
Due: none

Create versionned directories of the helpers
  debian/install
  helpers/helpers
  helpers/helpers.d
  helpers/helpers.v1.d/apps
  helpers/helpers.v1.d/apt
  helpers/helpers.v1.d/backup
  helpers/helpers.v1.d/config
  helpers/helpers.v1.d/fail2ban
  helpers/helpers.v1.d/getopts
  helpers/helpers.v1.d/hardware
  helpers/helpers.v1.d/logging
  helpers/helpers.v1.d/logrotate
  helpers/helpers.v1.d/multimedia
  helpers/helpers.v1.d/mysql
  helpers/helpers.v1.d/network
  helpers/helpers.v1.d/nginx
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/permission
  helpers/helpers.v1.d/php
  helpers/helpers.v1.d/postgresql
  helpers/helpers.v1.d/setting
  helpers/helpers.v1.d/string
  helpers/helpers.v1.d/systemd
  helpers/helpers.v1.d/user
  helpers/helpers.v1.d/utils
  helpers/helpers.v1.d/vendor/docker-image-extract/LICENSE
  helpers/helpers.v1.d/vendor/docker-image-extract/README.md
  helpers/helpers.v1.d/vendor/docker-image-extract/docker-image-extract
  helpers/helpers.v1.d/vendor/n/LICENSE
  helpers/helpers.v1.d/vendor/n/README.md
  helpers/helpers.v1.d/vendor/n/n
  helpers/helpers.v2.d
  share/helpers
Due: test-helpers

Add home.arpa as special TLD
  src/utils/dns.py
Due: test-dns

Update dns.py
  src/utils/dns.py
Due: test-dns

Add home.arpa as special TLD (#1718)
  src/utils/dns.py
Due: test-dns

portal: redirect to $host/yunohost/admin by default (cf recent commit in ssowat)
  src/domain.py
Due: test-domains, test-i18n-keys

app: add "support_purge" to app info
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

regenconf: fix dummy warning
  hooks/conf_regen/01-yunohost
Due: none

Add new versions of helpers. Based on bash-modules.
  helpers/helpers.v2.1.d/apps
  helpers/helpers.v2.1.d/bash-modules/arguments.sh
  helpers/helpers.v2.1.d/bash-modules/array.sh
  helpers/helpers.v2.1.d/bash-modules/cd_to_bindir.sh
  helpers/helpers.v2.1.d/bash-modules/date.sh
  helpers/helpers.v2.1.d/bash-modules/import.sh
  helpers/helpers.v2.1.d/bash-modules/log.sh
  helpers/helpers.v2.1.d/bash-modules/log_run.sh
  helpers/helpers.v2.1.d/bash-modules/meta.sh
  helpers/helpers.v2.1.d/bash-modules/renice.sh
  helpers/helpers.v2.1.d/bash-modules/settings.sh
  helpers/helpers.v2.1.d/bash-modules/strict.sh
  helpers/helpers.v2.1.d/bash-modules/string.sh
  helpers/helpers.v2.1.d/bash-modules/timestamped_log.sh
  helpers/helpers.v2.1.d/bash-modules/unit.sh
  helpers/helpers.v2.1.d/fail2ban
  helpers/helpers.v2.1.d/import_bash-modules
  helpers/helpers.v2.1.d/setting
  helpers/helpers.v2.1.d/systemd
  helpers/helpers.v2.1.d/user
Due: none

Allow `phpX.Y` as sole dependency that'll trigger usage of `$phpversion=X.Y`
  helpers/apt
Due: test-helpers

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Add ynh_exec_stderr_on_error that only prints stderr when command fails
  helpers/logging
Due: test-helpers

ci: add git status to debug what commit exactly is used during builds ...
  .gitlab/ci/build.gitlab-ci.yml
Due: none

portalapi: misc fixes related to logging, edgecases
  src/portal.py
Due: test-i18n-keys

Getting crazy about the ssowat/nginx stupid issue ...
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Typo
  src/app.py
  src/utils/legacy.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

ssowatconf: drop unused redirected_regex mechanism + we don't need the label+show_tile info in ssowat conf anymore
  src/app.py
  src/utils/legacy.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Update locales/fr.json
  locales/fr.json
Due: autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
