Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

Lint
  src/yunohost/tests/test_questions.py
Due: none

Typo
  locales/en.json
Due: remove-stale-translated-strings

[CI] Format code
  src/yunohost/app.py
  src/yunohost/tests/test_app_config.py
  src/yunohost/tests/test_questions.py
  src/yunohost/user.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-user-group

ci: missing wildcard in coveragerc
  .coveragerc
Due: none

Force yunohost to forget about avahi-daemon files
  src/yunohost/regenconf.py
Due: test-regenconf

Revamp of yunomdns : * Use ifaddr (also used by zeroconf) to find ip addresses * Use python type hinting * small cleanups
  bin/yunomdns
Due: none

Use double-quotes
  bin/yunomdns
Due: none

[mdns] Avoid miserably failing if another service exists on the network
  bin/yunomdns
Due: none

[mdns] Make the service logs appear in systemd journal
  data/templates/mdns/yunomdns.service
Due: none

[mdns] Allow for multiple yunohost.local
  bin/yunomdns
Due: none

Use ipaddress lib to find private addresses
  bin/yunomdns
Due: none

Accomodate change in nft syntax
  src/yunohost/firewall.py
Due: none

[mdns] refine ipv6 selection with ipaddress lib
  bin/yunomdns
Due: none

Fix dns zone for dynette domains (otherwise breaks dyndns update)
  src/yunohost/dns.py
  src/yunohost/tests/test_dns.py
Due: none

[CI] Format code
  src/yunohost/dns.py
Due: none

Wording
  locales/en.json
  locales/fr.json
Due: remove-stale-translated-strings

YNH_APP_PURGE to be 1 or 0 to be consistent with other bash bools
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Try to include diagnosis hooks in coverage report
  .gitlab/ci/test.gitlab-ci.yml
Due: none

yunomdns: Minor cleanups
  bin/yunomdns
Due: none

yunomdns: fallback to domain-i.local if domain.local already published
  bin/yunomdns
Due: none

[wip] Read info json in backup method
  src/yunohost/backup.py
Due: test-backuprestore

yunomdns: broadcast on all interfaces with local IP by default + add a 'ban_interfaces' setting in config
  bin/yunomdns
  data/hooks/conf_regen/37-mdns
Due: none

yunomdns: disable ipv6 for now + remove debug stuff
  bin/yunomdns
Due: none

General improvement for special-use TLD / ynh dyndns domains
  data/hooks/diagnosis/12-dnsrecords.py
  data/hooks/diagnosis/21-web.py
  locales/en.json
  src/yunohost/dns.py
  src/yunohost/tests/test_dns.py
  src/yunohost/utils/dns.py
Due: remove-stale-translated-strings

firewall.py: fix encoding issue, remove prependline stuff
  src/yunohost/firewall.py
Due: none

[CI] Format code
  data/hooks/diagnosis/12-dnsrecords.py
  src/yunohost/utils/dns.py
Due: none

Misc cleanups in dns diagnoser
  data/hooks/diagnosis/12-dnsrecords.py
  src/yunohost/dns.py
Due: none

Add a proper _get_parent_domain
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

Adapt ready_for_ACME check to the new dnsrecord result format...
  src/yunohost/certificate.py
  src/yunohost/dns.py
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: remove-stale-translated-strings

Black
  data/hooks/diagnosis/12-dnsrecords.py
  src/yunohost/certificate.py
  src/yunohost/utils/dns.py
Due: none

Unhappy linter is unhappy
  src/yunohost/certificate.py
Due: none

Update changelog for 4.3.1
  debian/changelog
Due: none

debian: Bump moulinette/ssowat version requirements
  debian/control
Due: none

swag: Add test coverage badge
  README.md
Due: none

Simplify / fix inconsistencies in app files kept after install/upgrade
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Clarify code that extract app from folder/gitrepo + misc other small refactors
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Offload legacy app patching stuff to utils/legacy.py to limit the size of app.py
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/data_migrations/0016_php70_to_php73_pools.py
  src/yunohost/utils/legacy.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore
