Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps-arguments-parsing:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-changeurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-backuprestore:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-permission:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

Sometimes metadata ends up being empty for some reason and ends up being loaded as None, making the "in" operator crash :|
  src/yunohost/log.py
Due: none

Fix translation format
  locales/de.json
Due: none

wip: start using Table/TableDict for function output
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[enh] colorize app catalog lines per level
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[fix] can't modify a dict size on iteration in python3
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

[enh] add caption to app catalog
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

fix remove-stale-translated-strings job
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: none

Translated using Weblate (German)
  locales/de.json
Due: none

fix gl locales
  locales/gl.json
Due: none

[CI] Remove stale translated strings
  locales/ca.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/oc.json
  locales/zh_Hans.json
Due: none

Lexicon: ~ 4 bugfixes
  data/other/registrar_list.yml
  debian/install
  src/yunohost/domain.py
Due: none

fix conf path for dedicated php server
  data/helpers.d/php
Due: test-helpers

remove --log_type because it's deprecated
  data/helpers.d/php
Due: test-helpers

Translated using Weblate (French)
  locales/fr.json
Due: none

Update nodejs
  data/helpers.d/nodejs
Due: test-helpers

fix: Remove legacy --installed / filter for app_list in actionmap
  data/actionsmap/yunohost.yml
Due: none

add user in hook exec again
  src/yunohost/hook.py
Due: none

monkey patch get_setting_description
  src/yunohost/settings.py
  src/yunohost/tests/test_settings.py
Due: test-settings

Improve disk space left verification
  locales/en.json
  locales/fr.json
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Misc french translation tweaks
  locales/fr.json
Due: none

Propagate change from the moulinette (no more msignals madness)
  data/actionsmap/yunohost.yml
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/domain.py
  src/yunohost/tools.py
  src/yunohost/user.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-user-group

Propagate changes from moulinette : get rid of msettings, and prompt/display are also wrapped in a 'Moulinette' object
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/diagnosis.py
  src/yunohost/domain.py
  src/yunohost/hook.py
  src/yunohost/log.py
  src/yunohost/tests/conftest.py
  src/yunohost/tools.py
  src/yunohost/user.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-user-group

Get rid of legacy script to reset ldap password
  debian/install
  sbin/yunohost-reset-ldap-password
Due: none

remove-stale-translated-strings on for the default branch
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

Removed transient firewall rule for SSDP client port
  src/yunohost/firewall.py
Due: none

[fix] Invalid HTML in yunohost_panel #1837
  data/templates/nginx/plain/yunohost_panel.conf.inc
Due: none

Fix incompatibility with nftables
  src/yunohost/firewall.py
Due: none

[fix] set .ssh folder permissions to 600
  src/yunohost/ssh.py
Due: none

Add interfaces selection for mDNS broadcast
  data/other/mdns.py
  locales/en.json
  src/yunohost/settings.py
Due: test-settings

Add mdns.py for mDNS broadcast
  data/other/mdns.py
Due: none

PoC for mDNS broadcast
  data/other/mdns.py
Due: none

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
