Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: remove-stale-translated-strings

Translated using Weblate (Portuguese)
  locales/pt.json
Due: remove-stale-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: remove-stale-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: remove-stale-translated-strings

Translated using Weblate (Czech)
  locales/cs.json
Due: remove-stale-translated-strings

Added translation using Weblate (Indonesian)
  locales/id.json
Due: remove-stale-translated-strings

dns-autoconf: remove dependency to public suffix list, not sure what scenario it was supposed to cover, probably goodenough without it
  src/yunohost/utils/dns.py
Due: none

Revert publicsuffix changes in dnsrecord diagnoser
  data/hooks/diagnosis/12-dnsrecords.py
Due: none

Let's not define a duplicate string for domain unknown...
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

debian: Add python3-lexicon dependency
  debian/control
Due: none

[wip] Check question are initialize
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

[fix] Raise an error if question has not been initialize
  src/yunohost/utils/config.py
Due: none

[enh] Validate server side specific input html5 field
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

autodns: Various tweaks and refactorings to make test pass
  .gitlab/ci/test.gitlab-ci.yml
  data/actionsmap/yunohost.yml
  data/hooks/conf_regen/15-nginx
  data/hooks/diagnosis/12-dnsrecords.py
  data/other/config_domain.toml
  locales/en.json
  src/yunohost/dns.py
  src/yunohost/domain.py
  src/yunohost/tests/test_dns.py
  src/yunohost/tests/test_domains.py
  src/yunohost/utils/config.py
  src/yunohost/utils/dns.py
  src/yunohost/utils/ldap.py
Due: remove-stale-translated-strings

[fix] Missing default property
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

[enh] Avoid to raise error with bin null and empty value
  src/yunohost/utils/config.py
Due: none

Misc fixes, try to fix tests
  locales/en.json
  src/yunohost/tests/test_app_config.py
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

Update locales/fr.json
  locales/fr.json
Due: remove-stale-translated-strings

config: bind key may not exist in option
  src/yunohost/utils/config.py
Due: none

new config helpers: use $() instead of backticks
  data/helpers.d/config
Due: test-helpers

[CI] Format code
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/service.py
  src/yunohost/tests/test_app_config.py
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-service

Missing raw_msg=True
  src/yunohost/utils/config.py
Due: none

[CI] Format code
  src/yunohost/utils/config.py
Due: none

Unused imports
  src/yunohost/domain.py
Due: none

Fix tests
  src/yunohost/tests/test_app_config.py
Due: none

Typo
  locales/en.json
Due: remove-stale-translated-strings

Fix autofix translation ci
  locales/fr.json
  tests/autofix_locale_format.py
  tests/reformat_locales.py
Due: remove-stale-translated-strings

Misc fixes for cert commands
  data/actionsmap/yunohost.yml
  data/hooks/conf_regen/01-yunohost
Due: none

domain config: Add notes about other config stuff we may want to implement in the future
  data/other/config_domain.toml
Due: none

autodns: Misc refactoring to have dns push dry-run somewhat working + implement diff strategy
  data/other/registrar_list.toml
  src/yunohost/dns.py
  src/yunohost/domain.py
  src/yunohost/tests/test_dns.py
  src/yunohost/tests/test_domains.py
Due: none

We don't need to add .. to pythonpath during tests?
  src/yunohost/tests/conftest.py
Due: none

remove duplicate name in locales
  locales/en.json
Due: remove-stale-translated-strings

remove all double var in locales
  locales/ca.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/nb_NO.json
  locales/oc.json
  locales/uk.json
  locales/zh_Hans.json
Due: remove-stale-translated-strings

autodns: Moar fixes and stuff after tests on the battlefield
  data/actionsmap/yunohost.yml
  data/other/registrar_list.toml
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none
