Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*

tests: use https instead of http to check app is indeed installed
  src/yunohost/tests/test_apps.py
Due: none

ci: push a remove-stale-strings only if there are some non-whitespace changes
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

README: translation status: use horizontal display + only 'core'
  README.md
Due: none

registrars: remove unimplemented or unecessary stuff
  data/actionsmap/yunohost.yml
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

Add a small _assert_domain_exists to avoid always repeating the same code snippet
  src/yunohost/app.py
  src/yunohost/certificate.py
  src/yunohost/dns.py
  src/yunohost/domain.py
  src/yunohost/permission.py
  src/yunohost/user.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-permission, test-user-group

Translated using Weblate (French)
  locales/fr.json
Due: remove-stale-translated-strings

Translated using Weblate (Ukrainian)
  locales/uk.json
Due: remove-stale-translated-strings

Translated using Weblate (Persian)
  locales/fa.json
Due: remove-stale-translated-strings

Various fixes after tests on OVH
  data/actionsmap/yunohost.yml
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

Various changes to try to implement a proper dry-run + proper list of stuff to create/update/delete
  src/yunohost/dns.py
Due: none

[enh] Some refactoring for config panel
  data/actionsmap/yunohost.yml
  data/helpers.d/configpanel
  locales/en.json
  src/yunohost/app.py
Due: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, remove-stale-translated-strings

Fuck orthotypography, let's enforce practices for fr i18n
  .gitlab/ci/translation.gitlab-ci.yml
  locales/fr.json
  tests/reformat_fr_translations.py
Due: remove-stale-translated-strings

Remove unecessary :d} in i18n strings
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/eo.json
  locales/es.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/nl.json
  locales/oc.json
  locales/zh_Hans.json
Due: remove-stale-translated-strings

Misc wording
  locales/en.json
  locales/fr.json
Due: remove-stale-translated-strings

Wording
  locales/fr.json
Due: remove-stale-translated-strings

Expand the reformat locale script to also cover en.json ...
  .gitlab/ci/translation.gitlab-ci.yml
  locales/en.json
  tests/reformat_locales.py
Due: remove-stale-translated-strings

Fix locales
  locales/fa.json
  locales/gl.json
  locales/uk.json
Due: remove-stale-translated-strings

Fix locales
  .idea/workspace.xml
Due: none

Translated using Weblate (Arabic)
  locales/ar.json
Due: remove-stale-translated-strings

Translated using Weblate (Breton)
  locales/br.json
Due: remove-stale-translated-strings

Translated using Weblate (Catalan)
  locales/ca.json
Due: remove-stale-translated-strings

Translated using Weblate (German)
  locales/de.json
Due: remove-stale-translated-strings

Translated using Weblate (Esperanto)
  locales/eo.json
Due: remove-stale-translated-strings

Translated using Weblate (Italian)
  locales/it.json
Due: remove-stale-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: remove-stale-translated-strings

Translated using Weblate (Bengali (Bangladesh))
  locales/bn_BD.json
Due: remove-stale-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: remove-stale-translated-strings

Translated using Weblate (Russian)
  locales/ru.json
Due: remove-stale-translated-strings

Translated using Weblate (Norwegian Bokmål)
  locales/nb_NO.json
Due: remove-stale-translated-strings

Translated using Weblate (Hindi)
  locales/hi.json
Due: remove-stale-translated-strings

Translated using Weblate (Dutch)
  locales/nl.json
Due: remove-stale-translated-strings

Translated using Weblate (Hungarian)
  locales/hu.json
Due: remove-stale-translated-strings
