Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps-arguments-parsing:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-changeurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-backuprestore:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-permission:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

split root-tests to a smaller tests
  .gitlab/ci/test.gitlab-ci.yml
Due: none

[enh] Remove LDN from resolver list
  data/templates/dnsmasq/plain/resolv.dnsmasq.conf
Due: none

Update .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

[fix] Capture PASSPHRASE
  src/yunohost/log.py
Due: none

[enh] Imrpove warnings
  data/hooks/conf_regen/10-apt
Due: none

Updating requirements
  data/helpers.d/fail2ban
  data/helpers.d/nginx
  data/helpers.d/php
  data/helpers.d/systemd
Due: test-helpers

[CI] Format code
  src/yunohost/log.py
Due: none

Case-incensitive search are likely to catch too mnuch legitimate stuff resulting in redacting a shitload of stuff
  src/yunohost/log.py
Due: none

[fix] yunohost user list --fields mail-alias
  src/yunohost/user.py
Due: test-user-group

Split registrar settings to /etc/yunohost/registrars/{dns_zone}.yml
  src/yunohost/domain.py
Due: none

Update changelog for 4.2.6
  debian/changelog
Due: none

Switch to backups from 4.2
  src/yunohost/backup.py
  src/yunohost/tests/test_backuprestore.py
Due: test-backuprestore

Check home folder before creating multimedia directory
  data/helpers.d/multimedia
Due: test-helpers

CI: Use python3 for script remove stale strings
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

Translated using Weblate (Greek)
  locales/el.json
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: none

Translated using Weblate (French)
  locales/fr.json
Due: none

Change service status hack for postgresql, 11 -> 13
  src/yunohost/service.py
Due: test-service

Remove old hack for vpnclient
  src/yunohost/service.py
Due: test-service

Remove php7.3-fpm from service list
  data/templates/yunohost/services.yml
Due: none

i18n: Remove stale strings
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/el.json
  locales/eo.json
  locales/es.json
  locales/fi.json
  locales/fr.json
  locales/gl.json
  locales/it.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pt.json
  locales/zh_Hans.json
Due: none

Misc tweaks and fixes, port ldap auth test from moulinette
  debian/control
  locales/en.json
  src/yunohost/authenticators/ldap_admin.py
  src/yunohost/tests/test_ldap.py
  src/yunohost/utils/ldap.py
  tests/test_i18n_keys.py
Due: none

password -> credentials, pave the way to multi-admins
  src/yunohost/authenticators/ldap_admin.py
  src/yunohost/tests/test_ldap.py
Due: none

Add test-ldapauth to ci
  .gitlab/ci/test.gitlab-ci.yml
  src/yunohost/tests/test_ldapauth.py
Due: none

check if home exists
  data/helpers.d/multimedia
  data/hooks/post_user_create/ynh_multimedia
Due: test-helpers

grep full /home/
  data/helpers.d/multimedia
  data/hooks/post_user_create/ynh_multimedia
Due: test-helpers

[fix] Remove invaluement from free dnsbl list
  data/other/dnsbl_list.yml
Due: none

Translated using Weblate (German)
  locales/de.json
Due: none

Add domain registrar catalog cli command
  data/actionsmap/yunohost.yml
  src/yunohost/domain.py
Due: none

fix new locales
  locales/en.json
  src/yunohost/domain.py
Due: none

Update _load_domain_settings to load only requested domains
  locales/en.json
  src/yunohost/domain.py
Due: none

Translated using Weblate (Esperanto)
  locales/eo.json
Due: none

fix new _load_domain_settings bug
  src/yunohost/domain.py
Due: none

Propagate change from the moulinette: authenticate -> _authenticate_credentials
  src/yunohost/authenticators/ldap_admin.py
Due: none

Update changelog for 4.2.6.1
  debian/changelog
Due: none

[enh] use rich.console.{print,format}_exception
  data/hooks/diagnosis/00-basesystem.py
  data/other/password/100000-most-used.txt.gz
  src/yunohost/app.py
  src/yunohost/backup.py
  src/yunohost/certificate.py
  src/yunohost/diagnosis.py
  src/yunohost/service.py
  src/yunohost/tools.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-service

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
