Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*

debian: fix conflict with openssl that is too harsh, openssl version on bullseye is now 1.1.1w, bookworm has 3.x
  debian/control
Due: none

Update changelog for 11.2.5
  debian/changelog
Due: none

[CI] Format code with Black
  src/app.py
  src/dns.py
  src/tests/test_domains.py
Due: test-dns, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

form: add options for multiple users and groups
  src/utils/form.py
Due: none

typo
  src/utils/form.py
Due: none

Upgrade n to v
  helpers/vendor/n/n
Due: none

Display n version in auto-update PRs
  .github/workflows/n_updater.yml
Due: none

Support packages_from_raw_bash in extra packages
  src/utils/resources.py
Due: test-app-resources

Improve support for packages_from_raw_bash
  src/utils/resources.py
Due: test-app-resources

Revert packages_from_raw_bash test
  src/utils/resources.py
Due: test-app-resources

Restore deleted line
  src/utils/resources.py
Due: test-app-resources

Update src/utils/resources.py
  src/utils/resources.py
Due: test-app-resources

portal: retreive app permissions from ldap
  src/portal.py
Due: test-i18n-keys

portal: fix decode error
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

portal: temp disable 'show_other_domains_apps' settings due to missing domain info in ldap
  share/config_domain.toml
  src/domain.py
  src/portal.py
Due: test-domains, test-i18n-keys

add redis database configuration
  conf/rspamd/redis.conf
Due: none

install file to redis configuration
  hooks/conf_regen/31-rspamd
Due: none

conf_regen:yunohost: setup /etc/yunohost/portal
  hooks/conf_regen/01-yunohost
Due: none

app_ssowatconf: generate per domain portal config with available apps
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

domain:config: update portal option saving
  src/domain.py
  src/portal.py
Due: test-domains, test-i18n-keys

portal: update settings reading from new config file
  src/portal.py
Due: test-i18n-keys

improve dovecots rspamd integration
  conf/dovecot/dovecot.conf
Due: none

conf_regen:yunohost: repeat init portal setup in post hook
  hooks/conf_regen/01-yunohost
Due: none

domain:config: remove 'portal_logo' for now
  share/config_domain.toml
  src/domain.py
Due: test-domains, test-i18n-keys

domain:config: restrict portal options to topest domains
  src/domain.py
Due: test-domains, test-i18n-keys

form: use pydantic BaseModel in Options and add some validators
  src/utils/form.py
Due: none

form: update asking flow, separate form and options
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: add dynamic annotation getters
  src/utils/form.py
Due: none

test:options: update tests results to pydantic parsing
  src/tests/test_questions.py
Due: none

form: rework pre + post options validators
  src/utils/form.py
Due: none

app: update app_install
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

form: add translating method
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: add legacy "name" attr
  src/utils/form.py
Due: none

form: fix forbidden readonly type
  src/tests/test_questions.py
  src/utils/form.py
Due: none

form: add reserved "id" validator
  src/utils/configpanel.py
  src/utils/form.py
Due: none

configpanel: add config panel models
  src/utils/configpanel.py
Due: none

config: rework config+settings getter methods
  src/app.py
  src/dns.py
  src/domain.py
  src/settings.py
  src/tests/test_dns.py
  src/utils/configpanel.py
  src/utils/form.py
Due: test-domains, test-dns, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-settings, test-i18n-keys

form: rework entities validators to avoid multiple calls to them
  src/utils/form.py
Due: none

config: rework get method
  src/domain.py
  src/settings.py
  src/utils/configpanel.py
Due: test-domains, test-settings, test-i18n-keys

form+config: replace _parse_pre_answered method with generic function
  src/utils/configpanel.py
  src/utils/form.py
Due: none
