Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-service:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-ldapauth:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Translated using Weblate (Japanese)
  locales/ja.json
Due: autofix-translated-strings

Translated using Weblate (Polish)
  locales/pl.json
Due: autofix-translated-strings

Added translation using Weblate (Japanese)
  locales/ja.json
Due: autofix-translated-strings

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

apps: fix version.parse now refusing to parse legacy version numbers
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Revert "apps: fix version.parse now refusing to parse legacy version numbers"
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

regenconf: fix a stupid bug using chown instead of chmod ...
  hooks/conf_regen/43-dnsmasq
Due: none

Update changelog for 11.1.22
  debian/changelog
Due: none

Typo/wording
  share/actionsmap.yml
Due: test-actionmap

dyndns update is not deprecated because 'dns push' is not ready for dyndns ...
  share/actionsmap.yml
Due: test-actionmap

[CI] Format code with Black
  src/app.py
  src/diagnosers/12-dnsrecords.py
  src/tests/test_apps.py
  src/tests/test_appurl.py
  src/utils/resources.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

ocsp stapling: Use 1.1.1.1 and 9.9.9.9 instead of 8.8.8.8
  conf/nginx/server.tpl.conf
Due: none

regenconf/ssh: disable Banner by default
  conf/ssh/sshd_config
Due: none

Fix "output" var not existing ...
  bin/yunopaste
Due: none

yunopaste: anonymize_output is too harsh and not yunopaste's job + print_usage ain't called ...
  bin/yunopaste
Due: none

yunopaste: return link to the raw version, less confusing than haste's ui ...
  bin/yunopaste
Due: none

[fix/enh] Rewrite of yunopaste CLI tool (#1667)
  bin/yunopaste
Due: none

Revert "[fix/enh] Rewrite of yunopaste CLI tool (#1667)"
  bin/yunopaste
Due: none

Fix funky no_unsubscribe dyndns stuff in test_domains.py ...
  src/tests/test_domains.py
Due: none

quality: we don't really care about linter for the tests/ folder ...
  tox.ini
Due: none

Typo in i18n key
  src/dyndns.py
Due: test-i18n-keys

Simplify fpm add config helper (Bookworm) (#1685)
  helpers/php
Due: test-helpers

portalapi: fix split or user/password in auth code
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

apt: add signed-by clause to sury and yarn repo
  hooks/conf_regen/10-apt
Due: none

apt: always add yarn repo because it's annoying to have to deal with an extra repo in each nodejs app just to install a single package..
  hooks/conf_regen/10-apt
Due: none

portalapi: implement encrypted password storage in the user's cookie using AES256
  debian/control
  hooks/conf_regen/01-yunohost
  src/authenticators/ldap_ynhuser.py
  src/portal.py
Due: test-ldapauth, test-i18n-keys

helpers: in ynh_systemd_action, check the actual timestamp when checking for timeout, because for some reason journalctl may take a ridiculous amount of time to run
  helpers/systemd
Due: test-helpers

portalapi: add groups and apps list in infos returned by GET /me
  src/portal.py
Due: test-i18n-keys

quality: cleanup unused code
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

ci: for some reason the helper tests may be the reason the full-tests job sometimes crashes with no explanation ... let's try to keep it in a separate job to see if that indeed fixes the issue
  .gitlab/ci/test.gitlab-ci.yml
Due: none

portalapi: harden systemd service configuration
  conf/yunohost/yunohost-portal-api.service
Due: none

portalapi: add CORS headers ... though gotta revisit this later, I don't know what I'm doing
  conf/nginx/yunohost_api.conf.inc
Due: none

Unused imports
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

portalapi: woopsies
  conf/nginx/yunohost_api.conf.inc
Due: none

portal refactoring: the 'yunohost tile' thingy won't work anymore, gotta discuss what we want to do exactly
  conf/nginx/plain/yunohost_panel.conf.inc
Due: none

Fix typo
  locales/en.json
Due: test-i18n-keys, autofix-translated-strings

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
