Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-helpers, test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, remove-stale-translated-strings

test-helpers:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appscatalog:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-appurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-apps-arguments-parsing:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-changeurl:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-backuprestore:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

test-permission:
  stage: tests
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
    - DEBIAN_FRONTEND=noninteractive SUDO_FORCE_REMOVE=yes apt --assume-yes -o Dpkg::Options::="--force-confold" --allow-downgrades install ./$YNH_BUILD_DIR/*.deb
  cache:
  ...

remove-stale-translated-strings:
  stage: translation
  image: before-install
  needs: []
  before_script:
  - apt-get update -y && apt-get install git hub -y
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  ...

fix YNH_APP_BASEDIR during actions
  data/helpers.d/utils
Due: test-helpers

run actions in tmp dir
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Update src/yunohost/app.py
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

ci: Don't cd to src/yunohost to run pytest (to prevent ambiguous 'import dns.resolver' trying to import our own dns.py :s)
  .gitlab/ci/test.gitlab-ci.yml
Due: none

[fix] Default name for panel and improve no named section display in cli
  src/yunohost/utils/config.py
Due: none

[enh] Avoid to have to retype password in cli
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

Wording
  locales/en.json
  src/yunohost/utils/config.py
Due: remove-stale-translated-strings

debian: install the new domain config panel and registrar list toml to /usr/share
  data/other/registrar_list.yml
  debian/install
Due: none

avoid to retrieve final path in the config panel scripts
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

Fix duplicate cert routes
  data/actionsmap/yunohost.yml
Due: none

[fix) Pattern and empty string
  src/yunohost/utils/config.py
Due: none

Fix autofix-translated-strings job
  .gitlab/ci/translation.gitlab-ci.yml
Due: none

Fix test questions
  src/yunohost/tests/test_questions.py
Due: none

config get: Also inject ask strings in full mode
  src/yunohost/utils/config.py
Due: none

config helpers: Disable bash xtrace during ynh_read/write_var_from_file to avoid an horrendous amount of debug logs
  data/helpers.d/utils
Due: test-helpers

config/user question: raise an error if no user exists yet
  src/yunohost/utils/config.py
Due: none

install questions: domain/user/password don't need default or example values
  src/yunohost/app.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

autodns dryrun: return a proper dict/list structure instead of a raw string
  src/yunohost/dns.py
Due: none

log: Improve filtering of boring/irrelevant lines
  data/helpers.d/string
  data/helpers.d/utils
  src/yunohost/log.py
Due: test-helpers

log: log list was displaying much less entries than required on webadmin
  src/yunohost/log.py
Due: none

Fix tests: unbound variable during backup/restore
  data/helpers.d/utils
Due: test-helpers

autodns: minor simplification in create/delete/update strategy
  src/yunohost/dns.py
Due: none

autodns: Improve the push system to save managed dns record hashes, similar to the regenconf mecanism
  data/actionsmap/yunohost.yml
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: none

domain config: prevent a warning being raised because of unexpected value key
  src/yunohost/domain.py
Due: none

config/questions: fix alert display in cli
  src/yunohost/utils/config.py
Due: none

dns: fix typo in tests
  src/yunohost/tests/test_dns.py
Due: none

autodns dry-run: return a proper datastructure to the api instead of ~humanfriendly string
  src/yunohost/dns.py
Due: none

config: self.app may not be defined
  src/yunohost/utils/config.py
Due: none

autodns: small fix for Gandi which returns TXT record not prefixed/suffixed with quotes
  src/yunohost/dns.py
Due: none

[fix] Small fixes about file questions in config panel
  data/helpers.d/config
  src/yunohost/utils/config.py
Due: test-helpers

autodns: better error management + cli ux
  src/yunohost/dns.py
Due: none

[fix] Tags question
  src/yunohost/utils/config.py
Due: none

autodns: i18n
  locales/en.json
  src/yunohost/dns.py
  src/yunohost/domain.py
Due: remove-stale-translated-strings

autodns: misc fixes/enh
  data/other/config_domain.toml
  data/other/registrar_list.toml
  src/yunohost/dns.py
Due: none

config: fix rendering of core-defined strings during config set
  src/yunohost/utils/config.py
Due: none

domain config: Moar i18n
  locales/en.json
Due: remove-stale-translated-strings

Moaaar i18n
  locales/en.json
Due: remove-stale-translated-strings

[CI] Format code
  src/yunohost/app.py
  src/yunohost/log.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

config/question: broadcast data to redact to all OperationLogger instances
  src/yunohost/app.py
  src/yunohost/tests/test_questions.py
  src/yunohost/utils/config.py
Due: test-apps, test-appscatalog, test-appurl, test-apps-arguments-parsing, test-changeurl

autodns: return relative name in dry run output
  src/yunohost/dns.py
Due: none

Path conditions:
  test-helpers: any of: data/helpers.d/*
  test-apps: any of: src/yunohost/app.py
  test-appscatalog: any of: src/yunohost/app.py
  test-appurl: any of: src/yunohost/app.py
  test-apps-arguments-parsing: any of: src/yunohost/app.py
  test-changeurl: any of: src/yunohost/app.py
  test-backuprestore: any of: src/yunohost/backup.py
  test-permission: any of: src/yunohost/permission.py
  test-settings: any of: src/yunohost/settings.py
  test-user-group: any of: src/yunohost/user.py
  test-regenconf: any of: src/yunohost/regenconf.py
  test-service: any of: src/yunohost/service.py
  remove-stale-translated-strings: any of: locales/*
