Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys, autofix-translated-strings

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-service:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-ldapauth:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Translated using Weblate (Slovak)
  locales/sk.json
Due: autofix-translated-strings

Translated using Weblate (Italian)
  locales/it.json
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

Translated using Weblate (Basque)
  locales/eu.json
Due: autofix-translated-strings

Translated using Weblate (Spanish)
  locales/es.json
Due: autofix-translated-strings

doc:options: add documentation and generator for configpanel/manifest options
  doc/generate_options_doc.py
  src/utils/form.py
Due: none

doc:form: complete with ljf comments found in app example
  doc/generate_options_doc.py
  src/utils/form.py
Due: none

doc:configpanel: add ConfigPanel doc with part of lfj comment in app example_ynh
  doc/generate_configpanel_doc.py
  src/utils/configpanel.py
Due: none

doc: fix page routes and inconsistencies
  doc/generate_configpanel_doc.py
  doc/generate_options_doc.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

doc:config: add ljf's advanced config panel doc
  doc/generate_configpanel_doc.py
  doc/generate_options_doc.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

doc:config: misc cosmetics fix
  doc/generate_options_doc.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

doc:config fix missing aleks additions
  doc/generate_configpanel_doc.py
  doc/generate_options_doc.py
  src/utils/configpanel.py
Due: none

configpanel: forbid extra props on BaseOption + accordingly fix tests
  src/tests/test_questions.py
  src/utils/form.py
Due: none

configpanel: add proper schema definition
  doc/generate_json_schema.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Update docker-image-extract
  helpers/vendor/docker-image-extract/LICENSE
  helpers/vendor/docker-image-extract/README.md
  helpers/vendor/docker-image-extract/docker-image-extract
Due: none

fix an error in dump_script_log_extract_for_debugging
  src/log.py
Due: test-i18n-keys

Rename helper into "ynh_exec_and_print_stderr_only_if_error"
  helpers/logging
Due: test-helpers

debian: move yunohost-portal to 'Recommends' ... mainly to bypass issue on the CI, but also because it sounds legit ... not 100% about this ?
  debian/control
Due: none

debian: require moulinette, ssowat, yunohost-portal to be >= 12.0
  debian/control
Due: none

configpanels: fix app `is_default` + dns alert style
  src/app.py
  src/dns.py
Due: test-dns, test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

regenconf/portal: fix attempt to chown before the user is created
  hooks/conf_regen/01-yunohost
Due: none

doc: iterate on configpanel/form documentation
  doc/generate_configpanel_and_formoptions_doc.py
  doc/generate_configpanel_doc.py
  doc/generate_options_doc.py
  src/utils/configpanel.py
  src/utils/form.py
Due: none

ci/doc: add call to new configpanel/form doc generator, similar to what's done for helpers and app resources
  .gitlab/ci/doc.gitlab-ci.yml
Due: none

quality: unused import
  src/utils/legacy.py
Due: none

quality: fix typo, handle mypy error
  src/utils/resources.py
Due: test-app-resources

Disable resolve ip
  src/firewall.py
Due: test-i18n-keys

configpanel: add `bind` prop to SectionModel + PanelModel
  src/utils/configpanel.py
Due: none

let dovecot create folders on first login
  conf/dovecot/dovecot.conf
Due: none

typing: fix logger typing + ignore weird constructors
  src/settings.py
  src/utils/configpanel.py
Due: test-settings, test-i18n-keys

fix generated logrotate config file perms
  helpers/logrotate
Due: test-helpers

apply perms to the right file (I'm so tired lmao)
  helpers/logrotate
Due: test-helpers

fix indent
  helpers/logrotate
Due: test-helpers

make sure the logfile exists before reloading fail2ban
  helpers/fail2ban
Due: test-helpers

update docs
  helpers/fail2ban
Due: test-helpers

revert: wrong branch :sob:
  helpers/fail2ban
Due: test-helpers

Don't make so many queries for user info when building UserOption form
  src/utils/form.py
Due: none

Only warn that mailbox is disabled for admins
  src/user.py
Due: test-user-group, test-i18n-keys

Path conditions:
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
  autofix-translated-strings: any of: locales/*
